<template name="ionActionSheet">
  <div class="action-sheet-backdrop">
    <div class="action-sheet-wrapper">
      <div class="action-sheet">
        <div class="action-sheet-group">
          {{#if titleText}}
            <div class="action-sheet-title">
              {{titleText}}
            </div>
          {{/if}}
          {{#each buttons}}
            {{#if ../modalClose}}
              <button class="button" data-index="{{index}}" data-dismiss="modal">{{{text}}}</button>
            {{else}}
              <button class="button" data-index="{{index}}">{{{text}}}</button>
            {{/if}}
          {{/each}}
        </div>
        {{#if destructiveText}}
          <div class="action-sheet-group">
            <button class="button destructive" data-destructive>{{{destructiveText}}}</button>
          </div>
        {{/if}}
        {{#if cancelText}}
          <div class="action-sheet-group">
            <button class="button" data-cancel>{{{cancelText}}}</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>