<template name="account">
<div>
    <router-link :to="{ name: 'listMembersDetailCitoyens', params: '{ _id=orgaCibleId citoyenId=currentUser._id}'}" class="item item-borderless item-icon-left" data-ion-menu-close>
    <i class="icon ion-card positive"></i>
    <div v-if="settingOceco.account">

      <div v-if="settingOceco.account.textVotreCreditTemps">
        {{settingOceco.account.textVotreCreditTemps}}
      </div>
      <div v-else>
        {{ $t("message.YourTimeCredit") }}
      </div>
      <span class="badge badge-positive">{{userCredit}}
        <div v-if="settingOceco.account.textUnite">
          {{settingOceco.account.textUnite}}
        </div>
        <div v-else>R</div>
      </span>
        <!-- {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}</span> -->
    </div>
    <div v-else>
      <i class="icon ion-card positive"></i> {{ $t("message.YourTimeCredit") }} <span class="badge badge-positive">{{userCredit}}
        R</span>
    </div>
    </router-link>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */


import './notifications/notifications.js';


import './components/scope/item.js';



export default {
  name: "account",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>