<template name="generateQRCode">
<div>
  <div v-if="getQRcode">
    <img src="{{getQRCode}}">
  </div>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import QRCode from 'qrcode';

import './notifications/notifications.js';

import './components/scope/item.js';


export default {
  name: "generateQRcode",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    const instance = this;
  instance.Qrcode = new ReactiveVar();
  QRCode.toDataURL(this.data.url)
    .then((url) => {
      // console.log(url);
      instance.Qrcode.set(url);
    })
    .catch((err) => {
      console.error(err);
    });
  },
  meteor: {
    getQRCode() {
    const instance = Template.instance();
    return instance.Qrcode.get();
  },

  },
  methods: {

  }
};
</script>