// PLus haut niveau
<template name="layoutDefault">
<div>
          <div class="bar bar-header bar-stable">
            <h1 class="title">OCECO</h1>
            <button class="button button-clear pull-right" data-ion-menu-close>
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
          <div class="content has-header">
            <div class="list">
              <div v-if="currentUser">
                <div
                  class="item item-borderless item-stable {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}item-avatar{{/if}}">
                  <!-- {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}} -->
                  <div v-if="currentUser.profile.pixelhumain.profilThumbImageUrl">
                    <!-- {{> imgDoc profilThumbImageUrl=currentUser.profile.pixelhumain.profilThumbImageUrl}} -->
                     <imgDoc profilThumbImageUrl="currentUser.profile.pixelhumain.profilThumbImageUrl">
                  </div>
                  <h2>
                      <router-link :to="{ name: 'detailList', params: '{ _id=currentUser._id scope=citoyens}'}" class="positive" >
                      {{currentUser.profile.pixelhumain.name}}</router-link></h2>
                  <p>{{currentUser.profile.pixelhumain.email}}</p>
                </div>

                <div v-if="orgaCibleId">
                  <!-- {{> orgaBloc scope=scope}} -->
                  <orgaBloc scope=scope/>
                </div>
                 /
                  <div v-else-if="scope.maitre">
                    <!-- {{> orgaMaitre scope=scope.maitre}} -->
                    <orgaMaitre scope=scope.maitre />
                  <!-- {{>account}} -->
                  <account />
                  </div>


                <a class="item item-stable item-icon-right" href="{{pathFor 'notifications'}}"
                  data-ion-menu-close>
                  <router-link :to="{ name: 'notifications'}" class="item item-stable item-icon-right">
                  {{ $t("message.Notifications") }}
                  <span class="badge badge-positive">
                    <div v-if="notificationsCount">
                      {{notificationsCount}}
                    </div>
                    <div v-else>
                      0
                    </div>
                  </span></router-link>

                <!-- <a class="item item-borderless item-stable item-icon-right" href="{{pathFor 'switch'}}"
                  data-ion-menu-close> -->
                  <router-link :to="{ name: 'switch'}" class="item item-borderless item-stable item-icon-right">
                    {{ $t("message.ChangeOrganization") }} <i class="icon fa fa-repeat"></i></router-link>

                <!-- <a class="item item-borderless item-stable item-icon-right" href="{{pathFor 'signOut'}}"
                  data-ion-menu-close> -->
                  <router-link :to="{ name: 'signOut'}" class="item item-borderless item-stable item-icon-right">
                  {{ $t("message.logout") }} <ion-icon icon="log-out"/></router-link>

                <!-- {{#if notCordova}}
                  {{#if isMobile}}

                  {{else}}
                    {{> podomoroPlayer}}
                  {{/if}}

                {{/if}} -->

              </div>
            </div>
          </div>

        <!-- {{#ionSideMenu side="right"}} -->
        <div class='side-menu'>
          <div class="bar bar-header bar-stable">
            <button class="button button-clear pull-left" data-ion-menu-close>
              <i class="icon ion-ios-arrow-left"></i>
            </button>
            <h1 class="title"><i class="icon ion-android-notifications"></i> {{ $t("message.Notifications") }}</h1>
          </div>
          <div class="content has-header">

            <!-- {{> notificationsListSwipMenu notifications=notifications allReadChecked=(allReadChecked notificationsCountRead)}} -->
            // Template à migrer
            <notificationsListSwipMenu notifications=notifications allReadChecked=(allReadChecked notificationsCountRead)/>

          </div>
        </div>

      <!-- {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-stable"}}

        {{#ionNavView}}
          {{> yield}} -->
       <div class="nav-bar-active">
          <!-- {{#if isConnected}} -->
          <div v-if="isConnected">
            <!-- {{#if scope.isMembers}} -->
            <div v-if="scope.isMembers">
              <!-- {{#if orgaCibleId}} -->
              <div v-if="orgaCibleId">
                <!-- {{#if routeSwitch}} -->
                <div v-if="routeSwitch">
                  <!-- {{#ionTabs class="tabs-dark tabs-icon-top" style="ios"}}
                    {{> ionTab title=(__ "home") path="home" iconOff="ios-home" iconOn="ios-home"}} -->
                    <router-link :to="{ name: 'home' }" :title="$t('message.home')">
                      <ion-icon name="time"></ion-icon>
                    </router-link>
                    <!-- {{#if settingOceco.wallet}} -->
                    <div v-if="settingOceco.wallet">
                      <!-- {{#if settingOceco.wallet.textBouton}} -->
                      <div v-if="settingOceco.wallet.textBouton">
                        <!-- {{> ionTab title=settingOceco.wallet.textBouton path="walletOrga" orgaCibleId=orgaCibleId iconOff="clock" iconOn="clock"}} -->
                        <router-link :to="{ name: 'walletOrga', params: '{ orgaCibleId=orgaCibleId}'}" v-bind:title='$t("message.textBouton")'>
                          <ion-icon name="time"></ion-icon>
                        </router-link>
                      </div>
                      <div v-else>
                        <!-- {{> ionTab title=(__ "Time space") path="walletOrga" orgaCibleId=orgaCibleId iconOff="time" iconOn="time"}} -->
                        <router-link :to="{ name: 'walletOrga', params: '{ orgaCibleId=orgaCibleId}'}" v-bind:title='$t("message.TimeSpace")' >
                              <ion-icon name="time"></ion-icon>
                        </router-link>
                      </div>
                    </div> 
                    <div v-else>
                      <!-- {{> ionTab title=(__ "Time space") path="walletOrga" orgaCibleId=orgaCibleId iconOff="time" iconOn="time"}} -->
                      <router-link :to="{ name: 'walletOrga', params: '{ orgaCibleId=orgaCibleId}'}" v-bind:title='$t("message.TimeSpace")'  >
                          <ion-icon name="time"></ion-icon>
                        </router-link>
                    </div>
                </div>
                <div v-if="isAdminRaf">
                      <!-- {{> ionTab title="Admin" path="adminDashboardOrga" orgaCibleId=orgaCibleId iconOff="compose" iconOn="compose"}} -->
                      <router-link :to="{ name: 'adminDashboardOrga', params: '{ orgaCibleId=orgaCibleId}'}" title="Admin">
                          <ion-icon name="compose"></ion-icon>
                        </router-link>
                </div>
                  <div v-if="settingOceco.agenda">
                      <!-- {{> ionTab title="Agenda" path="listEventsOrga" orgaCibleId=orgaCibleId iconOff="ios-calendar" iconOn="ios-calendar"}} -->
                      <router-link :to="{ name: 'listEventsOrga', params: '{ orgaCibleId=orgaCibleId}'}" title='Agenda'>
                          <ion-icon name="calendar"></ion-icon>
                        </router-link>
                  </div>
                  <!-- {{/ionTabs}} -->
                </div>
              </div>
            </div>
          
          </div>



    <!-- {{> meteorStatus lang=langChoix overlay=true}} -->


  </div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */
import { Meteor } from 'meteor/meteor';
import { Router } from 'meteor/iron:router';
import { Mongo } from 'meteor/mongo';
import { ReactiveVar } from 'meteor/reactive-var';
import { ActivityStream } from '../api/collection/activitystream.js';


import './notifications/notifications.js';

import './pixel.html';

import { Organizations } from '../api/collection/organizations.js';
import { Citoyens } from '../api/collection/citoyens.js';
import { Projects } from '../api/collection/projects.js';

import './components/scope/item.js';

import { Pomodoro } from '../api/client/podomoro.js';

import './rooms/actions/podomoro/podomoro.html';
import './rooms/actions/podomoro/podomoro.js';
import account from './account.vue'
import orgaBloc from './orgaBloc.vue'
import orgaMaitre from './orgaMaitre.vue'
import IonIcon from '@ionic/vue'
import { time } from '@ionicon/icons'
import imgDoc from '../images/imgDoc.vue'

export default {
  name: "layoutDefault",
  components: {
    account,
    orgaBloc,
    orgaMaitre,
    imgDoc,
    IonIcon,
  },
  data() {
    return { time };
  },
  mounted () {

  },
  created() {
    Meteor.subscribe('notificationsCountUser');

  this.ready = new ReactiveVar(false);
  this.autorun(function () {
    if (Session.get('orgaCibleId')) {
      const handleScopeDetail = Meteor.subscribe('scopeDetail', 'organizations', Session.get('orgaCibleId'));
      const handleDirectoryListProjects = Meteor.subscribe('directoryListProjects', 'organizations', Session.get('orgaCibleId'));
      const handleCitoyen = Meteor.subscribe('citoyen');
      if (handleCitoyen.ready()) {
        // Pomodoro.podomoroSessionSetDefault('pomodoroTimeWork', StatusTimes.work);
        // Pomodoro.podomoroSessionSetDefault('pomodoroTimeShortRest', StatusTimes.short_rest);
        // Pomodoro.podomoroSessionSetDefault('pomodoroTimeLongRest', StatusTimes.long_rest);
      }

      if (handleScopeDetail.ready() && handleDirectoryListProjects.ready() && handleCitoyen.ready()) {
        /* "oceco" : {
        "pole" : true,
        "organizationAction" : false,
        "projectAction" : false,
        "eventAction" : true,
        "commentsAction": false,
        "memberAuto" : false,
        "memberValidationInviteAuto" : false,
        "contributorValidationInviteAuto" : false,
        "agenda" : true,
        "costum" : {
            "projects" : {
                "form" : {
                    "geo" : false
                }
            },
            "events" : {
                "form" : {
                    "geo" : false
                }
            }
        },
        account: {
          textVotreCreditTemps:'Votre crédit temps',
          textUnite : 'R'
        },
        home: {
          textTitre: 'Choix du pole',
          textInfo: 'Sur cette page vous devrez choisir parmis les differents poles de votre organisation afin de voir les évenements et les actions qui en font partie. Si vous voulez voir les évenement par date merci de vous rendre dans "agenda"'
        },
        wallet: {
          textBouton: 'Espace temps',
          textTitre: 'Espace temps',
          textInfo: 'Votre éspace temps vous permet de voire à la fois vos crédits temps gagné ou dépensés et vos actions futur et à venir',
          coupDeMain: {
            textBouton: 'Coup de main',
            textTitre: 'Coup de main',
            textInfo: 'C\'est la liste de toute vos actions à faire au quels vous êtes inscrit'
          },
          enAttente: {
            textBouton: 'En attente',
            textTitre: 'En attente',
            textInfo: 'C\'est la liste de toute vos actions finis qui doivent êtres validé par un administrateur'
          },
          valides: {
            textBouton: 'Validés',
            textTitre: 'Validés',
            textInfo: 'C\'est la liste de vos 100 dernières anciennes actions qui vous ont rapporté ou qui vous ont couté des crédits'
          }
        }
    } */
        const orgaOne = Organizations.findOne({
          _id: new Mongo.ObjectID(Session.get('orgaCibleId')),
        });
        if (orgaOne && orgaOne.oceco) {
          Session.setPersistent('settingOceco', orgaOne.oceco);
          this.ready.set(handleScopeDetail.ready());
        }
        if (Meteor.user() && Meteor.user().profile && Meteor.user().profile.pixelhumain && Session.get('orgaCibleId')) {
          if (orgaOne && orgaOne.isMembers()) {
            Session.setPersistent(`isMembreOrga${Session.get('orgaCibleId')}`, true);
          }

          if (orgaOne && orgaOne.isAdmin()) {
            Session.setPersistent(`isAdmin${Session.get('orgaCibleId')}`, true);
            Session.setPersistent(`isAdminOrga${Session.get('orgaCibleId')}`, true);
          } else {
            const userC = Citoyens.findOne({ _id: new Mongo.ObjectID(Meteor.userId()) }, { fields: { pwd: 0 } });
            if (orgaOne && orgaOne.links && orgaOne.links.projects && userC && userC.links && userC.links.projects) {
              // eslint-disable-next-line no-unused-vars
              const arrayIds = Object.keys(orgaOne.links.projects)
                .filter((k) => userC.links.projects[k] && userC.links.projects[k].isAdmin && !userC.links.projects[k].toBeValidated && !userC.links.projects[k].isAdminPending && !userC.links.projects[k].isInviting)
                // eslint-disable-next-line array-callback-return
                .map((k) => new Mongo.ObjectID(k));
              // ? info : on compte pour sur que le projets soit parent
              const countProject = Projects.find({ _id: { $in: arrayIds } }).count();
              const isAdmin = !!(countProject > 0);
              Session.setPersistent(`isAdmin${Session.get('orgaCibleId')}`, isAdmin);
              Session.setPersistent(`isAdminOrga${Session.get('orgaCibleId')}`, false);
            }
          }
        }
      }
    }
  }.bind(this));

  this.autorun(function () {
    if (Citoyens.findOne({ _id: new Mongo.ObjectID(Meteor.userId()) }, { fields: { 'oceco.pomodoroTimeWork': 1, 'oceco.pomodoroTimeShortRest': 1, 'oceco.pomodoroTimeLongRest': 1 } })) {
      const citoyenOne = () => (Meteor.userId() && Citoyens.findOne({ _id: new Mongo.ObjectID(Meteor.userId()) }, { fields: { oceco: 1 } }) ? Citoyens.findOne({ _id: new Mongo.ObjectID(Meteor.userId()) }, { fields: { oceco: 1 } }) : null);
      if (citoyenOne && citoyenOne().oceco) {
        // Pomodoro.podomoroSessionSet('pomodoroTimeWork', (citoyenOne().oceco.pomodoroTimeWork * 60) || StatusTimes.work);
        // Pomodoro.podomoroSessionSet('pomodoroTimeShortRest', (citoyenOne().oceco.pomodoroTimeShortRest * 60) || StatusTimes.short_rest);
        // Pomodoro.podomoroSessionSet('pomodoroTimeLongRest', (citoyenOne().oceco.pomodoroTimeLongRest * 60) || StatusTimes.long_rest);
      }
    }
  });
    
  },
  meteor: {
    scope() {
    const orgaOne = Organizations.findOne({
      _id: new Mongo.ObjectID(Session.get('orgaCibleId')),
    });
    return orgaOne;
  },
  allReadChecked(notificationsCount) {
    if (notificationsCount === 0) {
      return 'checked';
    }
    return undefined;
  },
  notifications() {
    return ActivityStream.api.isUnread();
  },
  routeSwitch() {
    return Router.current().route.getName() !== 'switch';
  },
  lastPlayedTask() {
    return Pomodoro.podomoroSessionGet('lastPlayedTask');
  },

  },
  methods: {
//     Template.layout.events({
//   'click [target=_blank]'(event) {
//     event.preventDefault();
//     const url = $(event.currentTarget).attr('href');
//     if (Meteor.isCordova) {
//       cordova.InAppBrowser.open(url, '_system');
//     } else {
//       window.open(url, '_blank');
//     }
//   },
//   'click [target=_system]'(event) {
//     event.preventDefault();
//     const url = $(event.currentTarget).attr('href');
//     if (Meteor.isCordova) {
//       cordova.InAppBrowser.open(url, '_system');
//     } else {
//       window.open(url, '_system');
//     }
//   },
//   'change .all-read input'() {
//     Meteor.call('allSeen');
//     Meteor.call('allRead');
//   },
//   'click .all-seen'() {
//     Meteor.call('allSeen');
//   },
// });


  }
};
</script>