<template name="orgaMaitre">
  <div v-if="scope">
      <router-link :to="{ name: 'detailListOrga', params: '{ orgaCibleId=scope._id._str _id=scope._id._str scope=organizations}'}" class='item' data-ion-menu-close>
        <span class="positive"> <i class="icon fas fa-level-up-alt"></i> {{scope.name}}</span>
      </router-link>
  </div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */

import './notifications/notifications.js';


import './components/scope/item.js';




export default {
  name: "orgaMaitre",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>