<template name="orgaBloc">
<div>
  <div v-if="scope">
    <div v-if="isMembreOrga">
        <router-link :to="{ name: 'detailListOrga', params: '{ orgaCibleId=scope._id._str _id=scope._id._str scope=organizations}'}" v-bind:class=" scope.profileThumbImageUrl ? 'item-avatar' : 'item'" data-ion-menu-close>
        <div v-if="scope.profilThumbImageUrl">
          <!-- {{> imgDoc profilThumbImageUrl=scope.profilThumbImageUrl}} -->
          <imgDoc profilThumbImageUrl=scope.profilThumbImageUrl />
        </div>
        {{scope.name}}
        <p>{{scope.description}}</p>
        </router-link>
    </div>
    <div v-else>
        <router-link :to="{ name: 'switchRedirect', params: '{ _id=scope._id._str}'}" v-bind:class=" scope.profileThumbImageUrl ? 'item-avatar' : 'item'" data-ion-menu-close>
        <div v-if="scope.profilThumbImageUrl">
          <!-- {{> imgDoc profilThumbImageUrl=scope.profilThumbImageUrl}} -->
          <imgDoc profilThumbImageUrl=scope.profilThumbImageUrl />
        </div>
        {{scope.name}}
        <p>{{scope.description}}</p>
        </router-link>
    </div>
  </div>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */

import './notifications/notifications.js';
import './components/scope/item.js';
import imgDoc from '../images/imgDoc.vue'

export default {
  name: "orgaBloc",
  components:{
    imgDoc,
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>