<template name="shareUrl">
<div>
  <!-- {{#ionModal customTemplate=true}} -->
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{ $t('ShareUrl') }}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{ $t("url") }}
        </div>

        <label type="placeholder" for="" placeholderonly="true" class="item item-input">
          <i class="icon fa fa-calendar-alt positive dark placeholder-icon"></i>
          <input type="text" placeholder="" name="shareurl" value="{{shareUrl}}"
            icon="fa fa-greater-than-equal positive" @focus="handleFocusInput">
        </label>
        <!-- {{#unless isAndroid}} -->
        <div v-if="isAndroid">
          <div class="item">
            <button id="copyurl" @click="handleCopyUrl" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
              {{ $t("message.Copy") }}</button>
          </div>
        </div>
        <div v-else>
          <div class="item item-text-wrap">
            {{ $t('message.Use_the_copy_function_when_you_click_on_the_field_where_there_is_the_link') }}
          </div>
        </div>
        <!-- {{/unless}} -->
        <div v-if="canShare">
          <div class="item">
            <button id="shareurl" class="button button-block button-positive"><i class="fa fa-share-alt"></i>
              {{ $t("message.Share") }}</button>
          </div>
        </div>
        <div class="item text-center">
          <generateQRCode url=shareUrl />
        </div>
      </div>
    </div>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */
import { Meteor } from 'meteor/meteor';


import './notifications/notifications.js';


import './components/scope/item.js';



export default {
  name: "shareUrl",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {
    shareUrl() {
    return Meteor.absoluteUrl(window.location.pathname.replace(/\//, ''));
  },
  canShare() {
    return navigator.share;
  },

  },
  methods: {
    handleFocusInput(event) {
      event.preventDefault();
    const element = instance.find('input[name="shareurl"]');
    element.select();
    },
    handleCopyUrl(event){
      event.preventDefault();
    const element = instance.find('input[name="shareurl"]');
    element.select();
    navigator.permissions.query({ name: 'clipboard-write' }).then((result) => {
      if (result.state === 'granted' || result.state === 'prompt') {
        navigator.clipboard.writeText(element.value).then(function () {
          /* clipboard successfully set */
        }, function () {
          /* clipboard write failed */
        });
      }
    });
    },
    handleShareUrl(event){
      event.preventDefault();
    const element = instance.find('input[name="shareurl"]');
    element.select();
    if (navigator.share) {
      navigator.share({
        url: element.value,
      })
        .then(() => console.log('Successful share'))
        .catch((error) => console.log('Error sharing', error));
    }
  },

  

  }
};
</script>