<template name="podomoroPlayer">
    {{#if dataReady}}

        {{#with actionFindOne}}
            {{#if userNotTerminated}}
                {{#if equals status 'todo'}}

                    <div class="item item-divider">
                        <h2><i class="fa fa-tasks"></i> {{__ "Pomodoro"}}</h2>
                    </div>
                    <div class="item item-light item-text-wrap text-center pomodoro-player">
                        <div class="text-center controls">
                            {{#if equals statusPodomoroActual 'resting'}}
                                <span class="bold balanced h4">{{__ "Rest time"}}</span>
                            {{else}}
                                <a href="{{pathFor 'actionsDetail' _id=parentId scope=parentType roomId=idParentRoom actionId=_id._str}}"
                                    class="h4 dark subdued">{{name}}</a>
                            {{/if}}
                            <div class='timer padding'>
                                <span class="h2 bold">
                                    {{#if equals statusPodomoroActual 'resting'}}
                                        <i class="fa fa-coffee"></i>
                                    {{else}}
                                        <i class="fa fa-stopwatch"></i>
                                    {{/if}}
                                </span>
                                <span class="popup h2 bold {{statusTxt}}">{{timer}}</span>
                            </div>
                            {{#if nequals statusPodomoroActual 'resting'}}
                                <div class='options'>
                                    <button class="button button-{{statusCss}} {{statusLecteur}}">
                                        <i class="fa fa-{{statusLecteur}}"></i>
                                    </button>

                                    <button class="button button-assertive reset">
                                        <i class="fa fa-stop"></i>
                                    </button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    {{status}}
                    status no
                {{/if}}
            {{else}}

            {{/if}}
        {{/with}}
    {{/if}}
</template>