<template>
  <div class="rubyonic-pane">
  <div class="menu-left">
  </div>
    <h1 class="title">OCECO</h1>

    <div class="logo">
      <img src="/oceco_red_gris.png" alt="" class="animated jello" />
    </div>

    <form class="login-form" @submit.prevent="handleSubmit">
      <div v-if="error" class="padding form-rb-plain">
        <div class="card">
          <div class="item item-text-wrap animated shake homestead text-center">
            {{ $t(error) }}
          </div>
        </div>
      </div>
      <div class="animated fadeInLeft list" data-snap-ignore="true">
        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-email"></i>
          </span>
          <input
            type="email"
            id="email"
            required
            v-model="email"
            v-bind:placeholder="$t('message.email')"
          />
        </label>

        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-locked"></i>
          </div>
          <input
            type="password"
            id="password"
            required
            v-model="password"
            v-bind:placeholder="$t('message.password')"
          />
        </label>
      </div>

      <div class="animated fadeInUp padding">
        <button
          type="submit"
          v-bind:class="
            loadingLogging
              ? 'animated infinite jello'
              : 'button button-block button-positive'
          "
        >
          {{ $t("message.login") }}
        </button>
      </div>

      <div class="animated fadeInUp padding homestead text-center">
        {{ $t("message.createaccount") }}
        <router-link to="/signin" class="homestead dark">
          {{ $t("message.signin") }}
        </router-link>
      </div>

      <div class="animated fadeInUp padding homestead text-center">
        <router-link to="/password-lost" class="homestead dark">
          {{ $t("message.forgotPassword") }}
        </router-link>
      </div>
    </form>
    <div class="snap-menu-right">
    </div>
  </div>
</template>
<script>
import { Meteor } from "meteor/meteor";

// helpers
import { IsValidEmail } from "meteor/froatsnook:valid-email";

import { pageSession } from "../../../api/client/reactive.js";
import position from "../../../api/client/position.js";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
    };
  },

  created() {
    pageSession.set("error", false);
    pageSession.set("loading-logging", false);
  },

  mounted() {
    pageSession.set("error", false);
  },

  meteor: {
    loadingLogging() {
      return pageSession.get("loading-logging");
    },
    error() {
      return pageSession.get("error");
    },
  },
  methods: {
    handleSubmit(event) {
      if (!this.email || !this.password) {
        pageSession.set("error", 'message.allfields');
        return;
      }
      if (!IsValidEmail(this.email)) {
        pageSession.set("error", 'message.emailNotValid');
        return;
      }
      pageSession.set("loading-logging", true);

      Meteor.loginAsPixel(this.email, this.password, (error) => {
        if (!error) {
          pageSession.set("loading-logging", false);
          pageSession.set("error", null);
          return this.$router.push("/home");
        }
        // console.log(error);
        pageSession.set("loading-logging", false);
        pageSession.set("error", error.reason);
        return null;
      });
    },
  },


};
</script>
<style>
.title {
  font-family: "Homestead", Regular;
  font-size: 17px;
  color: #e33551;
  border: solid #B2B2B2 1px;
  text-align:center;
  background-color:#f8f8f8;
  margin-top:0px;
  line-height:44px;

}
.login-form {
  padding: 45px;
}
.signup-form{
  padding: 45px;
}
.password-form{
  padding: 45px;
}

</style>
