<template>
  <div>
    <h1 class="title">OCECO</h1>

    <div class="logo">
      <img src="/oceco_red_gris.png" alt="" class="animated jello" />
    </div>

    <form class="password-form" @submit.prevent="handleRepassword">
      <div v-if="error" class="padding form-rb-plain">
        <div class="card">
          <div class="item item-text-wrap animated shake homestead text-center">
            {{ $t(error) }}
          </div>
        </div>
      </div>
      <div>
        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-email"></i>
          </span>
          <input
            type="email"
            id="email"
            v-bind:placeholder="$t('message.email')"
            required
            v-model="email"
          />
        </label>
      </div>

      <div class="animated fadeInUp padding">
        <button
          type="submit"
          v-bind:class="
            loadingLogging
              ? 'animated infinite jello'
              : 'button button-block button-positive'
          "
        >
          {{ $t("message.Send") }}
        </button>
      </div>

      <div class="animated fadeInUp padding homestead text-center">
        {{ $t("message.createaccount") }}
        <router-link to="/signin" class="homestead dark">
          {{ $t("message.signin") }}
        </router-link>
      </div>

      <div class="animated fadeInUp padding homestead text-center">
        {{ $t("message.alreadyCreatedAccount") }}
        <router-link to="/login" class="homestead dark">
          {{ $t("message.login") }}
        </router-link>
      </div>
    </form>
  </div>
</template>
<script>
import { Meteor } from "meteor/meteor";
// helpers
import { IsValidEmail } from "meteor/froatsnook:valid-email";

import { pageSession } from "../../../api/client/reactive.js";
import position from "../../../api/client/position.js";

export default {
  name: "PasswordLost",
  data() {
    return {
      email: "",
    };
  },
  created() {
    pageSession.set("error", false);
    pageSession.set("loading-logging", false);
  },

  mounted() {
    pageSession.set("error", false);
  },

  meteor: {
    loadingLogging() {
      return pageSession.get("loading-logging");
    },
    error() {
      return pageSession.get("error");
    },
  },
  methods: {
    handleRepassword(event) {
      if (!this.email) {
        pageSession.set('error', 'message.allfields');
        return;
      }

      if (!IsValidEmail(this.email)) {
        pageSession.set("error", 'message.emailNotValid');
        return;
      }
      pageSession.set("loading-logging", true);

      Meteor.call("sendEmailCoPass", { email }, (error, result) => {
        if (!error) {
          // Meteor.logoutOtherClients();
          pageSession.set("loading-logging", false);
          pageSession.set("error", null);
          // Ask
          if (this.result && this.result.msg) {
            
            alert("Nouveau mot de passe enregistré")

          }
          return this.$router.push("/");
        }
        // console.log(error);
        pageSession.set("loading-logging", false);
        pageSession.set("error", error.reason);
        return null;
      });
    },
  },
};
</script>
