<template>
  <div>
    <h1 class="title">OCECO</h1>

    <div class="logo">
      <img src="/oceco_red_gris.png" alt="" class="animated jello" />
    </div>
    <form class="signup-form" @submit.prevent="handleSubmit">
       <div v-if="error" class="padding form-rb-plain">
        <div class="card">
          <div class="item item-text-wrap animated shake homestead text-center">
            {{ $t(error) }}
          </div>
        </div>
      </div> 
      <div class="animated fadeInRight list" data-snap-ignore="true">
        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-person"></i>
          </div>
          <input
            type="text"
            id="name"
            required
            v-model="name"
            v-bind:placeholder="$t('message.name')"
          />
        </label>

        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-email"></i>
          </span>
          <input
            type="email"
            id="email"
            v-bind:placeholder="$t('message.email')"
            required
            v-model="email"
          />
        </label>

        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-person"></i>
          </div>
          <input
            type="text"
            id="username"
            v-bind:placeholder="$t('message.username')"
            required
            v-model="username"
          />
        </label>

        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-locked"></i>
          </div>
          <input
            type="password"
            id="password"
            v-bind:placeholder="$t('message.password')"
            required
            v-model="password"
          />
        </label>

        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-locked"></i>
          </div>
          <input
            type="password"
            id="repassword"
            v-bind:placeholder="$t('message.repassword')"
            v-model="repassword"
          />
        </label>

        <label class="item item-input">
          <div class="input-label">
            <i class="icon ion-home"></i>
          </div>
          <input
            v-on:keyup="handleCPChange"
            type="text"
            id="codepostal"
            v-bind:placeholder="$t('message.postcode')"
            v-model="codepostal"
          />
        </label>

        <label v-if="city" class="item item-input item-select">
          <div class="input-label">
            <i class="icon ion-location"></i>
          </div>
          <select name="city" id="city" v-model="selected">
            <option
              v-for="city in cities"
              v-bind:key="city._id"
              v-bind:value="city.insee"
            >
              {{ city.name }}
            </option>
          </select>
        </label>
      </div>
      <div class="animated fadeInUp padding">
        <button
          type="submit"
          v-bind:class="
            loadingLogging
              ? 'animated infinite jello'
              : 'button button-block button-positive'
          "
        >
          {{ $t("message.signin") }}
        </button>
      </div>

      <div class="animated fadeInUp padding homestead text-center">
        {{ $t("message.alreadyCreatedAccount") }}

        <router-link to="/login" class="homestead dark">
          {{ $t("message.login") }}
        </router-link>
      </div>
    </form>
  </div>
</template>
<script>
import { Meteor } from "meteor/meteor";
// helpers
import { IsValidEmail } from "meteor/froatsnook:valid-email";
import position from "../../../api/client/position.js";
import { pageSession } from "../../../api/client/reactive.js";

export default {
  name: "Signin",
  data() {
    return {
      name: "",
      email: "",
      username: "",
      password: "",
      repassword: "",
      codepostal: "",
      city: "",
    };
  },
  
  created() {
    pageSession.set("error", false);
    pageSession.set("loading-signup", false);
    pageSession.set("cities", null);
  },

  mounted() {
    pageSession.set("error", false);
    pageSession.set("cities", null);
    pageSession.set("codepostal", null);
    pageSession.set("cityselect", null);

    const geolocate = position.getGeolocate();
    // if (geolocate) {
    //    IonPopup.confirm({
    //     template: i18n.__("Use your current location"),
    //     onOk() {
    //       const geo = position.getLatlng();
    //       if (geo && geo.latitude) {
    //         const latlng = {
    //           latitude: parseFloat(geo.latitude),
    //           longitude: parseFloat(geo.longitude),
    //         };

    //         Meteor.call("getcitiesbylatlng", latlng, function (error, result) {
    //           if (result) {
    //             pageSession.set("codepostal", result.postalCodes[0].postalCode);
    //             pageSession.set("cityselect", result.insee);
    //             Meteor.call(
    //               "getcitiesbypostalcode",
    //               result.postalCodes[0].postalCode,
    //               function (errorPostal, data) {
    //                 if (data) {
    //                   pageSession.set("cities", data);
    //                 }
    //               }
    //             );
    //           }
    //         });
    //       }
    //     },
    //     cancelText: i18n.__("no"),
    //     okText: i18n.__("yes"),
    //   });
    // }
  },
  meteor: {
    loadingLogging() {
      return pageSession.get("loading⁻signup");
    },
    error() {
      return pageSession.get("error");
    },
    city() {
      return pageSession.get("cities");
    },
    citySelected() {
      if (pageSession.get("cityselect") === this.insee) {
        return "selected";
      }
      return undefined;
    },
    codepostal() {
      return pageSession.get("codepostal");
    },
  },
  methods: {
    handleCPChange(event) {
      if (event.currentTarget.value.length > 3) {
        Meteor.call(
          "getcitiesbypostalcode",
          event.currentTarget.value,
          function (error, data) {
            pageSession.set("cities", data);
          }
        );
      } else {
        pageSession.set("cities", null);
      }
    },
    handleSubmit(event) {
      pageSession.set("error", null);
      const trimInput = (val) => val.replace(/^\s*|\s*$/g, "");
      let city;
      const email = trimInput(event.target.email.value);
      const username = trimInput(event.target.username.value);
      const password = event.target.password.value;
      const repassword = event.target.repassword.value;
      const name = trimInput(event.target.name.value);
      const codepostal = trimInput(event.target.codepostal.value);
      if (event.target.city && event.target.city.value) {
        city = event.target.city.value;
      }
      // !codepostal || !city
      if (!this.email || !this.password || !this.repassword || !this.name || !this.username) {
        pageSession.set('error', 'message.allfields');
        return;
      }
      // Verifier Data

      const isValidName = (val) => {
        if (val.length >= 2) {
          return true;
        } 
          pageSession.set('error', 'message.nameTooShort');
          return false;
      };

      const isValidUsername = (val) => {
        if (val.length >= 6) {
          return true;
        } 
        pageSession.set('error', 'message.userNameTooShort');
        return false;
      };

      const isValidUsernameChar = (val) => {
        const urlRegEx = new RegExp(/^[a-z0-9-]+$/, "i");
        if (urlRegEx.test(val) === true) {
          return true;
        }
        pageSession.set('error', 'message.userNameIncorrect');
        return false;
        
      };

      const isValidPassword = (val) => {
        if (val.length > 7) {
          return true;
        }
        pageSession.set('error', 'message.passwordTooShort');
        return false;
        
      };

      // const IsValidEmail = (val) => {
      //   const emailRegEx = new RegExp(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/)
      //   if (emailRegEx.test(val) === true) {
      //     return true;
      //   } else {
      //     // this.$dtoast.pop({
      //     //           preset: "error",
      //     //           heading:"Erreur",
      //     //           content:"Email non valide",
                    
                
      //     //       })
      //    return false;
      //   }
      // }

      if (!isValidName(this.name)) {
        return;
      }
      if (!isValidUsername(this.username)) {
        return;
      }
      if (!isValidUsernameChar(this.username)) {
        return;
      }
      if (!IsValidEmail(this.email)) {
      pageSession.set('error', 'message.emailNotValid');
      return;
    }
      if (!isValidPassword(pthis.password)) {
        return;
      }
    //  if (!isValidCodepostal(codepostal)) {
    //   return;
    // } 
      if (this.password !== this.repassword) {
        pageSession.set("error", 'message.notSamePassword');
        return;
      }

      // verifier
      const user = {};
      user.email = email;
      user.password = password;
      user.name = name;
      user.username = username;
      user.repassword = repassword;
      if (codepostal) {
        user.codepostal = codepostal;
      }
      if (city) {
        // numero insee
        user.city = city;
      }
      pageSession.set("loading-signup", true);
      pageSession.set("error", null);

      // Create User in DB

      Meteor.call("createUserAccountRest", this.user, (error) => {
        if (error) {
          pageSession.set("loading-signup", false);
          
          pageSession.set("error", error.error);
        } else {
          Meteor.loginAsPixel(this.email, this.password, (err) => {
            if (!err) {
              pageSession.set("loading-signup", false);
              pageSession.set("error", null);

              return this.$router.push("/");
            }
            pageSession.set("loading-signup", false);
            if (err.reason === "notValidatedEmail") {
              // this.$swal{{icon: 'error',
              //            title: 'Erreur..',
              //            text: 'Email non valide ',
              //            }}
              alert("Email non valide")

              return this.$router.push("/login");
            }
            pageSession.set("error", err.reason);
            return false;
          });
        }
      });
    },
  },
};
</script>
