<template name="newsDetail">
  {{#contentFor "headerButtonLeft"}}
    {{#if scope._id._str}}
      {{>ionNavBackButton}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "news"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        <div class="list card">
          {{> newsDetailData scope=scope}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="newsDetailData">
  {{#with scope.new}}
    <div class="item {{#if authorNews.profilThumbImageUrl}}item-avatar{{/if}}">
      {{#if authorNews.profilThumbImageUrl}}
        {{> imgDoc profilThumbImageUrl=authorNews.profilThumbImageUrl resized="80x80"}}
      {{/if}}

      {{#if equals type 'activityStream'}}
        {{#if equals object.type 'proposals'}}
          <h2>{{objectNews.title}}</h2>
        {{else}}
          <h2>{{objectNews.name}}</h2>
        {{/if}}
      {{else}}
        <h2>
          {{#if equals targetIsAuthor 'true'}}
            <a href="{{pathFor 'detailList' _id=target.id scope=target.type}}"
              class="dark">{{#if name}}{{name}}{{else}}{{authorNews.name}}{{/if}}</a>
          {{else}}
            <a href="{{pathFor 'detailList' _id=authorNews._id._str scope='citoyens'}}"
              class="dark">{{#if name}}{{name}}{{else}}{{authorNews.name}}{{/if}}</a>
          {{/if}}
        </h2>
      {{/if}}

      {{#if nequals authorNews.name targetNews.name}}
        <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a>
        </p>
      {{/if}}

      <p><i class="icon ion-clock"></i> {{livestamp created}}
        {{#if equals scope.type 'public'}}<i class="icon fa fa-globe"></i>{{/if}}
        {{#if equals scope.type 'restricted'}}<i class="icon fa fa-connectdevelop"></i>{{/if}}
        {{#if equals scope.type 'private'}}<i class="icon fa fa-lock"></i>{{/if}}
      </p>
    </div>

    {{#if photoNewsAlbums}}
      <div class="item item-body" data-snap-ignore="true">
        {{#ionSlideBox}}
          {{#each photoNewsAlbums}}
            {{#ionSlide class="light-bg"}}
              <img src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/{{name}}"
                class="full-image photo-viewer" />
            {{/ionSlide}}
          {{/each}}
        {{/ionSlideBox}}
      </div>
    {{/if}}

    {{#if equals type 'activityStream'}}
      {{#if equals verb 'share'}}
        {{#if equals object.type 'news'}}
          <div class="item item-body">
            <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}"
                class="positive">{{targetNews.name}}</a> <a
                href="{{pathFor 'newsDetail' _id=object.authorId newsId=object.id scope=object.authorType}}">{{i18npref 'activitystream.verb' verb}}
                {{i18npref 'activitystream.type' object.type}}</a> :
              <a href="{{pathFor 'detailList' _id=object.authorId scope=object.authorType}}"
                class="positive">{{objectNews.authorName}}</a>
            </p>
            {{#if tags}}
              <p>
                {{#each tags}}
                  <a href="" class="positive"><i class="icon ion-pound"></i> {{this}}</a>
                {{/each}}
              </p>
            {{/if}}
          </div>
        {{else}}
          <div class="item item-body">
            <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}"
                class="positive">{{targetNews.name}}</a> {{i18npref 'activitystream.verb' verb}}
              {{i18npref 'activitystream.type' object.type}} :
              {{#if equals object.type 'rooms'}}
                <a href="{{pathFor 'roomsDetail' _id=target.id scope=target.type roomId=object.id}}"
                  class="positive">{{objectNews.name}}</a>
              {{else}}
                <a href="{{pathFor 'detailList' _id=object.id scope=object.type}}"
                  class="positive">{{objectNews.name}}</a>
              {{/if}}
            </p>
            {{#if tags}}
              <p>
                {{#each tags}}
                  <a href="" class="positive"><i class="icon ion-pound"></i> {{this}}</a>
                {{/each}}
              </p>
            {{/if}}
          </div>
        {{/if}}
      {{else}}
        <div class="item item-body">
          <p><a href="{{pathFor 'detailList' _id=target.id scope=target.type}}" class="positive">{{targetNews.name}}</a>
            {{i18npref 'activitystream.verb' verb}}
            {{i18npref 'activitystream.type' object.type}} :
            {{#if equals object.type 'rooms'}}
              <a href="{{pathFor 'roomsDetail' _id=target.id scope=target.type roomId=object.id}}"
                class="positive">{{objectNews.name}}</a>
            {{else if equals object.type 'actions'}}
              <a href="{{pathFor 'actionsDetail' _id=target.id scope=target.type roomId=objectNews.idParentRoom actionId=object.id}}"
                class="positive">{{objectNews.name}}</a>
            {{else if equals object.type 'proposals'}}
              <a href="{{pathFor 'proposalsDetail' _id=target.id scope=target.type roomId=objectNews.idParentRoom proposalId=object.id}}"
                class="positive">{{objectNews.title}}</a>
            {{else if equals object.type 'resolutions'}}
              <a href="{{pathFor 'resolutionsDetail' _id=target.id scope=target.type roomId=objectNews.idParentRoom resolutionId=object.id}}"
                class="positive">{{objectNews.title}}</a>
            {{else}}
              <a href="{{pathFor 'detailList' _id=object.id scope=object.type}}"
                class="positive">{{objectNews.name}}</a>
            {{/if}}
          </p>
          {{#if tags}}
            <p>
              {{#each tags}}
                <a href="" class="positive"><i class="icon ion-pound"></i> {{this}}</a>
              {{/each}}
            </p>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}

    {{#if text}}
      <div class="item item-body">
        {{{autolinker (textMentions text)}}}
        {{#if tags}}
          <p>
            {{#each tags}}
              <a href="" class="positive"><i class="icon ion-pound"></i> {{this}}</a>
            {{/each}}
          </p>
        {{/if}}
      </div>
    {{/if}}
    {{#unless ../share}}
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item"
          href="{{pathFor 'newsDetailComments' _id=../scope._id._str newsId=_id._str scope=../scope.scopeVar}}">
          <i class="icon fa fa-comment"></i>
          {{commentsCount}}
        </a>
        <a class="tab-item like-news" href="#">
          <i class="icon ion-thumbsup"></i>
          {{likesCount}}
        </a>
        <a class="tab-item dislike-news" href="#">
          <i class="icon ion-thumbsdown"></i>
          {{dislikesCount}}
        </a>
        {{#if equals scope.type 'public'}}
          <a href="{{pathFor 'share' _id=../scope._id._str scope=../scope.scopeVar newsId=_id._str}}" class="tab-item">
            <i class="icon fa fa-share"></i>
          </a>
        {{/if}}
        {{#if equals scope.type 'restricted'}}
          <a href="{{pathFor 'share' _id=../scope._id._str scope=../scope.scopeVar newsId=_id._str}}" class="tab-item">
            <i class="icon fa fa-share"></i>
          </a>
        {{/if}}
        {{#if isAuthor}}
          <a class="tab-item action-news" href="#">
            <i class="icon fa fa-cog"></i>
          </a>
        {{else}}
          {{#if ../scope.isAdmin}}
            <a class="tab-item action-news" href="#">
              <i class="icon fa fa-cog"></i>
            </a>
          {{/if}}
        {{/if}}
      </div>
    {{/unless}}
  {{/with}}
</template>

<template name="newsDetailOld">
  {{#contentFor "headerButtonLeft"}}
    {{#if scope._id._str}}
      {{>ionNavBackButton}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "news"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list card">
          {{#with scope.new}}
            <div class="item {{#if imageDoc authorNews._id._str}}item-avatar{{/if}}">
              {{#if imageDoc authorNews._id._str}}
                {{> imgDoc profilThumbImageUrl=authorNews.profilThumbImageUrl resized="80x80"}}
              {{/if}}
              <h2>
                {{#if equals targetIsAuthor 'true'}}
                  <a href="{{pathFor 'detailList' _id=target.id scope=target.type}}"
                    class="dark">{{#if name}}{{name}}{{else}}{{authorNews.name}}{{/if}}</a>
                {{else}}
                  <a href="{{pathFor 'detailList' _id=authorNews._id._str scope='citoyens'}}"
                    class="dark">{{#if name}}{{name}}{{else}}{{authorNews.name}}{{/if}}</a>
                {{/if}}
              </h2>
              <p><i class="icon ion-clock"></i> {{livestamp created}}
                {{#if equals scope.new.scope.type 'public'}}<i class="icon fa fa-globe"></i>{{/if}}
                {{#if equals scope.new.scope.type 'restricted'}}<i class="icon fa fa-connectdevelop"></i>{{/if}}
                {{#if equals scope.new.scope.type 'private'}}<i class="icon fa fa-lock"></i>{{/if}}
              </p>
            </div>
            {{#if photoNewsAlbums}}
              <div class="item item-body">
                {{#each photoNewsAlbums}}
                  <img src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/{{name}}"
                    class="full-image photo-viewer" />
                {{/each}}
              </div>
            {{/if}}
            {{#if text}}
              <div class="item item-body">
                {{{autolinker (textMentions text)}}}
                {{#if tags}}
                  <p>
                    {{#each tags}}
                      <a href="" class="positive"><i class="icon ion-pound"></i> {{this}}</a>
                    {{/each}}
                  </p>
                {{/if}}
              </div>
            {{/if}}
            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item"
                href="{{pathFor 'newsDetailComments' _id=scope._id._str newsId=_id._str scope=scope.Var}}">
                <i class="icon fa fa-comment"></i>
                {{commentsCount}}
              </a>
              <a class="tab-item like-news" href="#">
                <i class="icon ion-thumbsup"></i>
                {{likesCount}}
              </a>
              <a class="tab-item dislike-news" href="#">
                <i class="icon ion-thumbsdown"></i>
                {{dislikesCount}}
              </a>
              {{#if equals scope.new.scope.type 'public'}}
                <a href="{{pathFor 'share' _id=scope._id._str scope=scope.Var newsId=_id._str}}" class="tab-item">
                  <i class="icon fa fa-share"></i>
                </a>
              {{/if}}
              {{#if equals scope.new.scope.type 'restricted'}}
                <a href="{{pathFor 'share' _id=scope._id._str scope=scope.Var newsId=_id._str}}" class="tab-item">
                  <i class="icon fa fa-share"></i>
                </a>
              {{/if}}
              {{#if isAuthor}}
                <a class="tab-item action-news" href="#">
                  <i class="icon fa fa-cog"></i>
                </a>
              {{else}}
                {{#if ../scope.isAdmin}}
                  <a class="tab-item action-news" href="#">
                    <i class="icon fa fa-cog"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          {{/with}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>