// Ask
<template name="actionsMaintenance">
<div>
  <div class="item item-divider">
    {{ $t("message.actionsToBeDoneMoreThan") }}
  </div>
  <actionsMaintenanceItem monthStart="18" monthEnd="12" color="assertive" icon="fa fa-warning"  />
  <actionsMaintenanceItem monthStart="12" monthEnd="6" color="assertive" icon="fa fa-warning"  />
  <actionsMaintenanceItem monthStart="6" monthEnd="null" color="energized" icon="fa fa-warning"  />

  <div class="item item-divider">
    {{ $t("message.actionsToBeDoneNoContributorMoreThan") }}
  </div>

  <actionsMaintenanceItem monthStart="18" monthEnd="12" color="assertive" icon="fa fa-warning" contributor="false" />
  <actionsMaintenanceItem monthStart="12" monthEnd="6" color="assertive" icon="fa fa-warning" contributor="false" />
  <actionsMaintenanceItem monthStart="6" monthEnd="null" color="energized" icon="fa fa-warning" contributor="false" />
</div>
</template>
<script>
import { Meteor } from "meteor/meteor";
import actionsMaintenanceItem from "./actionsMaintenanceItem.vue";

export default {
  name: "actionsMaintencance",
  components: {
    actionsMaintenanceItem,
  },
  data() {
    return {};
  },
};
</script>
