<template name="actionsMaintenanceItem">
<div>
  <div class="item item-icon-left {{color}} {{event}}"><i class="icon {{icon}}">
  </i>
  <div v-if="monthEnd">
      <!-- {{__ "number_month" count=monthStart}} - {{__ "number_month" count=monthEnd}} -->
      {{ $t("message.numberMonth")}}{{count=monthStart }} - {{ $t("message.numberMonth") }}{{count=monthEnd }}
  </div>
  <div v-else>
    <!-- {{else}} {{__ "number_month" count=monthStart}}  -->
     {{ $t("message.numberMonth")}}{{count=monthStart}}
  <div>
    <span class="badge badge-{{color}}">{{maintenanceChiffreStartEndCount (monthStart,monthEnd,contributor)}}</span>
  </div>

<div v-if='!noList'>
    <div v-if="maintenanceChiffreStartEnd(monthStart, monthEnd, contributor)">

      <!-- {{#scrollBlock title=(__ "Actions") count=(maintenanceChiffreStartEndCount monthStart monthEnd contributor) activeSearch=false}} -->

      <scrollBlock v-bind:title="$t('message.Actions')" :count="maintenanceChiffreStartEndCount(monthStart,monthEnd,contributor)" activeSearch=false >

       <div :v-for="action in maintenanceChiffreStartEnd(monthStart,monthEnd,contributor)">


        <div :v-for="action in maintenanceChiffreStartEnd(monthStart,monthEnd, contributor)">
          <!-- {{> itemInputAction action=action}} -->
          <itemInputAction action=action />
        </div>

       </div>
      </scrollBlock>

    </div>
  </div>
</div>  
</template>
<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection
import { Actions } from '../../api/collection/actions';
import itemInputAction from '../../../polesView/itemInputAction/itemInputAction.vue'
import scrollBlock from '../../../global/scrollBlock.vue'


export default {
  name: "actionsMaintencanceItem",
  components:{
    itemInputAction, scrollBlock,
  },
  data() {

  const dateUnixSubtract = (months) => {
  const inputDate = moment(new Date()).subtract(months, 'months');
  const formatDate = moment(inputDate).format();
  const inputUnix = moment(formatDate).unix();
  return inputUnix;

};
    return { };
  },
  props: [
     'color', 'monthStart', 'monthEnd', 'contributor', 'icon'
  ],
  meteor: {
    maintenanceChiffreCount(month, contributor = true) {
    const inputUnix = dateUnixSubtract(month);
    const query = {};
    query.status = 'todo';
    query.created = { $exists: true, $lt: inputUnix };
    // sans contributeur
    if (!contributor) {
      query['links.contributors'] = { $exists: false };
    }
    // console.log('count action plus de 18 mois', Actions.find(query).count());
    return Actions.find(query).count();
  },
  maintenanceChiffre(month, contributor = true) {
    const inputUnix = dateUnixSubtract(month);
    const query = {};
    query.status = 'todo';
    query.created = { $exists: true, $lt: inputUnix };
    // sans contributeur
    if (!contributor) {
      query['links.contributors'] = { $exists: false };
    }
    // console.log('count action plus de 18 mois', Actions.find(query).count());
    return Actions.find(query, {
      sort: { created: -1 },
    });
  },
  maintenanceChiffreStartEndCount(monthStart, monthEnd, contributor = true) {
    const inputUnixStart = dateUnixSubtract(monthStart);
    const inputUnixEnd = monthEnd ? dateUnixSubtract(monthEnd) : new Date().getTime();
    const query = {};
    query.status = 'todo';
    query.created = { $exists: true, $lt: inputUnixEnd, $gt: inputUnixStart };
    // sans contributeur
    if (!contributor) {
      query['links.contributors'] = { $exists: false };
    }
    // console.log('count action plus de 18 mois', Actions.find(query).count());
    return Actions.find(query).count();
  },
  maintenanceChiffreStartEnd(monthStart, monthEnd, contributor = true) {
    const inputUnixStart = dateUnixSubtract(monthStart);
    const inputUnixEnd = monthEnd ? dateUnixSubtract(monthEnd) : new Date().getTime();
    const query = {};
    query.status = 'todo';
    query.created = { $exists: true, $lt: inputUnixEnd, $gt: inputUnixStart };
    // sans contributeur
    if (!contributor) {
      query['links.contributors'] = { $exists: false };
    }
    // console.log('count action plus de 18 mois', Actions.find(query).count());
    return Actions.find(query, {
      sort: { created: -1 },
    });
  },
  }
}
</script>