<template name="projectsView">
  <div>
    <div v-if="dataReady">
      <searchActions />
      <div class="list">
        <div v-if="searchMaintenance">
          <actionsMaintenance />
        </div>
          <div v-else>
            <!-- {{>organizationList}} -->
            // Search template correspondant
            <organizationList />
            <div :v-for="projects in poleProjects2">
              <!-- {{>projectList2 project=project}} -->
              <projectList2 project=project />
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        Loading..
      </div>
    </div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';
import actionsMaintenance from '../ActionMaint/actionsMaintenance.vue'
import searchActions from '../Search/searchActions.vue'
import organizationList from '../../../polesView/organizationList.vue'
import projectList2 from '../../../polesView/projectList2.vue'

export default {
  name: "projectsView",
  components:{
    actionsMaintenance,
    searchActions,
    organizationList,
    projectList2,
  },

  data() {
    return {};
  },

  created() {
  this.ready = new ReactiveVar(false);
  this.autorun(function () {
    const handle = this.subscribe('all.actions2', Session.get('orgaCibleId'));
    const handleAvatar = this.subscribe('all.avatarOne', Session.get('orgaCibleId'));
    const handleEvents = this.subscribe('poles.events', Session.get('orgaCibleId'));
    if (handle.ready() && handleEvents.ready() && handleAvatar.ready()) {
      this.ready.set(handle.ready());
    }
  }.bind(this));

  },
  meteor:{
    poleProjects2() {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    const searchSort = searchAction.get('searchSort');

    const queryProjectId = `parent.${Session.get('orgaCibleId')}`;
    const query = {};
    const options = {};
    query[queryProjectId] = { $exists: 1 };
    if (search && search.charAt(0) === ':' && search.length > 1) {
      query.name = { $regex: `.*${search.substr(1).replace(/[.*+?^${}()|[\]\\]/g, '\\$&')}.*`, $options: 'i' };
    }
    if (searchSort) {
      const arraySort = searchQuerySort('projects', searchSort);
      if (arraySort) {
        // options.sort = { ...arraySort };
        options.sort = arraySort;
      }
    }
    return Projects.find(query, options);
  },
  searchMaintenance() {
    return searchAction.get('searchMaintenance');
  },
  dataReady() {
    return Template.instance().ready.get();
  },

  },
}
</script>
