<template name="usersViewUserItem">
<div>
  <div class="item item-icon-left item-dark">
    <i class="icon fa fa-user"></i> {{user.name}}
  </div>
  <!-- {{>organizationList user=user}} -->
  // Search for template orgaList and projectList
  <organizationList user=user/>
  <div :v-for="project in (poleProjects2, user=user)">
    <!-- {{>projectList2 project=project user=user}} -->
    <projectList2 project=project user=user/>
  </div>
</div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection 
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';
import organizationList from '../../../polesView/organizationList.vue'
import projectList2 from '../../../polesView/projectList2.vue'

export default {
  name: "usersViewUserItem",
  components:{
     organizationList, projectList2,
  },
  data() {
    return {};
  },
  meteor: {
    poleProjects2() {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    const searchSort = searchAction.get('searchSort');

    const queryProjectId = `parent.${Session.get('orgaCibleId')}`;
    const query = {};
    const options = {};
    query[queryProjectId] = { $exists: 1 };
    if (search && search.charAt(0) === ':' && search.length > 1) {
      query.name = { $regex: `.*${search.substr(1).replace(/[.*+?^${}()|[\]\\]/g, '\\$&')}.*`, $options: 'i' };
    }
    if (searchSort) {
      const arraySort = searchQuerySort('projects', searchSort);
      if (arraySort) {
        // options.sort = { ...arraySort };
        options.sort = arraySort;
      }
    }
    return Projects.find(query, options);
  },
  dataReady() {
    return Template.instance().ready.get();
  },
  }



};
</script>