<template name="usersView">
<div>
  <div id="headerTitle">
    <h1 class="title">{{ $t("message.memberActions") }}</h1>
  </div>

  <div id="headerButtonLeft">
    // create go back button
    <goBackButton />

  </div>
  
  <div id="headerButtonRight">
  </div>
    <userViewsUser/>
</div>
</template>
<script>
import userViewsUser from "./usersViewUser.vue"
import goBackButton from "../../../global/goBackButton.vue"

export default {
  name: "usersView",
  components: {
    userViewsUser,
    goBackButton,
  },
};

</script>