<template name="usersViewUser">
<div>
 <div v-if="dataReady">
      <div v-if="allUsers">
          <div class="list">
            <div class="item item-stable item-button-right">{{ $t("message.Dashboard") }}
            <router-link :to="{ name: 'assignUserDashboard', params: '{ _id=currentId}'}" class="button button-positive">
            <i class="icon fa fa-cog"></i>
            </router-link>

        </div>
        <div :v-for="allUsers">
              <usersViewUserItem user=this />
        </div>
       </div>
      </div>
        <div v-else >
          <div class="list">
            <div class="item item-divider">{{ $t("message.DashboardUserConfig") }}</div>

            <div class="item">
              <!-- <a href="{{pathFor 'assignUserDashboard' _id=currentId}}"
                class="button button-block"> -->
                <router-link :to="{ name: 'assignUserDashboard', params: '{ _id=currentId}'}" class="button button-block" >
                
                {{ $t("message.DashboardUserConfig") }}
                
                </router-link>
              <!-- </a> -->
            </div>
          </div>
          </div>
  </div>
  <div v-else>
    Loading.. 
  </div>
</div>
</template>
<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection 
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';
import usersViewUserItem from './usersViewUserItem.vue'


export default {
  name: "usersViewUser",
  components: {
    usersViewUserItem,
  },
  data() {
    return {};
  },

  created() {
  this.ready = new ReactiveVar(false);
  this.autorun(function () {
    if (Session.get('settingOceco') && Session.get('settingOceco').dashboardUser) {
      // si retrouve reglage dans oceco orga utiliser
      const handle = this.subscribe('all.actions2', Session.get('orgaCibleId'));
      const handleAvatar = this.subscribe('all.avatarOne', Session.get('orgaCibleId'));
      const handleEvents = this.subscribe('poles.events', Session.get('orgaCibleId'));
      if (handle.ready() && handleEvents.ready() && handleAvatar.ready()) {
        this.ready.set(handle.ready());
      }
    } else {
      // pas de reglage
      // console.log(Router.current().params._id);
      this.ready.set(true);
    }
  }.bind(this));
  },

  meteor: {
    allUsers() {
    if (Template.instance().ready.get()) {
      if (Session.get('settingOceco').dashboardUser && Session.get('settingOceco').dashboardUser.length > 0) {
        const arrayIds = Session.get('settingOceco').dashboardUser.map((k) => new Mongo.ObjectID(k));
        return Citoyens.find({ _id: { $in: arrayIds } });
      }
      // return Citoyens.find();
    }
  },
  currentId() {
    return Router.current().params._id;
  },
  dataReady() {
    return Template.instance().ready.get();
  },
  },
  methods: {
    handleSubmit(event) {
      if (!this.email || !this.password) {
        pageSession.set("error", 'message.allfields');
        return;
      }
      if (!IsValidEmail(this.email)) {
        pageSession.set("error", 'message.emailNotValid');
        return;
      }
      pageSession.set("loading-logging", true);

      Meteor.loginAsPixel(this.email, this.password, (error) => {
        if (!error) {
          pageSession.set("loading-logging", false);
          pageSession.set("error", null);
          return this.$router.push("/home");
        }
        // console.log(error);
        pageSession.set("loading-logging", false);
        pageSession.set("error", error.reason);
        return null;
      });
    },
  },


};




</script>