<template name="boutonCard">
<div>
    <!-- {{> Button_toggle id=id scope=scope isCall=isCall condition=isConnect classOff=classOff classOn=classOn iconOff=iconOff iconOn=iconOn titleOn=titleOn titleOff=titleOff connectType=connectType childType=childType childId=childId}} -->
  <ButtonToggle id=id scope=scope isCall=isCall condition=isConnect classOff=classOff classOn=classOn iconOff=iconOff iconOn=iconOn titleOn=titleOn titleOff=titleOff connectType=connectType childType=childType childId=childId />
</div>
</template>
<script>
import ButtonToggle from '../mixin/button-toggle.vue'

export default {
  name:'boutonCard',
  components: {
    ButtonToggle,
  },
  props: [
    'id', 'scope' , 'isCall' ,'isConnect' ,'classOff' ,'classOn' ,'iconOff' ,'iconOn' ,'titleOn' ,'titleOff' ,'connectType' ,'childType' ,'childId'
  ],

  data() {
    return{}
  },
}
</script>