<template>
  <div id="app">
    <transition>
      <keep-alive>
        <component :is="layout">
        <router-view/>
        </component>
      </keep-alive>
    </transition>
  </div>
</template>

<script>
const default_layout = "default";

export default {
  name: "App",

  computed:{
     layout(){
       return (this.$route.meta.layout || default_layout) + '-layout';
     }
  }
};
</script>
<style>
</style>
