<template name="detailProposals">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dda.proposal.proposal"}} : </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="detailViewProposals" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="detailViewProposals">
  {{#with room}}
    {{#with proposal}}
      <div class="list card">

        {{> buttonsProposals _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str status=status isCreator=isCreator isAdmin=../../isAdmin}}

        <div class="item item-divider">
          {{title}}
        </div>
        <div class="item {{#if creatorProfile.profilThumbImageUrl}}item-avatar{{/if}}">
          {{#if creatorProfile.profilThumbImageUrl}}
            {{> imgDoc profilThumbImageUrl=creatorProfile.profilThumbImageUrl resized="80x80"}}
          {{/if}}
          <h2>
            {{__ 'author'}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id._str scope='citoyens'}}"
              class="dark">{{creatorProfile.name}}</a>
          </h2>
        </div>
        {{> statusProposals status=status}}
        <div class="item item-text-wrap">
          {{#markdown}}{{description}}{{/markdown}}
        </div>
        {{#if arguments}}
          <div class="item item-divider">
            {{__ 'dda.proposal.argumentstitle'}}
          </div>
          <div class="item item-text-wrap">
            {{#markdown}}{{arguments}}{{/markdown}}
          </div>
        {{/if}}
      </div>

      {{#if equals status 'amendable'}}

        {{#if amendementActivatedBool}}
          <div class="list card">
            <div class="item item-divider">
              {{__ 'dda.proposal.amendments.title'}}
            </div>
            {{#if isNotEndAmendement}}
              <div class="button-bar bar-positive">
                <a href="{{pathFor 'amendementsAdd' _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str}}"
                  class="button button-small">{{> ionIcon icon="plus"}}</a>
              </div>
              <div class="item item-text-wrap">
                <p>{{__ 'dda.proposal.amendments.text'}} <strong>{{formatAmendementDateEnd}}</strong>
                  {{__ 'dda.proposal.amendments.endofamendments'}} <strong>{{livestamp amendementDateEnd}}</strong>
                  {{__ 'dda.proposal.amendments.proposetext'}}
                </p>
              </div>
            {{/if}}
            <div class="item item-divider">
              {{__ 'dda.proposal.amendments.listofamendmentstemporarily'}}
            </div>
            {{> listAmendementsProposals _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str status=status isAdmin=../../isAdmin amendements=objectKeyArrayAmendements }}
          </div>
        {{else}}
          <div class="list">
            <div class="item">
              {{__ 'dda.proposal.amendments.amendmentsdeactivated'}}
            </div>
          </div>
        {{/if}}

        <div class="list">
          <a href="{{pathFor 'proposalsDetailComments' _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str}}"
            class="item">
            <i class="icon fa fa-balance-scale"></i> {{__ 'dda.debate'}} <span
              class="badge badge-balanced">{{commentsCount}}</span>
          </a>
        </div>

      {{else if equals status 'tovote'}}

        {{#if voteActivatedBool}}
          <div class="list card">
            <div class="item item-divider">
              {{__ 'dda.proposal.tovote.title'}}
            </div>
            {{#if isNotEndVote}}
              <div class="item item-text-wrap">
                <p>{{__ 'dda.proposal.tovote.text'}} <strong>{{formatVoteDateEnd}}</strong>
                  {{__ 'dda.proposal.tovote.endofvotes'}} <strong>{{livestamp voteDateEnd}}</strong>
                </p>
              </div>
              {{> votesProposals status=status votes=votesResultat}}
            {{/if}}
            <div class="item item-divider">
              {{__ 'dda.proposal.tovote.listofamendmentsvalidated'}} : {{majority}}%
            </div>
            {{> listAmendementsProposals _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str status=status isAdmin=../../isAdmin amendements=objectKeyArrayAmendements }}
          </div>
        {{else}}
          <div class="list">
            <div class="item">
              {{__ 'dda.proposal.tovote.votesdisabled'}}
            </div>
          </div>
        {{/if}}

        <div class="list">
          <a href="{{pathFor 'proposalsDetailComments' _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str}}"
            class="item">
            <i class="icon fa fa-balance-scale"></i> {{__ 'dda.debate'}} <span
              class="badge badge-balanced">{{commentsCount}}</span>
          </a>
        </div>

      {{else if equals status 'resolved'}}

        <div class="list card">
          <div class="item item-divider">
            {{__ 'dda.resolution.resolution'}}
          </div>
          <div class="item item-text-wrap">
            {{#if votesResultat.voteValid}}
              <p><i class="icon fa fa-bell"></i> {{{__ 'dda.resolution.adopted'}}}
                {{__ 'dda.resolution.endofvote'}} <strong>{{livestamp voteDateEnd}}</strong>
              </p>
            {{else}}
              <p><i class="icon fa fa-bell"></i> {{{__ 'dda.resolution.refused'}}}
                {{__ 'dda.resolution.endofvote'}} <strong>{{livestamp voteDateEnd}}</strong>
              </p>
            {{/if}}

          </div>
          <a href="{{pathFor 'resolutionsDetail' _id=parentId scope=parentType roomId=idParentRoom resolutionId=_id._str}}"
            class="item"><i class="fa fa-chevron-right"></i> {{__ 'dda.resolution.showresolution'}}</a>
          <div class="item item-divider">
            {{__ 'dda.resolution.resultstitle'}}
          </div>
          {{> votesProposals status=status votes=votesResultat}}
          <div class="item item-divider">
            {{__ 'dda.proposal.tovote.listofamendmentsvalidated'}} : {{majority}}%
          </div>
          {{> listAmendementsProposals _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str status=status isAdmin=../../isAdmin amendements=objectKeyArrayAmendements }}
          <a href="{{pathFor 'proposalsDetailComments' _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str}}"
            class="item">
            <i class="icon fa fa-balance-scale"></i> Débat <span class="badge badge-balanced">{{commentsCount}}</span>
          </a>
        </div>

      {{else if equals status 'closed'}}

      {{/if}}

    {{/with}}
  {{/with}}
</template>

<template name="buttonsProposals">
  {{#if equals status 'amendable'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{/if}}
  {{else if equals status 'tovote'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{/if}}
  {{else if equals status 'resolved'}}

  {{else if equals status 'disabled'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="amendable"><i class="fa fa-pencil"></i>
          {{__ "dda.proposal.buttons.backtoamendments"}}</button>
        <button class="button button-small action-proposal-js" data-action="tovote"><i class="fa fa-gavel"></i>
          {{__ "dda.proposal.buttons.openthevotes"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="amendable"><i class="fa fa-pencil"></i>
          {{__ "dda.proposal.buttons.backtoamendments"}}</button>
        <button class="button button-small action-proposal-js" data-action="tovote"><i class="fa fa-gavel"></i>
          {{__ "dda.proposal.buttons.openthevotes"}}</button>
        <button class="button button-small action-proposal-js" data-action="closed"><i class="fa fa-trash"></i>
          {{__ "dda.proposal.buttons.close"}}</button>
      </div>
    {{/if}}
  {{else if equals status 'closed'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'proposalsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId}}"
          class="button button-small"><i class="fa fa-pencil"></i></a>
        <button class="button button-small action-proposal-js" data-action="disabled"><i class="fa fa-times"></i>
          {{__ "dda.proposal.buttons.disable"}}</button>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="statusProposals">
  {{#if equals status 'amendable'}}
    <div class="item">
      <strong>{{__ 'dda.proposal.status.amendable'}}</strong> > {{__ 'dda.proposal.status.tovote'}} >
      {{__ 'dda.proposal.status.closed'}}
    </div>
  {{else if equals status 'tovote'}}
    <div class="item">
      {{__ 'dda.proposal.status.amendable'}} > <strong>{{__ 'dda.proposal.status.tovote'}}</strong> >
      {{__ 'dda.proposal.status.closed'}}
    </div>
  {{else if equals status 'resolved'}}
    <div class="item">
      {{__ 'dda.proposal.status.amendable'}} > {{__ 'dda.proposal.status.tovote'}} >
      <strong>{{__ 'dda.proposal.status.resolved'}}</strong>
    </div>
  {{else if equals status 'disabled'}}
    <div class="item">
      {{__ 'dda.proposal.status.amendable'}} > <strong>{{__ 'dda.proposal.status.disabled'}}</strong> >
      {{__ 'dda.proposal.status.closed'}}
    </div>
  {{else if equals status 'closed'}}
    <div class="item">
      {{__ 'dda.proposal.status.amendable'}}{{__ 'dda.proposal.status.amendable'}} > {{__ 'dda.proposal.status.tovote'}}
      > <strong>{{__ 'dda.proposal.status.closed'}}</strong>
    </div>
  {{/if}}
</template>

<template name="listAmendementsProposals">
  {{#each amendement in amendements}}
    {{> itemAmendementsProposals _id=_id scope=scope roomId=roomId proposalId=proposalId status=status isAdmin=isAdmin amendement=amendement}}
  {{else}}
    <div class="item">
      {{__ 'dda.proposal.amendments.noamendments'}}
    </div>
  {{/each}}
</template>

<template name="itemAmendementsProposals">
  {{#if equals status 'amendable'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'amendementsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId amendementId=amendement.idKey}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-amendement-js"><i class="icon fa fa-trash"></i></button>
      </div>
    {{else if equals amendement.idUserAuthor currentUser._id}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'amendementsEdit' _id=_id scope=scope roomId=roomId proposalId=proposalId amendementId=amendement.idKey}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-amendement-js"><i class="icon fa fa-trash"></i></button>
      </div>
    {{/if}}
    <div class="item item-divider">
      n°{{amendement.idKey}} {{__ amendement.typeAmdt}}
      {{> badgeAmendementsProposals status=status votes=amendement.votesObject}}
    </div>
    <div class="item item-text-wrap">
      <p>{{amendement.textAdd}}</p>
    </div>
    {{> votesAmendements status=status votes=amendement.votesObject amendementId=amendement.idKey}}
  {{else if equals status 'tovote'}}
    {{#if equals amendement.votesObject.voteValid true }}
      <div class="item item-divider">
        n°{{amendement.idKey}} {{__ amendement.typeAmdt}}
        {{> badgeAmendementsProposals status=status votes=amendement.votesObject}}
      </div>
      <div class="item item-text-wrap">
        <p>{{amendement.textAdd}}</p>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="votesProposals">

  {{#if equals status 'tovote'}}
    <div class="item item-text-wrap">
      {{#if votes.voteStart}}
        {{#if votes.voteValid}}
          {{{__ 'dda.proposal.tovote.proposal_temporarily' context='validated'}}} · {{votes.totalVotes}}
          {{__ 'dda.proposal.tovote.voter' count=votes.totalVotes}}
        {{else}}
          {{{__ 'dda.proposal.tovote.proposal_temporarily' context='refused'}}} · {{votes.totalVotes}}
          {{__ 'dda.proposal.tovote.voter' count=votes.totalVotes}}
        {{/if}}
      {{else}}
        {{__ 'dda.proposal.tovote.bethefirsttovote'}}
      {{/if}}

      <p>{{#if votes.meVote}}
          <strong>{{__ 'dda.proposal.tovote.youvoted'}}
            {{#if votes.voteUp.meVoteUp}}
              <span class="balanced">{{__ 'dda.proposal.tovote.infavour'}}</span>
            {{else if votes.voteDown.meVoteDown}}
              <span class="assertive">{{__ 'dda.proposal.tovote.against'}}</span>
            {{else if votes.voteWhite.meVoteWhite}}
              <span class="dark">{{__ 'dda.proposal.tovote.blank'}}</span>
            {{else if votes.voteUncomplet.meVoteUncomplet}}
              <span class="energized">{{__ 'dda.proposal.tovote.incomplete'}}</span>
            {{/if}}
          </strong>
        {{else}}
          {{__ 'dda.proposal.tovote.youhavenotvotedyet'}}
        {{/if}}
      </p>
      {{#if ../voteCanChangeBool}}
        <p>{{__ 'dda.proposal.tovote.votecanchange'}}</p>
      {{else}}

      {{/if}}
    </div>

    {{#if ../voteCanChangeBool}}
      {{#transition in="zoomIn" out="bounceOut"}}
        {{#if votes.meVote}}
          <div class="button-bar bar-clear animated in out">
            {{#if votes.voteUp.meVoteUp}}
              <button class="button button-small button-balanced disabled">{{__ 'dda.proposal.tovote.infavour'}}
                ({{votes.voteUp.pourc}}%)</button>
            {{else}}
              <button class="button button-small button-balanced savevote-js"
                data-vote="up">{{__ 'dda.proposal.tovote.infavour'}} ({{votes.voteUp.pourc}}%)</button>
            {{/if}}
            {{#if votes.voteDown.meVoteDown}}
              <button class="button button-small button-assertive disabled">{{__ 'dda.proposal.tovote.against'}}
                ({{votes.voteDown.pourc}}%)</button>
            {{else}}
              <button class="button button-small button-assertive savevote-js"
                data-vote="down">{{__ 'dda.proposal.tovote.against'}} ({{votes.voteDown.pourc}}%)</button>
            {{/if}}
            {{#if votes.voteWhite.meVoteWhite}}
              <button class="button button-small button-stable disabled">{{__ 'dda.proposal.tovote.blank'}}
                ({{votes.voteWhite.pourc}}%)</button>
            {{else}}
              <button class="button button-small button-stable savevote-js"
                data-vote="white">{{__ 'dda.proposal.tovote.blank'}} ({{votes.voteWhite.pourc}}%)</button>
            {{/if}}
            {{#if votes.voteUncomplet.meVoteUncomplet}}
              <button class="button button-small button-energized disabled">{{__ 'dda.proposal.tovote.incomplete'}}
                ({{votes.voteUncomplet.pourc}}%)</button>
            {{else}}
              <button class="button button-small button-energized savevote-js"
                data-vote="uncomplet">{{__ 'dda.proposal.tovote.incomplete'}} ({{votes.voteUncomplet.pourc}}%)</button>
            {{/if}}
          </div>
        {{else}}
          <div class="button-bar bar-clear animated in out">
            <button class="button button-small button-balanced savevote-js"
              data-vote="up">{{__ 'dda.proposal.tovote.infavour'}} ({{votes.voteUp.pourc}}%)</button>
            <button class="button button-small button-assertive savevote-js"
              data-vote="down">{{__ 'dda.proposal.tovote.against'}} ({{votes.voteDown.pourc}}%)</button>
            <button class="button button-small button-stable savevote-js"
              data-vote="white">{{__ 'dda.proposal.tovote.blank'}} ({{votes.voteWhite.pourc}}%)</button>
            <button class="button button-small button-energized savevote-js"
              data-vote="uncomplet">{{__ 'dda.proposal.tovote.incomplete'}} ({{votes.voteUncomplet.pourc}}%)</button>
          </div>
        {{/if}}

      {{/transition}}
    {{else}}
      {{#if votes.meVote}}
        {{#transition in="zoomIn" out="bounceOut"}}
          <div class="row animated in out">
            <div class="col text-center balanced-bg">
              {{__ 'dda.proposal.tovote.infavour'}} <br>({{votes.voteUp.pourc}}%)
            </div>
            <div class="col text-center assertive-bg">
              {{__ 'dda.proposal.tovote.against'}} <br>({{votes.voteDown.pourc}}%)
            </div>
            <div class="col text-center stable-bg dark">
              {{__ 'dda.proposal.tovote.blank'}} <br>({{votes.voteWhite.pourc}}%)
            </div>
            <div class="col text-center energized-bg">
              {{__ 'dda.proposal.tovote.incomplete'}} <br>({{votes.voteUncomplet.pourc}}%)
            </div>
          </div>
        {{/transition}}
      {{else}}
        {{#transition in="zoomIn" out="bounceOut"}}
          <div class="button-bar bar-clear animated in out">
            <button class="button button-small button-balanced savevote-js"
              data-vote="up">{{__ 'dda.proposal.tovote.infavour'}} ({{votes.voteUp.pourc}}%)</button>
            <button class="button button-small button-assertive savevote-js"
              data-vote="down">{{__ 'dda.proposal.tovote.against'}} ({{votes.voteDown.pourc}}%)</button>
            <button class="button button-small button-stable savevote-js"
              data-vote="white">{{__ 'dda.proposal.tovote.blank'}} ({{votes.voteWhite.pourc}}%)</button>
            <button class="button button-small button-energized savevote-js"
              data-vote="uncomplet">{{__ 'dda.proposal.tovote.incomplete'}} ({{votes.voteUncomplet.pourc}}%)</button>
          </div>
        {{/transition}}
      {{/if}}
    {{/if}}

    <div class="row">
      <div class="col text-center">
        <i class="icon balanced fa fa-group"></i> {{votes.voteUp.nb}}
      </div>
      <div class="col text-center">
        <i class="icon assertive fa fa-group"></i> {{votes.voteDown.nb}}
      </div>
      <div class="col text-center">
        <i class="icon dark fa fa-group"></i> {{votes.voteWhite.nb}}
      </div>
      <div class="col text-center">
        <i class="icon energized fa fa-group"></i> {{votes.voteUncomplet.nb}}
      </div>
    </div>

    <div class="row">
      <div class="col text-left">
        <h5 style="font-size:11px;"><i class="fa fa-gavel"></i> {{__ 'dda.proposal.tovote.changeofvote'}} :
          {{#if ../voteCanChangeBool}}<span class="balanced">{{__ 'yes'}}</span>{{else}}<span
              class="assertive">{{__ 'no'}}</span>{{/if}}</h5>
        <h5 style="font-size:11px;"><i class="fa fa-user-secret"></i> {{__ 'dda.proposal.tovote.anonymousvote'}} :
          {{#if ../voteAnonymousBool}}<span class="balanced">{{__ 'yes'}}</span>{{else}}<span
              class="assertive">{{__ 'no'}}</span>{{/if}}</h5>
      </div>
      <div class="col text-right">
        <h5 style="font-size:11px;">{{__ 'dda.proposal.tovote.majorityrule'}} : {{../majority}}%</h5>
      </div>
    </div>
  {{else if equals status 'resolved'}}
    <div class="item item-text-wrap">
      {{#if votes.voteValid}}
        {{__ 'dda.proposal.tovote.proposal' context='validated'}} · {{votes.totalVotes}}
        {{__ 'dda.proposal.tovote.voter' count=votes.totalVotes}}
      {{else}}
        {{__ 'dda.proposal.tovote.proposal' context='refused'}} · {{votes.totalVotes}}
        {{__ 'dda.proposal.tovote.voter' count=votes.totalVotes}}
      {{/if}}

      <p>{{#if votes.meVote}}
          <strong>{{__ 'dda.proposal.tovote.youvoted'}}
            {{#if votes.voteUp.meVoteUp}}
              <span class="balanced">{{__ 'dda.proposal.tovote.infavour'}}</span>
            {{else if votes.voteDown.meVoteDown}}
              <span class="assertive">{{__ 'dda.proposal.tovote.against'}}</span>
            {{else if votes.voteWhite.meVoteWhite}}
              <span class="dark">{{__ 'dda.proposal.tovote.blank'}}</span>
            {{else if votes.voteUncomplet.meVoteUncomplet}}
              <span class="energized">{{__ 'dda.proposal.tovote.incomplete'}}</span>
            {{/if}}
          </strong>
        {{/if}}
      </p>

    </div>

    <div class="row">
      <div class="col text-center balanced-bg">
        {{__ 'dda.proposal.tovote.infavour'}} <br>({{votes.voteUp.pourc}}%)
      </div>
      <div class="col text-center assertive-bg">
        {{__ 'dda.proposal.tovote.against'}} <br>({{votes.voteDown.pourc}}%)
      </div>
      <div class="col text-center stable-bg dark">
        {{__ 'dda.proposal.tovote.blank'}} <br>({{votes.voteWhite.pourc}}%)
      </div>
      <div class="col text-center energized-bg">
        {{__ 'dda.proposal.tovote.incomplete'}} <br>({{votes.voteUncomplet.pourc}}%)
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <i class="icon balanced fa fa-group"></i> {{votes.voteUp.nb}}
      </div>
      <div class="col text-center">
        <i class="icon assertive fa fa-group"></i> {{votes.voteDown.nb}}
      </div>
      <div class="col text-center">
        <i class="icon dark fa fa-group"></i> {{votes.voteWhite.nb}}
      </div>
      <div class="col text-center">
        <i class="icon energized fa fa-group"></i> {{votes.voteUncomplet.nb}}
      </div>
    </div>

    <div class="row">
      <div class="col text-left">
        <h5 style="font-size:11px;"><i class="fa fa-gavel"></i> {{__ 'dda.proposal.tovote.changeofvote'}} :
          {{#if ../voteCanChangeBool}}<span class="balanced">{{__ 'yes'}}</span>{{else}}<span
              class="assertive">{{__ 'no'}}</span>{{/if}}</h5>
        <h5 style="font-size:11px;"><i class="fa fa-user-secret"></i> {{__ 'dda.proposal.tovote.anonymousvote'}} :
          {{#if ../voteAnonymousBool}}<span class="balanced">{{__ 'yes'}}</span>{{else}}<span
              class="assertive">{{__ 'no'}}</span>{{/if}}</h5>
      </div>
      <div class="col text-right">
        <h5 style="font-size:11px;">{{__ 'dda.proposal.tovote.majorityrule'}} : {{../majority}}%</h5>
      </div>
    </div>
  {{/if}}

</template>

<template name="votesAmendements">
  <div class="item item-text-wrap">
    <p>{{#if votes.meVote}}
        <strong>{{__ 'dda.proposal.tovote.youvoted'}}
          {{#if votes.voteUp.meVoteUp}}
            <span class="balanced">{{__ 'dda.proposal.tovote.infavour'}}</span>
          {{else if votes.voteDown.meVoteDown}}
            <span class="assertive">{{__ 'dda.proposal.tovote.against'}}</span>
          {{else if votes.voteWhite.meVoteWhite}}
            <span class="dark">{{__ 'dda.proposal.tovote.blank'}}</span>
          {{/if}}
        </strong>
      {{else}}
        {{__ 'dda.proposal.tovote.youhavenotvotedyet'}}
      {{/if}}
    </p>
    <p>{{__ 'dda.proposal.tovote.votecanchange'}}</p>
  </div>

  <div class="button-bar bar-clear">
    <button class="button button-small button-balanced savevote-js" data-vote="up">{{__ 'dda.proposal.tovote.infavour'}}
      ({{votes.voteUp.pourc}}%)</button>
    <button class="button button-small button-assertive savevote-js"
      data-vote="down">{{__ 'dda.proposal.tovote.against'}} ({{votes.voteDown.pourc}}%)</button>
    <button class="button button-small button-stable savevote-js" data-vote="white">{{__ 'dda.proposal.tovote.blank'}}
      ({{votes.voteWhite.pourc}}%)</button>
  </div>

  <div class="row">
    <div class="col text-center">
      <i class="icon balanced fa fa-group"></i> {{votes.voteUp.nb}}
    </div>
    <div class="col text-center">
      <i class="icon assertive fa fa-group"></i> {{votes.voteDown.nb}}
    </div>
    <div class="col text-center">
      <i class="icon dark fa fa-group"></i> {{votes.voteWhite.nb}}
    </div>
  </div>

</template>

<template name="badgeAmendementsProposals">
  {{#if votes.voteStart}}
    {{#if votes.voteValid}}
      <span
        class="badge badge-balanced">{{#if equals status 'amendable'}}{{__ 'dda.proposal.amendments.validated_temporarily'}}{{else if equals status 'tovote'}}{{__ 'dda.proposal.amendments.validated'}}{{/if}}</span>
    {{else}}
      <span
        class="badge badge-assertive">{{#if equals status 'amendable'}}{{__ 'dda.proposal.amendments.refused_temporarily'}}{{else if equals status 'tovote'}}{{__ 'dda.proposal.amendments.refused'}}{{/if}}</span>
    {{/if}}
  {{/if}}
</template>

<template name="proposalsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "proposals"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "creating a new proposal"}}
        </div>
        <div class="item item-text-wrap">
          {{__ 'proposalFormInformation'}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addProposal" schema=SchemasProposalsRest type="method" meteormethod="insertProposal" singleMethodArgument=true template="ionic" class="padding"}}
          {{> proposalsFields}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="proposalsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "proposals"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a proposal"}}
          </div>
          <div class="item item-text-wrap">
            {{__ 'proposalFormInformation'}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editProposal" schema=SchemasProposalsRest type="method-update" meteormethod="updateProposal" doc=proposal singleMethodArgument=true template="ionic" class="padding"}}
            {{> proposalsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="proposalsFields">
  {{> afQuickField name='title'}}
  {{> afQuickField name='description' label-type='stacked' rows=8}}
  <div class="item item-text-wrap stable-bg">
    <i class='fa fa-info-circle'></i> {{__ 'schemas.proposalsrest.description.information'}}
  </div>
  {{> afQuickField name='arguments' label-type='stacked' rows=8}}
  {{> afQuickField name='amendementActivated'}}
  <div class="item item-text-wrap stable-bg">
    <i class='fa fa-info-circle'></i> {{__ 'schemas.proposalsrest.amendementActivated.information'}}
  </div>
  {{#if equalFieldValue 'amendementActivated' true}}
    {{> afQuickField name='amendementDateEnd'  type="datetimepicker" opts=optsDatetimepicker}}
  {{/if}}
  {{> afQuickField name='voteDateEnd'  type="datetimepicker" opts=optsDatetimepicker}}
  {{> afQuickField name='majority'}}
  <div class="item item-text-wrap stable-bg">
    {{#if currentFieldValue 'majority'}}
      <i class='fa fa-info-circle'></i>
      {{{__ 'schemas.proposalsrest.majority.information' majority=(currentFieldValue 'majority')}}}
    {{else}}
      <i class='fa fa-info-circle'></i> {{{__ 'schemas.proposalsrest.majority.information' majority=majority}}}
    {{/if}}
  </div>
  {{> afQuickField name='voteAnonymous'}}
  <div class="item item-text-wrap stable-bg">
    <i class='fa fa-info-circle'></i> {{__ 'schemas.proposalsrest.voteAnonymous.information'}}
  </div>
  {{> afQuickField name='voteCanChange'}}
  <div class="item item-text-wrap stable-bg">
    <i class='fa fa-info-circle'></i> {{__ 'schemas.proposalsrest.voteCanChange.information'}}
  </div>

  {{> afQuickField name='tags'}}
  {{> afQuickField name='urls'}}

</template>

<template name="amendementsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dda.proposal.amendments.title"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "creating a new amendment"}}
        </div>
        <div class="item item-text-wrap">
          {{__ 'amendmentFormInformation'}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addAmendement" schema=BlockProposalsRest type="method" meteormethod="insertAmendement" singleMethodArgument=true template="ionic" class="padding"}}
          {{> afQuickField name='txtAmdt' label-type='stacked' rows=8}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="amendementsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dda.proposal.amendments.title"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a amendment"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editAmendement" schema=BlockProposalsRest type="method-update" meteormethod="updateAmendement" doc=amendement singleMethodArgument=true template="ionic" class="padding"}}
            {{> afQuickField name='txtAmdt' label-type='stacked' rows=8}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>