<template name="actionParticipantNeeded">
<div>
  <div v-if="equals (action.parenType ,'citoyens')">
  </div>
  <div v-else>
    <div v-if="action.min">
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-man"></i>
        {{action.actionParticipantsNbr}}
      </div>
    </div>
    <div v-if="action.min">
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-ios-arrow-down"></i>
        {{action.min}}
      </div>
    </div>
    <div v-if="action.max">
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-ios-arrow-up"></i>
        {{action.max}}
      </div>
    </div>
  </div>
</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';



window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
 
  },
  meteor: {
    
  },
  methods: {

  }
};
</script>