<template name="actionDate">
<div>
  <!-- {{#if equals action.parentType 'events'}} -->
  <div v-if="equals (action.parenType, 'events')">
    <span><i class="ion-android-calendar"></i>{{action.projectDayHour}}
    <div v-if="action.endDate"> -
        {{action.projectDayHourEnd}}
    </div>
    </span>
  </div>
  <div v-else>
    <span><i class="ion-android-calendar"></i>{{action.projectDayHour}}</span>
  </div>
</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';


window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
 
  },
  meteor: {
    
  },
  methods: {

  }
};
</script>