<template name="actionDuration">
<div>
  <div class="col text-center col-center borderMenuItem stable-border"><i class="ion-clock"></i>
    {{action.projectDuration}}H
  </div>
  <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-card"></i>
    {{action.credits}}
    <div v-if="settingOceco.account">
     <div v-if="settingOceco.account.textUnite">{{settingOceco.account.textUnite}}</div>
      <div v-else>
      R
      </div>
    </div>
    <div v-else>
      R
    </div>
  </div>
</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
 
  },
  meteor: {
    
  },
  methods: {

  }
};
</script>