<template name="buttonSubscribeAction">
<div>
  <div v-if="isContributors">
    {{isCallChange}}
    <div class="item col col-center text-center">
      <div v-if="equals (status,'todo')">
      <!-- {{#if equals status 'todo'}} -->
        <div v-if="iseEndDate">
          <span class="assertive"><i class="fa fa-hourglass-end"></i> {{ $t("message.Finished")}}</span>
        </div>
        <div v-else>
          <div v-if="isStartDate">
            <span class="energized"><i class="fa fa-clock-o"></i>
              {{ $t("dda.actions.youparticipatingaction") }}</span> 
              <div v-if="timeSpentEnd">
              <br> {{ $t("end")}}
              <strong>{{timeSpentEnd}}</strong>
              </div>
          <div v-else>
            <span class="balanced"><i class="fa fa-check"></i>
              {{ $t("dda.actions.youparticipatingaction") }}</span>
            <div v-if="timeSpentStart">
              <br> {{ $t("begin") }}
              <strong>{{timeSpentStart}}</strong>
            </div>
          </div>
        </div>
      <div v-else-if="equals (status, 'done')">
        <span class="balanced"><i class="fa fa fa-check"></i> {{ $t("message.Finished")}}</span>
      </div>
      <div v-else-if="equals (status, 'diasbled')">
        <span class="assertive"><i class="fa fa-warning"></i> {{ $t("message.Canceled") }}</span>
      </div>
    </div>
  </div>
  <div v-else>
    <!-- {{#if equals status 'todo'}} -->
    <div v-if="equals (status, 'todo')">
      <div v-if="isAFaire">
        <div v-if="isEndDate">
          <div class="item col col-center text-center">
            <span class="assertive"><i class="fa fa-hourglass-end"></i> {{ $t("message.Finished") }}</span>
          </div>
        </div>
        <div v-else>
          <div v-if="isStartDate">
            <div class="item col col-center text-center">
              <span class="energized"><i class="fa fa-clock-o"></i> {{ $t("message.InProgress") }}</span>
              <div v-if="timeSpentEnd">
              <br> {{ $t("end") }} <strong>{{timeSpentEnd}}</strong>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-if="isNotMax">
              <!-- {{#unless startDate}} -->
              <div v-if="startDate">
                <div class="padding-top">
                  <form class="form-assignme-js" @submit.prevent="handleSubmitAssign">
                    <label for="" class="item item-input">
                      <span class="input-label">{{ $t("schemas.actionsrest.startDate.label") }}</span>
                      <input type="datetime-local" name="startDate" value="{{startDateDefault}}">
                    </label>
                    <label for="" class="item item-input">
                      <span class="input-label">{{ $t("schemas.actionsrest.endDate.label") }}</span>
                      <input type="datetime-local" name="endDate">
                    </label>
                    <div v-if="isCreditAddPorteur">
                      <label for="" class="item item-input">
                        <span class="input-label">{{ $t("message.Credits")}}</span>
                        <input type="number" name="credits" value="1">
                      </label>
                    </div>
                    <button v-bind:class=" isCall ? 'button button-block button-positive' : 'disabled'">
                      <div v-if="isCall">
                        <i class="icon fa fa-refresh fa-spin"></i>
                      </div>
                      <div v-else>
                        <i class="fa fa-handshake-o"></i>
                      </div>
                      {{ $t("dda.actions.wantparticipateaction")}}</button>
                  </form>
                </div>
              </div>
              <div v-else>

                <div v-if="isCreditAddPorteur">
                  <div class="padding-top">
                    <form class="form-assignme-js">
                      <div v-if="isPossibleStartActionBeforeStartDate">
                        <div class="item item-checkbox item-text-wrap">
                          <label class="checkbox">
                            <input type="checkbox" name="startAction">
                          </label>
                          {{ $t("message.StartActionNow") }}
                        </div>
                      </div>
                      <label for="" class="item item-input">
                        <span class="input-label">Crédits</span>
                        <input type="number" name="credits" value="1">
                      </label>
                      <button :class=" isCall ? 'button button-block button-positive' : 'disabled'">
                        <div v-if="isCall">
                          <i class="icon fa fa-refresh fa-spin"></i>
                        </div>
                        <div v-else>
                          <i class="fa fa-handshake-o"></i>
                        </div>
                        {{ $t("dda.actions.wantparticipateaction") }}</button>
                    </form>
                  </div>
                </div>
                <div v-else>
                  <div v-if="isPossibleStartActionBeforeStartDate">
                    <div class="padding-top">
                      <form class="form-assignme-js">
                        <div class="item item-checkbox item-text-wrap">
                          <label class="checkbox">
                            <input type="checkbox" name="startAction">
                          </label>
                          {{ $t("message.StartActionNow") }}
                        </div>
                        <button v-bind:class=" isCall ? 'button button-block button-positive' : 'disabled'">
                          <div v-if="isCall">
                            <i class="icon fa fa-refresh fa-spin"></i>
                          </div>
                          <div v-else>
                            <i class="fa fa-handshake-o"></i>
                          </div>
                          {{ $t("dda.actions.wantparticipateaction") }}</button>
                      </form>
                    </div>
                  </div>
                  <div v-else>
                    <div class="button-bar bar-positive padding-top">
                      <button v-bind:class=" isCall ? 'button action-assignme-js' : 'disabled'" @click="handleClickActionAssign">
                        <div v-if="isCall">
                          <i class="icon fa fa-refresh fa-spin"></i>
                        </div>
                        <div v-else>
                          <i class="fa fa-handshake-o"></i>
                        </div>
                        {{ $t("dda.actions.wantparticipateaction") }}</button>
                    </div>
                  </div>

              </div>
              <!-- {{/unless}} -->
            </div>
          </div>
          <div v-else>
              <div class="item col col-center text-center">
                <span class="balanced"><i class="fa fa-check"></i> {{ $t("message.AlreadyComplete") }}</span>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div v-if="isDpense">
          <div v-if="isNotMax">
            <div class="button-bar bar-balanced padding-top">
              <button v-bind:class=" isCall ? 'button action-depenseme-js' : 'disabled'" @click="handleClickActionDepense">
                <div v-if="isCall">
                  <i class="icon fa fa-refresh fa-spin"></i>
                </div>
                <div v-else>
                  <i class="ion-card"></i>
                </div>
                {{$t("message.Spent_count") }}{{count=credits}}</button>
            </div>
          </div>
          <div v-else>
            <div class="item col col-center text-center">
              <span class="balanced"><i class="fa fa-check"></i> {{ $t("message.AlreadyComplete")}}</span>
            </div>
          </div>
        </div>
    <div v-else>
      <!-- {{#if equals status 'done'}} -->
      <div v-if="equals (status, 'done')">
        <div class="item col col-center text-center">
          <span class="balanced"><i class="fa fa-check"></i> {{ $t("message.Finished") }}</span>
        </div>
      </div>
      <div v-else-if="equals (status, 'disabled')">
        <div class="item col col-center text-center">
          <span class="assertive"><i class="fa fa-warning"></i> {{ $t("message.Canceled") }}</span>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>
</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { ReactiveDict } from 'meteor/reactive-dict';
import i18n from 'meteor/universe:i18n';
import { moment } from 'meteor/momentjs:moment';

// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';


window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
     this.state = new ReactiveDict();
  this.state.setDefault({
    call: false,
  });
  },
  meteor: {
    isCall() {
    return Template.instance().state.get('call');
  },
  isCallChange() {
    Template.instance().state.set('call', false);
  },
  startDateDefault() {
    return moment().format('YYYY-MM-DDTHH:mm');
  },
  },
  methods: {
    handleSubmitAssign(event) {
        event.preventDefault();
    instance.state.set('call', true);
    const action = { id: this._id._str };

    if (!this.startDate && event.target && event.target.startDate && event.target.startDate.value) {
      action.startDate = moment(event.target.startDate.value).format('YYYY-MM-DDTHH:mm:ssZ');
      // console.log(action.startDate);
    }
    if (!this.endDate && event.target && event.target.endDate && event.target.endDate.value) {
      action.endDate = moment(event.target.endDate.value).format('YYYY-MM-DDTHH:mm:ssZ');
      // console.log(action.endDate);
    }
    if (this.isCreditAddPorteur() && event.target && event.target.credits && event.target.credits.value) {
      action.credits = parseInt(event.target.credits.value);
      // console.log(action.credits);
    }
    if (this.isPossibleStartActionBeforeStartDate() && event.target && event.target.startAction && event.target.startAction.checked) {
      action.startDate = moment().format('YYYY-MM-DDTHH:mm:ssZ');
      // console.log(action.credits);
    }

    Meteor.call('assignmeActionRooms', action, (error) => {
      if (error) {
        instance.state.set('call', false);
        IonToast.show({
          title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error && error.reason ? error.reason.replace(': ', '') : error}`,
        });
      }
    });
    }
  },
  handleClickActionAssign(event) {
    event.preventDefault();
    instance.state.set('call', true);
    Meteor.call('assignmeActionRooms', { id: this._id._str }, (error) => {
      if (error) {
        instance.state.set('call', false);
        IonToast.show({
          title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error && error.reason ? error.reason.replace(': ', '') : error}`,
        });
      }
    });
  },
  handleClickActionDpense(event) {
    event.preventDefault();
    const self = this;
    instance.state.set('call', true);
    IonPopup.confirm({
      title: 'Depenser',
      template: 'Voulez vous depenser vos credits ?',
      onOk() {
        Meteor.call('assignmeActionRooms', {
          id: self._id._str,
        }, (error) => {
          if (error) {
            instance.state.set('call', false);
            IonToast.show({
              title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error && error.reason ? error.reason.replace(': ', '') : error}`,
            });
          }
        });
      },
      onCancel() {
        instance.state.set('call', false);
      },
      cancelText: i18n.__('no'),
      okText: i18n.__('yes'),
    });
  }

};
</script>