<template name="pageInvitations">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "invitations.invitation" count=2}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{#ionList}}
          <div class="item item-divider">
            <i class="icon ion-search"></i> {{__ "invitations.search"}}
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input id="search" type="text" placeholder="{{__ "invitations.search_invitation_placeholder"}}"
                value="{{filter}}">
            </label>
          </div>

          {{> listInvitationsMemberOfParent organization=scopeSousOrga filter=filter scopeId=scopeId scopeVar=scopeVar }}

          {{> listInvitationsFollows citoyen=citoyen filter=filter scopeId=scopeId scopeVar=scopeVar }}

          {{> searchGlobalInvitations scopeId=scopeId scopeVar=scopeVar filter=filter isAdmin=scope.isAdmin}}
        {{/ionList}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="searchGlobalInvitations">
  <div class="item item-divider">
    <i class="icon ion-search"></i> {{__ "invitations.result_of_your_search"}}
    <span class="badge badge-dark">{{countSearchGlobal}}</span>
  </div>
  {{#each searchGlobal}}
    {{#if equals typeSig 'city'}}
      <a href="" class="item item-icon-left">
        <i {{icone typeSig}}></i> {{name}}
      </a>
    {{else}}
      <div class="item {{#if profilThumbImageUrl}}item-avatar{{else}}{{/if}} item-button-right">
        {{#if profilThumbImageUrl}}{{> imgDoc}}{{else}}<i {{icone typeSig}}></i>{{/if}} {{name}}
        {{#if address}}
          <p>{{address.postalCode}} {{address.addressLocality}}</p>
        {{/if}}
        {{> boutonCard id=../scopeId scope=../scopeVar childType=typeSig childId=_id isConnect=isAttendees classOff="button-dark invitations-link" classOn="button-dark invitations-link" iconOff="fa fa-send" iconOn="fa fa-hourglass-half" titleOff=""}}
      </div>
    {{/if}}
  {{else}}

    {{#if filter}}
      {{#ionItem}}
        {{__ "invitations.no_results_were_found_for_your_search"}}
      {{/ionItem}}
      {{> formInvitations filter=filter}}
    {{else}}
      {{#ionItem}}
        {{__ "invitations.enter_a_search_term"}}
      {{/ionItem}}
    {{/if}}

  {{/each}}

</template>

<template name="listInvitationsFollows">
  {{#if citoyen.countFollows filter}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "invitations.your_contacts"}} <span
        class="badge badge-dark">{{citoyen.countFollows filter}}</span>
    </div>
    {{> directoryList list=(citoyen.listFollows filter) isConnect="isInviting" person=true scope="citoyens" scopeId=scopeId scopeCible=scopeVar}}
  {{/if}}
</template>

<template name="listInvitationsMemberOfParent">
  {{#if organization.countMembers filter}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "Members of parent organization name" name=organization.name}}<span
        class="badge badge-dark">{{organization.countMembers filter}}</span>
    </div>
    {{> directoryList list=(organization.listMembers filter scopeId) isConnect="isInviting" person=true scope="citoyens"
  scopeId=scopeId scopeCible=scopeVar}}
  {{/if}}
</template>

<template name="listInvitationsMemberOf">
  {{#if citoyen.countMemberOf filter ''}}
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "invitations.your_organizations"}} <span
        class="badge badge-dark">{{citoyen.countMemberOf filter ''}}</span>
    </div>
    {{> directoryList list=(citoyen.listMemberOf filter '') isConnect="isInviting" person=false scope="organizations" scopeId=scopeId scopeCible=scopeVar}}
  {{/if}}
</template>

<template name="formInvitations">
  <div class="item item-divider">
    {{__ "invitations.send_invite"}}
  </div>
  {{#if error}}
    <div class="item item-text-wrap animated shake homestead text-center">
      {{__ error}}
    </div>
  {{/if}}
  {{#autoForm id="formInvitations" schema=SchemasInvitationsRest type="method" meteormethod="invitationScopeForm" template="ionic" class=""}}
    {{> afQuickField type="select" name='childType'}}
    {{> afQuickField name='childName' label-type='placeholder' icon="fa fa-user positive" value=(isName)}}
    {{> afQuickField name='childEmail' label-type='placeholder' type='email' icon="fa fa-envelope" value=(isAlt)}}
    {{#if equalFieldValue 'childType' 'organizations'}}
      {{> afQuickField name='organizationType'}}
    {{/if}}
    {{> afQuickField type="toggle" name='connectType' value='admin'}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{__ "invitations.send"}}</button>
      </div>
    </div>
  {{/autoForm}}
</template>