<template name="scopeItemListForm">
  {{#with item}}
    <a class="item item-content {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}}"
      href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{name}}</h2>
      {{#if description}}
        <p>{{description}}</p>
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp startDate}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}}
              ({{livestamp formatEndDateIso}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

    </a>
  {{/with}}
</template>