<template name="scopeItemListEvent">
  {{#with item}}
    <a class="item {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}} animated in out"
      href="{{#if equals scopeVar 'gamesmobile'}}{{pathFor 'gamesDetail' _id=_id._str}}{{else}}{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}}{{/if}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{name}}</h2>
      {{#if ../count}}
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i>
          {{../count}}</span>
      {{/if}}

      {{#if typeValue}}
        <p>{{typeValue}}</p>
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp startDate}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}} ({{livestamp endDate}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}} ({{livestamp startDate}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}
    </a>
  {{/with}}
</template>