<template name="imgDoc">
<div>
  <div v-if="profilThumbImageUrl">
    <img src="" data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}" class="">
  </div>
  <div v-else>
    <!-- {{#with this.imageDoc}} -->
    <div v-if="this.imageDoc">
      <div v-if="equals ../resized '80x80'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
      <div v-else-if="equals ../resized '50x50'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
      <div v-else-if="equals ../resized '340x340'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
      <div v-else>
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
    </div>

  <div v-else>
    <div v-if="imageDoc">
    <!-- {{#with imageDoc}} -->
    <div v-if="equals ../resized '80x80'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
    </div>
      <div v-else-if="equals ../resized '50x50'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
      <div v-else-if="equals ../resized '340x340'">
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
      <div v-else>
        <img data-src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/thumb/{{name}}">
      </div>
    </div>
  <div v-else>
    <!-- <img :data-src="/pas-de-photo{{#if resized}}{{resized}}{{else}}50x50{{/if}}.png"> -->
    <img :data-src=" resized ? '{{resized}}' : '/pas-de-photo'">
  </div>
  </div>
 </div>
</div>
</template>
<script>
import { Template } from 'meteor/templating';
import { lazy } from '../components/iolazyload.js';


export default {
  data() {
    return{}
    
  },
  mounted() {
    this.autorun(function () {
    if (Template.currentData().profilThumbImageUrl) {
      lazy.lazyLoad();
    }
  });
  }
}
</script>