<template name="citoyensFields">
<div>
  <!-- {{#if equals block 'info'}}
    {{> afQuickField name='name' label-type='placeholder' icon="fa fa-user positive"}}
    {{> afQuickField name='email' label-type='placeholder' icon="fa fa-envelope"}}
    {{> afQuickField name='url' label-type='placeholder' icon="fa fa-link"}}
    {{> afQuickField name='fixe' label-type='placeholder' icon="fa fa-phone"}}
    {{> afQuickField name='mobile' label-type='placeholder' icon="fa fa-mobile"}}
    {{> afQuickField name='fax' label-type='placeholder' icon="fa fa-fax"}}
    {{> afQuickField name='birthDate' label-type='placeholder' icon="fa fa-birthday-cake"}}
  {{/if}} -->
  <div v-if="equals(block, 'info')">
    <afQuickField name='name' label-type='placeholder' icon="fa fa-user positive"/>
    <afQuickField name='email' label-type='placeholder' icon="fa fa-envelope"/>
    <afQuickField name='url' label-type='placeholder' icon="fa fa-link"/>
    <afQuickField name='fixe' label-type='placeholder' icon="fa fa-phone"/>
    <afQuickField name='mobile' label-type='placeholder' icon="fa fa-mobile"/>
    <afQuickField name='fax' label-type='placeholder' icon="fa fa-fax"/>
    <afQuickField name='birthDate' label-type='placeholder' icon="fa fa-birthday-cake"/>
  </div>
  <!-- {{#if equals block 'network'}} -->
  <div v-if="equals (block, 'network')">
     <afQuickField name='telegram' label-type='placeholder' icon="fa fa-telegram"/>
     <afQuickField name='skype' type="url" label-type='placeholder' icon="fa fa-skype"/>
     <afQuickField name='github' type="url" label-type='placeholder' icon="fa fa-github"/>
     <afQuickField name='twitter' type="url" label-type='placeholder' icon="fa fa-twitter"/>
     <afQuickField name='facebook' type="url" label-type='placeholder' icon="fa fa-facebook"/>
  </div>

  <div v-if="equals (block ,'descriptions')">
     <afQuickField name='shortDescription' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"/>
     <afQuickField name='description' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"/>
  </div>

  <div v-if="equals (block,'preferences')">
    <div class="list card">
      <div class="item item-body">
        // A TRADUIRE DANS i18n
        <strong>{{$t("Public")}}</strong> : {{$t("Visible to everyone")}}<br>
        <strong>{{$t("Private")}}</strong> : {{$t("Visible to my contacts only")}}<br>
        <strong>{{$t("Masked")}}</strong> : {{$t("Visible to no one")}}<br>
        <strong>{{$t("Open Data")}}</strong> :
        {{$t("You offer your data in free access, in order to contribute to the common good")}}
      </div>
    </div>
     <afQuickField type="select-radio" name='preferences.email'/>
     <afQuickField type="select-radio" name='preferences.locality'/>
     <afQuickField type="select-radio" name='preferences.phone'/>
     <afQuickField type="select-radio" name='preferences.directory'/>
     <afQuickField type="select-radio" name='preferences.birthDate'/>
     <afQuickField name='preferences.isOpenData'/>
  </div>

  <div v-if="equals (block, 'locality')">
     <afQuickField name='country' autocomplete="off" value=country />
    <div v-if="currentFieldValue ('country',country)">
       <afQuickField name='postalCode' value=postalCode autocomplete="off"/>
      <div v-if="currentFieldValue ('postalCode', postalCode)">

        <div v-if="optionsInsee">
           <afQuickField name='city' options=optionsInsee value=city/>
           <afQuickField name='cityName' type="hidden" value=cityName/>
        </div>
        <div v-else>
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{$t("Error not postal code match")}}
          </div>
        </div>
      </div>
       <afQuickField name='streetAddress' label-type='stacked' autocomplete="off"/>
      <div v-if="latlng">
         {{map}}
      </div>
       <afQuickField name='geoPosLatitude' type="hidden" value=latitude/>
       <afQuickField name='geoPosLongitude' type="hidden" value=longitude/>
       <afQuickField name='regionName' type="hidden" value=regionName/>
       <afQuickField name='depName' type="hidden" value=depName/>
       <afQuickField name='localityId' type="hidden" value=localityId/>
    </div>
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import { Router } from 'meteor/iron:router';
import { AutoForm } from 'meteor/aldeed:autoform';
import { Mongo } from 'meteor/mongo';

// collections
import { Citoyens } from '../../api/collection/citoyens.js';

// schema
import { BlockCitoyensRest } from '../../api/schema/citoyens.js';

import '../map/map.js';
import '../components/scope/item.js';

import './list.html';

import { pageSession } from '../../api/client/reactive.js';
import { matchTags } from '../../api/helpers.js';
import { Pomodoro } from '../../api/client/podomoro.js';

AutoForm.addHooks(['editCitoyen'], {
  after: {
    'method-update'(error, result) {
      if (!error) {
        Router.go('detailList', { _id: result.data.id, scope: 'citoyens' }, { replaceState: true });
      }
    },
  },
  onError(formType, error) {
    if (error.errorType && error.errorType === 'Meteor.Error') {
      if (error && error.error === 'error_call') {
        pageSession.set('error', error.reason.replace(': ', ''));
        IonToast.show({
          title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error.reason.replace(': ', '')}`,
        });
      }
    }
  },
});

AutoForm.addHooks(['editBlockCitoyen'], {
  after: {
    'method-update'(error) {
      if (!error) {
        if (pageSession.get('block') !== 'preferences') {
          Router.go('detailList', { _id: pageSession.get('scopeId'), scope: 'citoyens' }, { replaceState: true });
        }
      }
    },
  },
  before: {
    'method-update'(modifier) {
      const scope = 'citoyens';
      const block = pageSession.get('block');
      if (modifier && modifier.$set) {
        // console.log(pageSession.get('tags'));
        modifier.$set = matchTags(modifier.$set, pageSession.get('tags'));
      } else {
        modifier.$set = {};
      }
      modifier.$set.typeElement = scope;
      modifier.$set.block = block;
      return modifier;
    },
  },
  onError(formType, error) {
    if (error.errorType && error.errorType === 'Meteor.Error') {
      if (error && error.error === 'error_call') {
        pageSession.set('error', error.reason.replace(': ', ''));
        IonToast.show({
          title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error.reason.replace(': ', '')}`,
        });
      }
    }
  },
});

export default {
  name: "citoyensFields",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>