<template name="citoyensBlockEdit">
<div>
  <div class= "headerButtonLeft" >
    <goBackButton />
  </div>

  <div class="headerButtonRight">

  </div>

  <div class="headerTitle">
    <h1 class="title">{{ $t("message.citoyens") }}</h1>
  </div>

  <div v-if="dataReady">
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{ $t("message.EditCitoyen") }}
          </div>
          <div v-if="error">
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{ $t(error) }}
              </div>
            </div>
          </div>

          <!-- {{#if equals block 'preferences'}} -->
          <div v-if="equals(block, 'preferences')">
            <!-- {{#autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen autosave=true template="ionic" class="padding"}} -->
            <autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen autosave=true template="ionic" class="padding">
              <citoyensFields block=block />
            <!-- {{/autoForm}} -->
            </autoForm>
          </div>
          <div v-else>
            <autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen template="ionic" class="padding" >
              <citoyensFields block=block/>
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{$t("message.edit")}}</button>
                </div>
              </div>
            </autoForm>
          </div>
        </div>
  </div>
  <div v-else>
    Loading..
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import { Router } from 'meteor/iron:router';
import { AutoForm } from 'meteor/aldeed:autoform';
import { Mongo } from 'meteor/mongo';
import i18n from 'meteor/universe:i18n';

// collections
import { Citoyens } from '../../api/collection/citoyens.js';

// schema
import { BlockCitoyensRest } from '../../api/schema/citoyens.js';
import citoyensFields from './citoyensFields.vue'

import '../map/map.js';
import '../components/scope/item.js';

import './list.html';

import { pageSession } from '../../api/client/reactive.js';
import { matchTags } from '../../api/helpers.js';
import { Pomodoro } from '../../api/client/podomoro.js';
import goBackButton from '../../global/goBackButton.vue'

export default {
  name: "citoyensBlockEdit",
  components:{
    AutoForm, citoyensFields, goBackButton
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    const template = Template.instance();
  template.ready = new ReactiveVar();
  pageSession.set('error', false);
  pageSession.set('postalCode', null);
  pageSession.set('country', null);
  pageSession.set('city', null);
  pageSession.set('cityName', null);
  pageSession.set('regionName', null);
  pageSession.set('depName', null);
  pageSession.set('localityId', null);
  pageSession.set('geoPosLatitude', null);
  pageSession.set('geoPosLongitude', null);

  this.autorun(function () {
    pageSession.set('scopeId', Router.current().params._id);
    pageSession.set('block', Router.current().params.block);
  });

  this.autorun(function () {
    const handle = Meteor.subscribe('scopeDetail', 'citoyens', Router.current().params._id);
    if (handle.ready()) {
      template.ready.set(handle.ready());
    }
  });
    
  },
  meteor: {
    citoyen() {
    const citoyen = Citoyens.findOne({ _id: new Mongo.ObjectID(Router.current().params._id) });
    const citoyenEdit = {};
    citoyenEdit._id = citoyen._id._str;
    if (Router.current().params.block === 'descriptions') {
      if (citoyen.description) {
        citoyenEdit.description = citoyen.description;
      }
      if (citoyen.shortDescription) {
        citoyenEdit.shortDescription = citoyen.shortDescription;
      }
    } else if (Router.current().params.block === 'info') {
      citoyenEdit.name = citoyen.name;
      citoyenEdit.username = citoyen.username;
      if (citoyen.tags) {
        citoyenEdit.tags = citoyen.tags;
      }
      citoyenEdit.email = citoyen.email;
      citoyenEdit.url = citoyen.url;
      if (citoyen.telephone) {
        if (citoyen.telephone.fixe) {
          citoyenEdit.fixe = citoyen.telephone.fixe.join();
        }
        if (citoyen.telephone.mobile) {
          citoyenEdit.mobile = citoyen.telephone.mobile.join();
        }
        if (citoyen.telephone.fax) {
          citoyenEdit.fax = citoyen.telephone.fax.join();
        }
      }
      citoyenEdit.birthDate = citoyen.birthDate;
    } else if (Router.current().params.block === 'network') {
      if (citoyen.socialNetwork) {
        if (citoyen.socialNetwork.telegram) {
          citoyenEdit.telegram = citoyen.socialNetwork.telegram;
        }
        if (citoyen.socialNetwork.skype) {
          citoyenEdit.skype = citoyen.socialNetwork.skype;
        }
        if (citoyen.socialNetwork.github) {
          citoyenEdit.github = citoyen.socialNetwork.github;
        }
        if (citoyen.socialNetwork.twitter) {
          citoyenEdit.twitter = citoyen.socialNetwork.twitter;
        }
        if (citoyen.socialNetwork.facebook) {
          citoyenEdit.facebook = citoyen.socialNetwork.facebook;
        }
      }
    } else if (Router.current().params.block === 'locality') {
      citoyenEdit.country = citoyen.address.addressCountry;
      citoyenEdit.postalCode = citoyen.address.postalCode;
      citoyenEdit.city = citoyen.address.codeInsee;
      citoyenEdit.cityName = citoyen.address.addressLocality;
      if (citoyen && citoyen.address && citoyen.address.streetAddress) {
        citoyenEdit.streetAddress = citoyen.address.streetAddress;
      }
      if (citoyen && citoyen.address && citoyen.address.regionName) {
        citoyenEdit.regionName = citoyen.address.regionName;
      }
      if (citoyen && citoyen.address && citoyen.address.depName) {
        citoyenEdit.depName = citoyen.address.depName;
      }
      if (citoyen && citoyen.address && citoyen.address.localityId) {
        citoyenEdit.localityId = citoyen.address.localityId;
      }
      citoyenEdit.geoPosLatitude = citoyen.geo.latitude;
      citoyenEdit.geoPosLongitude = citoyen.geo.longitude;
    } else if (Router.current().params.block === 'preferences') {
      if (citoyen && citoyen.preferences) {
        citoyenEdit.preferences = {};
        const fieldsArray = ['email', 'locality', 'phone', 'directory', 'birthDate'];
        if (citoyen && citoyen.preferences && citoyen.preferences.publicFields) {
          /* _.each(fieldsArray, (field) => {
            if (citoyen.isPublicFields(field)) {
              citoyenEdit.preferences[field] = 'public';
            }
          }); */
          fieldsArray.forEach((field) => {
            if (citoyen.isPublicFields(field)) {
              citoyenEdit.preferences[field] = 'public';
            }
          });
        }
        if (citoyen && citoyen.preferences && citoyen.preferences.privateFields) {
          /* _.each(fieldsArray, (field) => {
            if (citoyen.isPrivateFields(field)) {
              citoyenEdit.preferences[field] = 'private';
            }
          }); */
          fieldsArray.forEach((field) => {
            if (citoyen.isPrivateFields(field)) {
              citoyenEdit.preferences[field] = 'private';
            }
          });
        }
        /* _.each(fieldsArray, (field) => {
          if (!citoyen.isPrivateFields(field) && !citoyen.isPublicFields(field)) {
            citoyenEdit.preferences[field] = 'hide';
          }
        }); */
        fieldsArray.forEach((field) => {
          if (!citoyen.isPrivateFields(field) && !citoyen.isPublicFields(field)) {
            citoyenEdit.preferences[field] = 'hide';
          }
        });
        if (citoyen.preferences.isOpenData === true) {
          citoyenEdit.preferences.isOpenData = true;
        } else {
          citoyenEdit.preferences.isOpenData = false;
        }
      }
    }
    return citoyenEdit;
  },
  blockSchema() {
    return BlockCitoyensRest[Router.current().params.block];
  },
  block() {
    return Router.current().params.block;
  },
  error() {
    return pageSession.get('error');
  },
  dataReady() {
    return Template.instance().ready.get();
  },

  },
  methods: {

  }
};
</script>