<template name="ocecoCitoyenEdit">
<div>

   <div class= "headerButtonLeft" >
     <goBackButton />
   </div>

  <div class="headerButtonRight"></div>

  <div class="headerTitle">
    <h1 class="title">{{ $t("message.citoyens") }}</h1>
  </div>

  <div v-if="dataReady">
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            // TRADUIRE
            {{ $t("Configuration Oceco")}}
          </div>
          <div v-if="error">
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{ $t(error) }}
              </div>
            </div>
          </div>
          <autoForm id="editCitoyenOceco" schema=SchemasCitoyensOcecoRest type="method-update" meteormethod="updateCitoyenOceco" doc=oceco template="ionic" >
            <afQuickField name='oceco.notificationPush' />
            <afQuickField name='oceco.notificationEmail' />
            <afQuickField name='oceco.notificationAllOrga' />
            <div v-if="currentFieldValue ('oceco.notificationAllOrga')">
              <div class="item item-assertive item-text-wrap">
                {{ $t("Receive all notifications from oceco organizations of which you are a member")}}
              </div>
            </div>
            // TRADUIRE
            <div v-else>
              <div class="item item-assertive item-text-wrap">
                {{$t("Receive notifications from projects and organizations you follow")}}
              </div>
            </div>

            <afQuickField name='oceco.pomodoroTimeWork' />
            <afQuickField name='oceco.pomodoroTimeShortRest' />
            <afQuickField name='oceco.pomodoroTimeLongRest' />

            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{$t("message.edit")}}</button>
              </div>
            </div>
          </autoForm>
        </div>
      </div>
   <div v-else>
    Loading..
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import { Router } from 'meteor/iron:router';
import { AutoForm } from 'meteor/aldeed:autoform';
import { Mongo } from 'meteor/mongo';
import i18n from 'meteor/universe:i18n';

// collections
import { Citoyens } from '../../api/collection/citoyens.js';

// schema
import { BlockCitoyensRest } from '../../api/schema/citoyens.js';

import '../map/map.js';
import '../components/scope/item.js';

import './list.html';

import { pageSession } from '../../api/client/reactive.js';
import { matchTags } from '../../api/helpers.js';
import { Pomodoro } from '../../api/client/podomoro.js';

AutoForm.addHooks(['editCitoyenOceco'], {
  after: {
    'method-update'(error) {
      if (!error) {
        IonToast.show({
          template: i18n.__('update'), position: 'bottom', type: 'success', showClose: false, title: `<i class="icon ion-checkmark"></i> ${i18n.__('Configuration oceco')}`,
        });
        Router.go('detailList', { _id: pageSession.get('scopeId'), scope: 'citoyens' }, { replaceState: true });
        Pomodoro.initialize();
      }
    },
  },
  onError(formType, error) {
    if (error.errorType && error.errorType === 'Meteor.Error') {
      if (error && error.error === 'error_call') {
        pageSession.set('error', error.reason.replace(': ', ''));
        IonToast.show({
          title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error.reason.replace(': ', '')}`,
        });
      }
    }
  },
});

export default {
  name: "ocecoCitoyenEdit",
  data() {
    return {};
  },
  mounted () {
    

  },
  created() {
    const template = Template.instance();
  template.ready = new ReactiveVar();

  this.autorun(function () {
    pageSession.set('scopeId', Router.current().params._id);
    const handle = Meteor.subscribe('scopeDetail', 'citoyens', Router.current().params._id);
    if (handle.ready()) {
      template.ready.set(handle.ready());
    }
  });
    
  },
  meteor: {
    oceco() {
    const citoyen = Citoyens.findOne({ _id: new Mongo.ObjectID(Router.current().params._id) });
    const oceco = {};
    oceco._id = citoyen._id._str;
    oceco.oceco = citoyen.oceco;
    return oceco;
  },
  error() {
    return pageSession.get('error');
  },
  dataReady() {
    return Template.instance().ready.get();
  },
  },
  methods: {

  }
};
</script>