<template name="forceUpdateAvailable">
<div>
  <div v-if="updateStore">
    <div class="item item-assertive item-text-wrap item-divider">
      Votre version est dépassé, vous devez mettre à jour votre application depuis le store
    </div>
  </div>
  <div/>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */


import './notifications/notifications.js';


import './components/scope/item.js';



export default {
  name: "forceUpdateAvailable",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {
//    Template.forceUpdateAvailable.events({
//   'click .positive-url'(event) {
//     event.preventDefault();
//     const url = event.currentTarget.getAttribute('href');
//     window.open(url, '_system');
//   },
// });
  handleClickPosUrl(event){
    event.preventDefault();
    const url = event.currentTarget.getAttribute('href');
    window.open(url, '_system');
  },
  }
};
</script>