<template name="updateStore">
<div>
  <div class="headerTitle">
    <h1 class="title">OCECO</h1>
  </div>
    <div class="rubyonic-pane">

      <div class="logo">
        <img src="/oceco_red_gris.png" alt="" class="animated jello">
      </div>

      <!-- {{> forceUpdateAvailable}} -->
      <forceUpdateAvailable />

    </div>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */


import './notifications/notifications.js';


import './components/scope/item.js';

import forceUpdateAvailable from './forceUpdateAvailable.vue'


export default {
  name: "updateStore",
  components:{
    forceUpdateAvailable,
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>