<template name="updateAvailable">
<div>
  <div  v-if="isAndroid">
    <div v-if="updateAvailable">
      <div class="item item-divider">
        <a class="button button-assertive button-block" reloader-update>Appuyez ici pour mettre à jour</a>
      </div>
    </div>
  </div>
</div>
</template>
<script>
/* eslint-disable consistent-return */
/* eslint-disable meteor/no-session */
/* global Session device cordova */
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { Router } from 'meteor/iron:router';
import { Mongo } from 'meteor/mongo';
import { ReactiveVar } from 'meteor/reactive-var';
import { $ } from 'meteor/jquery';
import { ActivityStream } from '../api/collection/activitystream.js';
import QRCode from 'qrcode';
import { StatusTimes } from '../api/helpers.js';

import './notifications/notifications.js';

import { Organizations } from '../api/collection/organizations.js';
import { Citoyens } from '../api/collection/citoyens.js';
import { Projects } from '../api/collection/projects.js';

import './components/scope/item.js';

import { Pomodoro } from '../api/client/podomoro.js';


export default {
  name: "updateAvailable",
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {

  },
  methods: {

  }
};
</script>