<template name="ButtonToggle">
<div>
  <div v-if="condition">
    <!-- {{> Button id=id scope=scope isCall=isCall class=classOn title=titleOn icon=iconOn connectType=connectType childType=childType childId=childId}} -->
    <Button id=id scope=scope isCall=isCall class=classOn title=titleOn icon=iconOn connectType=connectType childType=childType childId=childId />
  </div>
  <div v-else>
    <!-- {{> Button id=id scope=scope isCall=isCall class=classOff title=titleOff icon=iconOff connectType=connectType childType=childType childId=childId}} -->
    <Button id=id scope=scope isCall=isCall class=classOff title=titleOff icon=iconOff connectType=connectType childType=childType childId=childId />
  </div>
</div>
</template>
<script>
import Button from './button.vue'

export default {
  name:'ButtonToggle',
  components: {
    Button,
  },
  data() {
    return{}
  },
}
</script>