<template name="Button">
<div>
  <div v-if="href">
    <a href="{{href}}" class="button {{#if class}}{{class}}{{/if}} {{#if isCall}}disabled{{/if}}"
    v-bind:class="
            isCall
              ? 'animated infinite jello'
              : 'button button-block button-positive'
          "
        >
    
      <div v-if="isCall">
        <i class="icon fa fa-refresh fa-spin"></i>
      </div>
      <div v-else>
        <div v-if="icon">
        <i class="icon {{icon}}"></i>
        </div>
        <div v-else-if="title">{{title}}</div>
      </div>
    </a>
  </div>
  <div v-else>
    <button class="button {{#if class}}{{class}}{{/if}} {{#if isCall}}disabled{{/if}}">
    <div v-if="isCall">
        <i class="icon fa fa-refresh fa-spin"></i>
    </div>
    <div v-else>
        <div v-if="icon">
        <i class="icon {{icon}}"></i>
        </div>
        <div v-else-if="title">{{title}}</div>
    </button>
  </div>
</div>
</template>
<script>
export default {
  name:'Button',

  data() {
    return{}
  },
}
</script>