<template name="pageMessages">
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{__ "Send message"}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}

    {{/contentFor}}

    {{#if dataReady}}
        {{#ionView}}
            {{#ionContent}}

                <div class="item item-divider">
                    {{__ "Send message"}}
                </div>
                {{#if error}}
                    <div class="item item-text-wrap animated shake homestead text-center">
                        {{__ error}}
                    </div>
                {{/if}}

                <div class="item item-text-wrap">
                    {{#if actionId}}
                        {{{__ "Send a message to all participants of name" name=scope.name}}}
                    {{else}}
                        {{#if equals scopeVar 'organizations'}}
                            {{{__ "Send a message to all members of name" name=scope.name}}}
                        {{else if equals scopeVar 'projects'}}
                            {{{__ "Send a message to all contributors to name" name=scope.name}}}
                        {{else if equals scopeVar 'events'}}
                            {{{__ "Send a message to all participants of name" name=scope.name}}}
                        {{/if}}
                    {{/if}}

                </div>

                <div class="item item-assertive item-icon-left item-text-wrap">
                    {{{__ "Be careful to use in moderation to prevent important things"}}}
                </div>

                {{#autoForm id="formMessages" schema=SchemasMessagesRest type="method" meteormethod="sendEmailScope" template="ionic" class=""}}
                    {{> afQuickField name='subject' label-type='placeholder' autofocus=''}}
                    {{> afQuickField name='text' label-type='placeholder' rows=8}}
                    <div class="item">
                        <div class="button-bar">
                            <button type="submit" class="button button-dark">{{__ "Send message"}}</button>
                        </div>
                    </div>
                {{/autoForm}}

            {{/ionContent}}
        {{/ionView}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>