<template>
  <div class="rubyonic-pane">
    <h1 class="title">OCECO</h1>

    <div class="logo">
      <img src="/oceco_red_gris.png" alt="" class="animated jello" />
    </div>
    <p class="title"> 404 </p>
    <p> Page not found.. </p>
  </div>
</template>