<template> 
  <span class="go-back">
    <button @click="goBack"><ion-icon name="arrow-back"></ion-icon></button>
  </span>
</template>
<script>
export default {
  name:'goBackButton',
  methods: {
      goBack(){
        return this.$router.go(-1)
      }
  },
}
</script>
<style scoped>
.go-back {
  display: flex;
  cursor: pointer;
}
button {
  border: 0;
}
</style>