<template name="scrollPrez">
<div>
  <div class="item item-light item-divider">
    <div v-if="icon">
    <i class="icon {{icon}}"></i> 
    </div>
    {{title}}
    </div>
  <div class="item item-dark item-text-wrap">
    {{prez}}
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';


export default {
  name:"scrollPrez",
  data() {
    return{
      icon:'',
      title:'',
      prez:''
    }
  },
};
</script>
