<template name="scrollBlock">
<div>
  <div
    class="item item-{{#if itemColor}}{{itemColor}}{{else}}stable{{/if}} {{#if avatar}}item-avatar{{/if}} {{itemClass}} item-button-right">
    <div v-if="avatar">
      <!-- {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}} -->
      <imgDoc profilThumbImageUrl=project.profilThumbImageUrl />
      <div v-if="href">
        <a href="{{href}}" class="dark">
          <h2 class="dark"><div v-if="title">{{htmlToText(title)}}</div><div v-else>Options</div></h2>
        </a>
      </div>
      <div v-else>
        <h2 class="dark"><div v-if="title">{{htmlToText(title)}}</div><div v-else>Options</div></h2>
      </div>
      </div>
    <div v-else>
      <div v-if="title">{{title}}</div><div v-else>Options</div>
    </div>

    <!-- {{#if scroll activeSearch}} -->
    <div v-if="scroll(activeSearch)">
      <button class="button button-dark button-see-scroll-js" @click.prevent="handleClick()">
        <div v-if="count">
          <span class="padding-right">{{count}}</span>
        </div>
        <!-- <i v-bind:class="icon {{#if iconUp}}{{iconUp}}{{else}}ion-ios-arrow-up{{/if}}"></i></button> -->
        <i v-bind:class="iconUp ? 'icon {{iconUp}}': 'ion-ios-arrow-up'"></i></button>
    </div>
    <!-- <button
          type="submit"
          v-bind:class="
            loadingLogging
              ? 'animated infinite jello'
              : 'button button-block button-positive'
          "
        > -->
    <div v-else>
      <button class="button button-dark button-see-scroll-js"><div v-if="count"><span class="padding-right">{{count}}</span>
        </div>
        <!-- <i class="icon {{#if iconDown}}{{iconDown}}{{else}}ion-ios-arrow-down{{/if}}"></i></button> -->
        <i v-bind:class="iconDown ? 'icon {{iconDown}}': 'ion-ios-arrow-down'"></i></button>
    </div>
  </div>
  <!-- {{#if scroll activeSearch}} -->
  <div v-if="scroll(activeSearch)">
    <!-- {{> Template.contentBlock}} -->
    <contentBlock />
  </div>
</div>
</template>
<script>

import { Template } from 'meteor/templating';

import { ReactiveVar } from 'meteor/reactive-var';


// collections
import { searchAction } from '../../api/client/reactive.js';

export default {
  name: "scrollBlock",
  components: {
    actionsMaintenanceItem,
  },
  data() {
    return {};
  },
  onCreated() {
    this.scroll = new ReactiveVar(false);
  if (this.data.scroll) {
    this.scroll.set(this.data.scroll);
  }
  },
  meteor: {
    scroll(activeSearch) {
    if (searchAction.get('search') && activeSearch) {
      return true;
    }
    return Template.instance().scroll.get();
  },
  methods:{
    handleClick(event){
      event.preventDefault();
    if (Template.instance().scroll.get()) {
      Template.instance().scroll.set(false);
    } else Template.instance().scroll.set(true);
    }
  }
  }
};
</script>

