<template name="afAutocomplete">
  <div class="autocomplete dropdown row">
    <input type="text" value="{{this.label}}" {{this.visibleAtts}} />
    <div class="dropdown-menu list"></div>
  </div>
  <input type="hidden" value="{{this.value}}" {{this.atts}} />
</template>