<template name="eventsList2">
<div>
  <!-- {{#with item}} -->

    <div
      v-bind:class="
        profileThumbImageUrl
          ? 'item-thumbnail-left'
          : 'item-content item-button-right'
      "
    >
    <div v-if="profilThumbImageUrl">
        <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
    </div>
      <router-link :to="{ name: 'actionsListOrga', params:'{orgaCibleId=orgaCibleId _id=_id._str scope=scopeVar}'}" class="positive">
        <h2 class="positive">{{name}}</h2>
      </router-link>

      <div v-if="typeValue">
        <p>{{typeValue}}</p>
      </div>

      <div v-if="organizerEvent">
        <div>{{ $t("Project") }} :
          <div :v-for="organizerItem in organizerEvent">
            <div :v-for="organizerItemValue in organizerItem.values">
              <router-link :to="{ name: 'detailListOrga', params:'{orgaCibleId=orgaCibleId _id=organizerItemValue._id._str scope=organizerItem.type}'}" class="positive">
                {{htmlToText (organizerItemValue.name)}}
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <div v-if="startDate">
        <div>
          <div v-if="isStart">
            <i class="icon ion-android-alarm-clock"></i> {{ $t("message.start")}} : {{livestamp (startDate)}} <br>
            <div v-if="endDate">
              <i class="icon ion-android-alarm-clock"></i> {{ $t("message.end")}} : {{livestamp (endDate)}} <br>
              <i class="icon ion-android-time"></i> {{ $t("duration") }} :
              {{diffInText (startDate,endDate)}}<br>
            </div>
          </div>
          <div v-else>
            <i class="icon ion-android-alarm-clock"></i> {{ $t("message.start") }} : {{livestamp (startDate)}} <br>
            <div v-if="endDate">
              <i class="icon ion-android-time"></i> {{ $t("message.duration") }} :
              {{diffInText(startDate,endDate)}}<br>
            </div>
          </div>
        </div>

      <div v-if="eventActionCount (_id.str)">
        <div v-if="scrollAction">
          <button class="button button-small button-see-actions-js" @click="handleClickSeeAction">{{ $t("message.Hide_action_count") }}{{count=actionsCount.todo}}
            <i class="icon ion-ios-arrow-up"></i></button>
        </div>
        <div v-else>
          <button class="button button-small button-see-actions-js" @click="handleClickSeeAction">{{ $t("message.See_action_count") }}{{count=actionsCount.todo}}
            <i class="icon ion-ios-arrow-down"></i></button>
        </div>
      </div>
  <!-- {{/with}} -->

  <div v-if="scrollAction">
    <div class="item item-stable">{{ $t("message.EventActions") }} <span
        class="badge badge-dark">{{eventActionCount (item._id._str)}}</span></div>
      <div :v-for="action in eventAction (item._id.str)">

      <!-- {{> itemInputAction action=action}} -->
      <itemInputAction action=action />

    </div>
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions.js';

import { searchAction } from '../../api/client/reactive.js';
import { searchQuery, searchQuerySort } from '../../api/helpers.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    itemInputAction,
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    
  },
  meteor: {
    scrollAction() {
    return this.instance().scrollAction.get();
  },
  eventAction(eventId) {
    const userAddedAction = `links.contributors.${Meteor.userId()}`;
    const search = searchAction.get('search');
    let query = {};
    query.parentId = eventId;
    query.status = 'todo';
    query[userAddedAction] = { $exists: false };
    if (search) {
      query = searchQuery(query, search);
    }

    const options = {};
    const searchSort = searchAction.get('searchSort');
    if (searchSort) {
      const arraySort = searchQuerySort('actions', searchSort);
      if (arraySort) {
        options.sort = arraySort;
      }
    }

    return Actions.find(query, options);
  },
  eventActionCount(eventId) {
    const userAddedAction = `links.contributors.${Meteor.userId()}`;
    const search = searchAction.get('search');
    let query = {};
    query.parentId = eventId;
    query.status = 'todo';
    query[userAddedAction] = { $exists: false };
    if (search) {
      query = searchQuery(query, search);
    }
    return Actions.find(query).count();
  },
  eventAction(eventId) {
    const userAddedAction = `links.contributors.${Meteor.userId()}`;
    const search = searchAction.get('search');
    let query = {};
    query.parentId = eventId;
    query.status = 'todo';
    query[userAddedAction] = { $exists: false };
    if (search) {
      query = searchQuery(query, search);
    }

    const options = {};
    const searchSort = searchAction.get('searchSort');
    if (searchSort) {
      const arraySort = searchQuerySort('actions', searchSort);
      if (arraySort) {
        options.sort = arraySort;
      }
    }

    return Actions.find(query, options);
  },
  eventActionCount(eventId) {
    const userAddedAction = `links.contributors.${Meteor.userId()}`;
    const search = searchAction.get('search');
    let query = {};
    query.parentId = eventId;
    query.status = 'todo';
    query[userAddedAction] = { $exists: false };
    if (search) {
      query = searchQuery(query, search);
    }
    return Actions.find(query).count();
  },
  },
  methods: {
     handleClickSeeAction(event) {
       event.preventDefault();
    if (Template.instance().scrollAction.get()) {
      Template.instance().scrollAction.set(false);
    } else Template.instance().scrollAction.set(true);
  },
  }
};
</script>