<template name="organizationList">
<div>
  <div v-if="organizationActionsCount">
    <!-- {{#scrollBlock title=(__ "Organization actions") count=organizationActions.count activeSearch=true}} -->
    <scrollBlock v-bind:title="$t('message.OrganizationActions')" count=organizationActions.count activeSearch=true >
     <div :v-for="action in organizationActions">

        <itemInputAction action=action />

      </div>
    </scrollBlock>
  </div>
</div>
</template>
<script>

import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';

// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions.js';

import { searchAction } from '../../api/client/reactive.js';
import { searchQuery, searchQuerySort } from '../../api/helpers.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    scrollBlock, itemInputAction, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    this.scrollOrga = new ReactiveVar(false);
    
  },
  meteor: {
    organizationActionsCount() {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    let query = {};
    query.parentId = Session.get('orgaCibleId');
    query.status = 'todo';
    if (search) {
      query = searchQuery(query, search);
    }

    return Actions.find(query).count() > 0;
  },
  organizationActions() {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    let query = {};
    query.parentId = Session.get('orgaCibleId');
    query.status = 'todo';
    if (search) {
      query = searchQuery(query, search);
    }

    const options = {};
    const searchSort = searchAction.get('searchSort');
    if (searchSort) {
      const arraySort = searchQuerySort('actions', searchSort);
      if (arraySort) {
        options.sort = arraySort;
      }
    }

    return Actions.find(query, options);
  },
  scrollOrga() {
    const search = searchAction.get('search');
    if (search) {
      return true;
    }
    return Template.instance().scrollOrga.get();
  },
  },
  methods: {
     handleClickSeeOrga(event){
  Template.organizationList.events({
  'click .button-see-orga-js'(event) {
    event.preventDefault();
    if (Template.instance().scrollOrga.get()) {
      Template.instance().scrollOrga.set(false);
    } else Template.instance().scrollOrga.set(true);
  },
});
     }
  }
};
</script>