<template name='polesView'>
<div>
  <div class='headerTitle'>
    <h1 class="title">{{poleName}}</h1>
  </div>
  <div class='headerButtonLeft'>
    <!-- {{>ionNavBackButton}} -->
    <!-- Create navbak butckton -->
  </div>
  <!-- {{#contentFor "headerButtonRight"}} -->
  <div class='headerButtonRight'>
    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      <!-- {{#transition in="bounceInDown" out="bounceOutUp"}} -->
      <transition in="bounceInDown" out="bounceOutUp">
        <div v-if="notificationsCount">
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        </div>
      </transition>
    </button>
  </div>


  <!-- {{#ionView}}
    {{#ionContent class="scroll-bg"}} -->
    <div class='scroll-bg'>
      <div v-if='dataReady'>
        <div class="list">
          <organizationList />
          <div :v-for="project in poleProjects2">
            <projectList2 project=project />
        </div>
      </div>
    </div>
    <div v-else>
      Loading..
    </div>
  </div>
</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import { Router } from 'meteor/iron:router';


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    this.ready = new ReactiveVar(false);
  this.autorun(function () {
    const poleName = Router.current().params.pole;
    const handle = this.subscribe('poles.actions2', Session.get('orgaCibleId'), poleName);
    const handleEvents = this.subscribe('poles.events', Session.get('orgaCibleId'), poleName);
    if (handle.ready() && handleEvents.ready()) {
      this.ready.set(handle.ready());
    }
  }.bind(this));
  },
  meteor: {
  poleName() {
    const poleName = Router.current().params.pole;
    return poleName;
  },

  poleProjects2() {
    const poleName = Router.current().params.pole;
    const queryProjectId = `parent.${Session.get('orgaCibleId')}`;
    const projectId = Projects.find({ [queryProjectId]: { $exists: 1 } }).fetch();
    const projectsId = [];
    projectId.forEach((element) => {
      projectsId.push(element._id);
    });
    const poleProjectsCursor = Projects.find({ $and: [{ tags: poleName }, { _id: { $in: projectsId } }] });
    return poleProjectsCursor;
  },
  dataReady() {
    return Template.instance().ready.get();
  },
  },
  methods: {

  }
};
</script>