<template name="projectList2">

<div>

   <div v-if="settingOceco.pole">
    <div class="item item-stable item-avatar item-content item-button-right">
      <!-- {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}} -->
      <imgDoc profilThumbImageUrl=project.profilThumbImageUrl />
      <div v-if="settingOceco.projectAction">
       <router-link :to="{ name: 'actionListOrga', params: '{ orgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="dark">             
          <h2 class="dark">{{htmlToText (project.name)}}</h2>
        </router-link>
      </div>
      <div v-else-if="settingOceco.eventAction">
        <router-link :to="{ name: 'eventsListOrga', params: '{ orgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="dark">
          <h2 class="dark">{{htmlToText (project.name)}}</h2>
        </router-link>
      </div>
      <div v-else>
        <router-link :to="{ name: 'detailListOrga', params: '{ oorgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="dark">     
          <h2 class="dark">{{htmlToText (project.name)}}</h2>
        </router-link>
      </div>
     </div>
      <div v-if="scroll">
        <button class="button button-dark button-see-event-js" @click="handleClickSeeEvent"> <span
            class="padding-right">{{projectEventsCount (project._id)}}</span> <i
            class="icon ion-ios-arrow-up"></i></button>
      </div>
      <div v-else>
        <button class="button button-dark button-see-event-js" @click="handleClickSeeEvent"> <span
            class="padding-right">{{projectEventsCount (project._id)}}</span> <i
            class="icon ion-ios-arrow-down"></i></button>
      </div>
    </div>


  <div v-else>
    <!-- {{#if projectGlobalCount project._id}} -->
    <div v-if="projectGlobalCount.project._id">
      <div class="{{classesProject scroll}}">
        <!-- {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}} -->

        <!-- {{#if settingOceco.projectAction}} -->
        <div v-if="settingOceco.projectAction">
            <router-link :to="{ name: 'actionListOrga', params: '{ oorgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="{{classesProjectTitle scroll}}">     
            <h2 class="{{classesProjectTitle scroll}}">{{htmlToText(project.name)}}</h2>
            </router-link>
        <!-- {{else if settingOceco.eventAction}} -->
        </div>
        <div v-else-if="settingOceco.eventAction">
          <!-- <a href="{{pathFor 'eventsListOrga' orgaCibleId=orgaCibleId _id=project._id._str scope='projects'}}"
            class="dark"> -->
            <router-link :to="{ name: 'eventsListOrga', params: '{ oorgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="dark">
            <h2 class="dark">{{htmlToText (project.name)}}</h2>
            </router-link>
        </div>
        <div v-else>
          <!-- <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=project._id._str scope='projects'}}"
            class="dark"> -->
            <router-link :to="{ name: 'detailListOrga', params: '{ oorgaCibleId=orgaCibleId _id=project._id._str scope=projects}'}" class="dark">
            <h2 class="dark">{{htmlToText (project.name)}}</h2>
            </router-link>
        </div>
        </div>

        <div v-if="scroll">
          <button class="button button-dark button-see-event-js" @click="handleClickSeeEvent"> <span
              class="padding-right">{{projectActionsCount (project._id)}}</span> <i
              class="icon ion-ios-arrow-up"></i></button>
        </div>
        <div v-else>
          <button class="button button-dark button-see-event-js" @click="handleClickSeeEvent"> <span
              class="padding-right">{{projectActionsCount (project._id)}}</span> <i
              class="icon ion-ios-arrow-down"></i></button>
        </div>
        </div>
      </div>


  <div v-if="scroll">
    <div v-if="projectActionsCount (project._id)">
      <div class="item item-stable">{{ $t("message.ProjectActions")}} <span
          class="badge badge-dark">{{projectActionsCount (project._id)}}</span></div>
      <!-- {{#each action in projectActions project._id}} -->
      <div :v-for="action in projectActions(project._id)">
        <!-- {{> itemInputAction action=action}} -->
        <itemInputAction action=action />
      </div>
    </div>
    <div v-if='projectEventsCount (project._id)'>
      <div class="item item-stable">{{ $t("message.ProjectEvents") }}<span
          class="badge badge-dark">{{projectEventsCount (project._id)}}</span></div>
      <div :v-for="events in projectEvents (project._id)">
        <eventList2 item=event />
      </div>
    </div>
      <div v-else>
      <div v-if="settingOceco.pole">
        <div class="item item-stable">
          {{ $t("message.NoUpcomingEvent") }}
        </div>
      </div>
    </div>
   </div>

</div>
</template>
<script>
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'
import imgDoc from '../images/imgDoc.vue'
import organizationList from './organizationList.vue'
import projectList2 from './projectList2.vue'

import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';


// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions.js';

import { searchAction } from '../../api/client/reactive.js';
import { searchQuery, searchQuerySort } from '../../api/helpers.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

export default {
  name: 'polesView',
  components: {
    organizationList, projectList2, 
  },
  data() {
    return {};
  },
  mounted () {

  },
  created() {
    this.scroll = new ReactiveVar(false);
    this.scrollAction = new ReactiveVar(false);
  },
  meteor: {
    projectEvents(projectObjectId) {
    const query = {};
    const projectId = projectObjectId.valueOf();
    query[`organizer.${projectId}`] = { $exists: true };

    const options = {};
    const searchSort = searchAction.get('searchSort');
    if (searchSort) {
      const arraySort = searchQuerySort('events', searchSort);
      if (arraySort) {
        options.sort = arraySort;
      }
    }

    return Events.find(query, options);
  },
  projectGlobalCount(projectObjectId) {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    const projectId = projectObjectId.valueOf();
    if (search && search.charAt(0) === ':' && search.length > 1) {
      return true;
    }
    let query = {};
    const organizerExist = `organizer.${projectId}`;
    query.parentId = projectId;
    query.status = 'todo';
    if (search) {
      query = searchQuery(query, search);
    }

    return Events.find({ [organizerExist]: { $exists: true } }).count() > 0 || Actions.find(query).count() > 0;
  },
  projectEventsCount(projectObjectId) {
    const query = {};
    const projectId = projectObjectId.valueOf();
    query[`organizer.${projectId}`] = { $exists: true };
    return Events.find(query).count();
  },
  projectActionsCount(projectObjectId) {
    const dataContext = Template.currentData();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    const projectId = projectObjectId.valueOf();

    let query = {};
    query.parentId = projectId;
    query.status = 'todo';
    if (search) {
      query = searchQuery(query, search);
    }

    return Actions.find(query).count();
  },
  projectActions(projectObjectId) {
    const dataContext = Template.currentData();
    const projectId = projectObjectId.valueOf();
    const search = dataContext && dataContext.user ? `@${dataContext.user.username}` : searchAction.get('search');
    // const search = searchAction.get('search');
    let query = {};
    query.parentId = projectId;
    query.status = 'todo';
    if (search) {
      query = searchQuery(query, search);
    }

    const options = {};
    const searchSort = searchAction.get('searchSort');
    if (searchSort) {
      const arraySort = searchQuerySort('actions', searchSort);
      if (arraySort) {
        options.sort = arraySort;
      }
    }

    return Actions.find(query, options);
  },
  scroll() {
    const search = searchAction.get('search');
    if (search) {
      return true;
    }
    return Template.instance().scroll.get();
  },
  classesProject(scroll) {
    const classes = [];
    classes.push('item');
    if (scroll) {
      classes.push('item-positive');
    } else {
      classes.push('item-stable');
    }
    classes.push('item-avatar item-content item-button-right');
    return classes.join(' ');
  },
  classesProjectTitle(scroll) {
    const classes = [];
    if (scroll) {
      classes.push('light');
    } else {
      classes.push('dark');
    }
    return classes.join(' ');
  },
  },
  methods: {
    handleClickSeeEvent(event) {
      event.preventDefault();
    if (Template.instance().scroll.get()) {
      Template.instance().scroll.set(false);
    } else Template.instance().scroll.set(true);
  },

  }
};
</script>
