<template name='switch'>
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{__ "Organization OCECO"}}</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="scroll-bg"}}
            {{#if dataReady}}

                <div class="list">
                    {{#if citoyenScope.isSuperAdmin}}
                        <a href="{{pathFor 'searchGlobal'}}" class="button button-positive button-block"><i
                                class="icon fa fa-cog"></i>
                            {{__ "Activate an organization in oceco"}}</a>
                    {{/if}}
                    {{#each orga in OrganizationsOceco}}
                        <a href="{{pathFor 'switchRedirect' _id=orga._id._str}}"
                            class="item {{#if orga.profilThumbImageUrl}}item-avatar{{/if}}">
                            {{orga.name}}
                            {{#if orga.profilThumbImageUrl}}
                                {{> imgDoc profilThumbImageUrl=orga.profilThumbImageUrl}}
                            {{/if}}
                            <p>{{orga.description}}</p>
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        {{/ionContent}}
    {{/ionView}}
</template>