<template name="switch">
  <div class="headerTitle">
  <h1 class="title">{{ $t("message.OrganizationOCECO") }}</h1>
  <div class="headerButtonLeft">
  <button class="button button-clear pull-left" data-ion-menu-toggle="left">
    <div v-if="isAndroid">
    <ionIcon icon='android-more-vertical'/>
    <ion-icon icon='android-more-vertical'/>
    </div>
    <div v-else>
    <ion-icon icon='navicon'/>
    </div>
  </button>
  </div>
  <div v-if="dataReady">

  <div class="list">
    <div v-if="citoyenScope.isSuperAdmin">
    <router-link to="{name: 'searchGlobal'}" class="button button-positive button-block">
    <i class="icon fa fa-cog"></i>
      {{ $t("message.ActivateOrganizationOceco") }}
    </router-link>
=    </div>
  <div :v-for= "orga in OrganizationsOceco">
    <router-link to="{ name: 'switchRedirect', params: {_id: orga._id._str}}"
      v-bind:class="
            orga.profilThumbImageUrl
              ? 'item-avatar'
              : 'item'
          "
        >
      {{ orga.name }}
      <div v-if="orga.profilThumbImageUrl">
      <!-- {{> imgDoc profilThumbImageUrl=orga.profilThumbImageUrl}} -->
      <imgDoc profilThumbImageUrl=orga.profilThumbImageUrl />
      </div>
      <p>{{ orga.description }}</p>
     </router-link>
    </div>
  </div>
  </div>
  <div v-else>
    Loading...
  </div>
  </div>
</template>
<script>
import { Meteor } from "meteor/meteor";
import { Template } from "meteor/templating";
import { ReactiveVar } from "meteor/reactive-var";
import { Mongo } from "meteor/mongo";

// collection
import { Organizations } from "../../api/collection/organizations.js";
import { Citoyens } from "../../api/collection/citoyens.js";

window.Organizations = Organizations;

export default {
  name: "Switch",
  data() {
    return {};
  },

  created() {
    this.ready = new ReactiveVar(false);
    Meteor.autorun(
      function () {
        const handle = Meteor.subscribe("orga.switch");
        this.ready.set(handle.ready());
      }.bind(this)
    );
  },
  meteor: {
    OrganizationsOceco() {
      return Organizations.find({
        oceco: { $exists: true },
        parent: { $exists: false },
      });
    },
    citoyenScope() {
      return Citoyens.findOne(
        { _id: new Mongo.ObjectID(Meteor.userId()) },
        { fields: { pwd: 0 } }
      );
    },
    dataReady() {
      return this.ready.get();
    },
  },
};
</script>
