<template name="searchSortItemToggle">
<div>
  <div class="item item-toggle">
    {{label}}
    <label class="toggle toggle-balanced">
      <input id="{{type}}.{{field}}" class="sort-checked-js" type="checkbox" :checked="checked ? 'checked' : ''">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
  <div v-if="checked">
    <div class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        <div v-if="fieldDesc">
          <input type="checkbox" class="sort-desc-js" value="true" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox" checked="checked">
        </div>
        <div v-else>
          <input type="checkbox" class="sort-desc-js" value="false" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox">
        </div>
      </label>
    </div>
      {{ $t("message.descendingSort") }}
</div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection 
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';

export default {
  name: "searchSort",
  data() {
    return {};
  },
  props: [
    'type', 'field', 'checked', 'label', 'fieldDesc'
  ],
  methods: {
    handleSortChecked(event) {
      const self = this;
    if (this.type) {
      const sort = searchAction.get('searchSort');
      const arrayOrder = sort[this.type].filter((item) => item.checked === true);
      const countOrder = arrayOrder && arrayOrder.length > 0 ? arrayOrder.length : 0;
      sort[this.type] = sort[this.type].map((item) => {
        if (item.field === self.field) {
          item.checked = event.currentTarget.checked;
          if (event.currentTarget.checked) {
            item.order = countOrder + 1;
          } else {
            delete item.order;
          }
          return item;
        }
        return item;
      });
      searchAction.set('searchSort', sort);
    }
    },
    handleSortDesc(event) {
      const self = this;
    if (this.type) {
      const sort = searchAction.get('searchSort');
      sort[this.type] = sort[this.type].map((item) => {
        if (item.field === self.field) {
          item.fieldDesc = event.currentTarget.checked;
          return item;
        }
        return item;
      });
      searchAction.set('searchSort', sort);
    }
    },

  }
}
</script>