<template name="searchSort">
<div>
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{$t ("message.Sort") }}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
         <div v-if="isHome">
          <div v-if="settingOceco.projectAction">
            <div class="item item-divider">
              <!-- {{$t ("message.sortProjectsBy") }} {{#each orderType 'projects'}}{{label}} {{/each}} -->
              {{$t ("message.sortProjectsBy") }}  <div :v-for="orderType in 'projects'"> {{label}} </div>
            </div>
            <div :v-for="searchSort.projects">
              <!-- {{> searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}} -->
              <searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc />
            </div>
          </div>

          <div v-else-if="settingOceco.eventAction">
            <div class="item item-divider">
              {{$t ("message.EventsBy") }}
              <div :v-for="orderType in 'events'"> {{label}} </div>
            </div>
            <div :v-for="searchSort.events">
              <!-- {{> searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}} -->
              <searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc />
            </div>
          </div>
        </div>

        <div class="item item-divider">
         {{$t ("message.sortActionsBy") }}
         <div :v-for="orderType in 'actions'">{{label}}</div>
        </div>
        <div :v-for="searchSort.actions">
          <searchSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc />
        </div>

      </div>
    </div>
  </div>
</template>
<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection 
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';
import searchSortItemToggle from './searchSortItemToggle.vue'


export default {
  name: "searchSort",
  components: {
    searchSortItemToggle,
  },
  data() {
    return {};
  },

  meteor: {
      isHome() {
    return Router.current().route.getName() === 'home';
  },
  searchSort() {
    if (searchAction.get('searchSort')) {
      return searchAction.get('searchSort');
    }
    // Todo : translate label
    const sortDefault = {
      projects: [
        {
          label: $t('sortModal.name'), type: 'projects', field: 'name', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.activity_date'), type: 'projects', field: 'modified', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.start_date'), type: 'projects', field: 'startDate', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.end_date'), type: 'projects', field: 'endDate', existField: true, checked: false, fieldDesc: false,
        },
      ],
      events: [
        {
          label: $t('sortModal.name'), type: 'events', field: 'name', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.activity_date'), type: 'events', field: 'modified', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.start_date'), type: 'events', field: 'startDate', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.end_date'), type: 'events', field: 'endDate', existField: true, checked: false, fieldDesc: false,
        },
      ],
      actions: [
        {
          label: $t('sortModal.name'), type: 'actions', field: 'name', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.activity_date'), type: 'actions', field: 'modified', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.creation_date'), type: 'actions', field: 'created', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.start_date'), type: 'actions', field: 'startDate', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.start_date'), type: 'actions', field: 'endDate', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.contributor'), type: 'actions', field: 'links.contributors', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.comment'), type: 'actions', field: 'commentCount', existField: true, checked: false, fieldDesc: false,
        },
        {
          label: $t('sortModal.credits'), type: 'actions', field: 'credits', existField: true, checked: false, fieldDesc: false,
        },
      ],
    };
    searchAction.set('searchSort', sortDefault);
    return searchAction.get('searchSort');
  },
  orderType(type) {
    if (type) {
      const sort = searchAction.get('searchSort');
      return sort && sort[type] ? [...sort[type]].filter((item) => item.checked === true).sort(compareValues('order')) : [];
    }
  },
  }




}

</script>