<template name="searchActions">
  <div>
    <label class="item item-input search">
      <i
        v-bind:class="
            search
              ? 'positive'
              : 'icon ion-search placeholder-icon'
          "
        >
      >
      </i>
      <input
        id="search"
        type="text"
        v-bind:placeholder="$t('message.searchActionPlaceholder')"
        :value="search()"
        autocomplete="off"
        v-model='search'
        @keyup="keyUpSearch"
        @keydown="keyDownSearch"
      />
      <button
        v-bind:class="
            sortActived
              ? 'button-positive'
              : 'button button-clear'
          "
        data-ion-modal="searchSort"
        >
        <i class="icon fa fa-sort-alpha-asc"></i>
      </button>
    </label>

    <div v-if="searchTag()">
      <div class="item item-divider">
        {{ $t("message.filterByTags") }}
      </div>

      <div :v-for="allTags() ">
      <div class="item item-icon-left item-positive searchtag-js">
        <i class="icon fa fa-tag"></i> {{ this }}
      </div>
      </div>

    </div>

    <div v-if="searchMilestone() ">
      <div class="item item-divider">
        {{ $t("message.filterByMilestones") }}
      </div>
      <div :v-for="allMilestone() ">
      <div class="item item-icon-left item-calm searchmilestone-js">
        <i class="icon fa fa-flag"></i> {{ this }}
      </div>
      </div>
    </div>

    <div v-if="searchUser() ">
      <div class="item item-divider">
        {{ $t("message.filterByUser") }}
      </div>
      <div :v-for="allUsers()">
      <div class="item item-icon-left item-positive searchuser-js">
        <i class="icon fa fa-user"></i> {{ name }}
      </div>
      </div>
    </div>

    <div v-if="searchHelp() ">
      <div class="item item-divider">
        {{ $t("message.filterActions") }}
      </div>
      <a class="item item-dark item-icon-left searchfilter-js" data-action="?c">
        <i class="icon fa fa-filter"></i> {{ $t("message.withContributors") }}
        <code>?c</code>
      </a>
      <a
        class="item item-dark item-icon-left searchfilter-js"
        data-action="?nc"
      >
        <i class="icon fa fa-filter"></i> {{ $t("message.withoutContributors") }}
        <code>?nc</code>
      </a>
      <a
        class="item item-dark item-icon-left searchfilter-js"
        data-action="?me"
      >
        <i class="icon fa fa-filter"></i> {{ $t("message.withoutContributors") }}
        <code>?me</code>
      </a>
      <a class="item item-dark item-icon-left searchfilter-js" data-action="#">
        <i class="icon fa fa-filter"></i> {{ $t("message.byTags") }} <code>#</code>
      </a>
      <a class="item item-dark item-icon-left searchfilter-js" data-action="~">
        <i class="icon fa fa-filter"></i> {{ $t("message.byMilestone") }} <code>~</code>
      </a>
      <a class="item item-dark item-icon-left searchfilter-js" data-action=":">
        <i class="icon fa fa-filter"></i> {{ $t("message.byProjects") }}<code>:</code>
      </a>
      <a
        class="item item-dark item-icon-left searchfilter-js"
        data-action="?old"
      >
        <i class="icon fa fa-filter"></i> {{ $t("message.veryOld") }} <code>?old</code>
      </a>
    </div>
  </div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';


export default {
  name: "searchActions",
  data() {
    return {};
  },
  mounted() {
  const wrap = $('.view .content.overflow-scroll');
  const search = $('.view .content.overflow-scroll #search');
  if (wrap.length > 0 && search.length > 0) {
    wrap.on('scroll', function () {
      if (!Platform.isIOS()) {
        if (this.scrollTop > 147) {
          wrap.addClass('fix-search');
        }
        if (this.scrollTop < 82) {
          wrap.removeClass('fix-search');
        }
      }
    });
  } else {
    const wrapModal = $('.modal .content.overflow-scroll');
    const searchModal = $('.modal .content.overflow-scroll #search');
    if (wrapModal.length > 0 && searchModal.length > 0) {
      wrapModal.on('scroll', function () {
        if (!Platform.isIOS()) {
          if (this.scrollTop > 147) {
            wrapModal.addClass('fix-search');
          }
          if (this.scrollTop < 82) {
            wrapModal.removeClass('fix-search');
          }
        }
      });
    }
  }
  },

  meteor: {
    search() {
    const search = searchAction.get('search');
    if (Router.current().route.getName() === 'actionsList' || Router.current().route.getName() === 'actionsListOrga') {
      if (search && search.charAt(0) === ':') {
        searchAction.set('search', null);
      }
    }
    return searchAction.get('search');
  },
  searchTag() {
    return searchAction.get('searchTag');
  },
  searchMilestone() {
    return searchAction.get('searchMilestone');
  },
  searchUser() {
    return searchAction.get('searchUser');
  },
  searchHelp() {
    return searchAction.get('searchHelp');
  },
  searchMaintenance() {
    return searchAction.get('searchMaintenance');
  },
  sortActived() {
    if (searchAction.get('searchSort')) {
      if (Router.current().route.getName() === 'actionsList' || Router.current().route.getName() === 'actionsListOrga') {
        const actionArray = searchAction.get('searchSort');
        const searchPick = { actions: [...actionArray.actions] };
        return searchQuerySortActived(searchPick);
      }
      return searchQuerySortActived(searchAction.get('searchSort'));
    }
    return false;
  },
  allTags() {
    const orgaOne = Organizations.findOne({ _id: new Mongo.ObjectID(Session.get('orgaCibleId')) });
    if (!orgaOne) {
      return null;
    }
    const searchTag = searchAction.get('searchTag');
    const arrayAll = orgaOne.actionsAll().map((action) => action.tags).filter(Boolean);
    const mergeDedupe = (arr) => [...new Set([].concat(...arr))];
    const arrayAllMerge = mergeDedupe(arrayAll);

    return searchTag && searchTag.length > 1 ? arrayAllMerge.filter((item) => item.includes(searchTag.substr(1))) : arrayAllMerge;
  },
  allMilestones() {
    const orgaOne = Organizations.findOne({ _id: new Mongo.ObjectID(Session.get('orgaCibleId')) });
    if (!orgaOne) {
      return null;
    }
    const searchMilestone = searchAction.get('searchMilestone');
    const arrayAll = orgaOne.actionsAll().map((action) => action.milestone && action.milestone.name).filter(Boolean);
    const mergeDedupe = (arr) => [...new Set([].concat(...arr))];
    const arrayAllMerge = mergeDedupe(arrayAll);

    return searchMilestone && searchMilestone.length > 1 ? arrayAllMerge.filter((item) => item.includes(searchMilestone.substr(1))) : arrayAllMerge;
  },
  allUsers() {
    const search = searchAction.get('search');
    if (search && search.charAt(0) === '@' && search.length > 1) {
      const searchApplyDiacritics = applyDiacritics(search.substr(1).replace(/[.*+?^${}()|[\]\\]/g, '\\$&'), 'regex');
      const query = {};
      query.$or = [];
      const queryName = {};
      const queryUsername = {};
      queryName.name = { $regex: `.*${searchApplyDiacritics}.*`, $options: 'i' };
      queryUsername.username = { $regex: `.*${search.substr(1)}.*`, $options: 'i' };
      query.$or.push(queryName);
      query.$or.push(queryUsername);
      return Citoyens.find(query);
    }
    return Citoyens.find();
  },
  },
  methods: {
    handleSearchTag(event) {
      event.preventDefault();
    if (this) {
      searchAction.set('search', `#${this}`);
    } else {
      searchAction.set('search', null);
    }
    },
    handleSearchMilestone (event) {
      event.preventDefault();
    if (this) {
      searchAction.set('search', `~${this}`);
    } else {
      searchAction.set('search', null);
    }
    },
    handleSearchUser (event) {
       event.preventDefault();
    if (this) {
      searchAction.set('search', `@${this.username}`);
    } else {
      searchAction.set('search', null);
    }
    },
    handleSearchFilter (event) {
      event.preventDefault();
    const filter = $(event.currentTarget).data('action');
    if (filter) {
      searchAction.set('search', filter);
      searchAction.set('searchHelp', null);
    } else {
      searchAction.set('search', null);
    }
    },

    keyUpSearch(event) {

      if (event.currentTarget.value.length > 0) {
      // console.log(event.currentTarget.value);

      if (event.currentTarget.value.charAt(0) === '#') {
        searchAction.set('searchTag', event.currentTarget.value);
      } else {
        searchAction.set('searchTag', null);
      }

      if (event.currentTarget.value.charAt(0) === '~') {
        searchAction.set('searchMilestone', event.currentTarget.value);
      } else {
        searchAction.set('searchMilestone', null);
      }

      if (event.currentTarget.value.length === 1 && event.currentTarget.value.charAt(0) === '?') {
        searchAction.set('searchHelp', true);
      } else {
        searchAction.set('searchHelp', null);
      }

      if (event.currentTarget.value.length > 0 && event.currentTarget.value.charAt(0) === '@') {
        searchAction.set('searchUser', true);
      } else {
        searchAction.set('searchUser', null);
      }

      if (event.currentTarget.value.length === 4 && event.currentTarget.value === '?old') {
        searchAction.set('searchMaintenance', true);
      } else {
        searchAction.set('searchMaintenance', null);
      }

      searchAction.set('search', event.currentTarget.value);
      searchAction.set('actionName', event.currentTarget.value);
    } else {
      searchAction.set('search', null);
      searchAction.set('searchTag', null);
      searchAction.set('searchMilestone', null);
      searchAction.set('searchHelp', null);
      searchAction.set('searchMaintenance', null);
      searchAction.set('actionName', null);
      searchAction.set('searchUser', null);
    }
    },

    keyDownSearch (event) {
      if (event.keyCode === 13 && (event.metaKey || event.ctrlKey)) {
      // savoir si je suis dans le detail d'un element
      // récupérer les valeurs utiles pour soit publier
      // soit rediriger vers le form action avce le name préremplie
      if (event.currentTarget.value.length > 0) {
        if (Router.current().route.getName() === 'actionsList' || Router.current().route.getName() === 'actionsListOrga') {
          if (Template.currentData().isAdmin()) {
            searchAction.set('actionName', event.currentTarget.value);
            Router.go('actionsAdd', { _id: Router.current().params._id, scope: Router.current().params.scope });
          }
        }
      }
    }
    }
  },


};
</script>
