<template name="listFollows">
<div>
  <div class="headerTitle">
    <h1 class="title">{{ $t("follows") }}</h1>
  </div>

  <div class="headerButtonLeft">
    <goBackButton />
  </div>

  <div class="headerButtonRight">

  </div>



  <div v-if="dataReady">
        <div class="padding">
          <div class="list">
            <div class="item item-divider">
              <i class="icon ion-ios-people"></i> {{ $t("follows") }} <span
                class="badge badge-dark">{{citoyens.countFollows}}</span>
            </div>
            <transition in="zoomIn" out="bounceOut">
              <div :v-for="citoyens.listFollows">
                <div class="item item-avatar item-button-right animated out">
                  <imgDoc />
                  <h2><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a>
                  <router-link :to="{ name: 'detailList', params: '{_id=_id._str scope=citoyens}'}"  class="dark">
                  {{name}}
                  </router-link>
                  </h2>
                  <div v-if="onlineFollows">
                    //Traduire
                    <span class="badge badge-balanced">{{ $t("online")}}</span>
                  </div>
                  <button class="button button-positive unfollowperson-link" @click='handleUnfollow'>
                    <i class="icon fa fa-unlink"></i>
                  </button>
                </div>
              </div> 
            </transition>
          </div>
        </div>
  </div>
</div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';
import { Mongo } from 'meteor/mongo';
import { Router } from 'meteor/iron:router';

import { Citoyens } from '../../api/collection/citoyens.js';
import goBackButton from '../global/goBackButton.vue'
import imgDoc from '../images/imgDoc.vue'

export default {
  name: "listFollows",
  components:{
     goBackButton, imgDoc,
  },
  data() {
    return {};
  },

  created() {
    const self = this;
  self.ready = new ReactiveVar();

  self.autorun(function () {
    const handle = Meteor.subscribe('listFollows', Router.current().params._id);
    self.ready.set(handle.ready());
  });

  },

  meteor: {
  citoyens() {
    return Citoyens.findOne({ _id: new Mongo.ObjectID(Router.current().params._id) });
  },
  onlineFollows() {
    const user = Meteor.users.findOne({ _id: this._id._str });
    return user && user.profile && user.status.online;
  },
  dataReady() {
    return Template.instance().ready.get();
  },
  },

  methods: {
      handleUnfollow(event) {
        event.preventDefault();
        Meteor.call('disconnectEntity', this._id._str, 'citoyens');

      },
      handleFollow (event) {
        event.preventDefault();
        Meteor.call('followEntity', this._id._str, 'citoyens');
      }
  }
}
</script>