<template name='homeView'>
<div>

    <h1 class="title">{{ $t("message.home") }}</h1>

  <div class="headerButtonLeft">
    <button v-if="isAndroid" class="button button-clear pull-left" data-ion-menu-toggle="left">
        <ion-icon name='android-more-vertical'></ion-icon>
    </button>
    <button v-else>
      <ion-icon name='navicon'></ion-icon>
    </button>
  </div>

  <div class="headerButtonRight">
    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      <transition in="bounceInDown" out="bounceOutUp">
        <div v-if ='notificationsCount'>
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        </div>
      </transition>
    </button>
  </div>

    <div class="scroll-bg">

      <div v-if='settingOceco'>
        <div v-if='scope.isMembers'>
          <div v-if='settingOceco.pole'>
            <div v-if='settingOceco.home'>
              <!-- {{scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"}} -->
              <scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"/>
            </div>
             <div v-else>
              <!-- {{> scrollPrez title=(__ "Choice of pole") prez=(__ "Choice_of_pole_description") icon="ion-home"}} -->
                           <scrollPrez v-bind:title="$t('message.ChoiceOfPole')" v-bind:prez="$t('message.ChoiceOfPoleDescription')" icon="ion-home" />
             </div>

           <div v-else->
            <div v-if='settingOceco.home'>
              <!-- {{> scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"}} -->
                            <scrollPrez title=settingOceco.home.textTitre prez=settingOceco.home.textInfo icon="ion-home"/>
              
            </div>
            <div v-else>
              <!-- {{> scrollPrez title=(__ "Choice of projects") prez=(__ "Choice_of_projects_description") icon="ion-home"}} -->
              <scrollPrez v-bind:title="$t('message.ChoiceOfPole')" v-bind:prez="$t('message.ChoiceOfPoleDescription')" icon="ion-home" />
              </div>
          </div>

          <div v-if='settingOceco.pole'>
            <div :v-for="poles in RaffineriePoles">
              <router-link to="/polesView" class="item">{{poles}}</router-link>
            </div>
          </div>
          <div v-else-if='!settingOceco.pole'>
           // Ask thomas
            <projectsView />
           </div>  
          
         <div v-else>
         // Ask 
          <scrollPrez v-bind:title="$t('message.Member')" v-bind:prez="$t('message.MemberValidDescrpition')" icon="ion-home" />
         </div>

          <div v-if='scope.toBeValidated'>
            <button class="button button-block disabled">
              <i class="icon fa fa-hourglass-half"></i> {{ $t("message.Pending") }}
            </button>
          </div>
           <div v-else>
            <div v-if="scope.isInviting ('member',currentUser._id)">
              <button class="button button-block disabled">
                <i class="icon fa fa-hourglass-half"></i> {{ $t("message.Pending") }}
              </button>
              <transition in="zoomIn" out="bounceOut">
                <div class="list">
                // Ask
                  <!-- {{#with scope.InvitingUser 'members' currentUser._id}} -->

                    <div class="item item-text-wrap animated out">
                      <p>
                        <router-link to="/detailList" class="dark" >{{invitorName}}</router-link>
                        <div v-if='isAdmin'>
                          {{ $t("message.invitedtoBeAdmin") }}
                        </div>
                        <div v-else>
                          {{ $t("message.invitedYou") }}
                        </div>
                      <p/>
                    </div>
                  <!-- {{/with}} -->
                  <div class="button-bar bar-clear">
                  // Ask
                    <!-- {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting 'members' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}} -->
                    <boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting(members) currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""/>
                    <boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting(members) currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""/>
                    <!-- {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=(scope.isInviting 'members' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}} -->
                  </div>
                </div>
              </transition>
            </div>
            <div v-else>
              <!-- {{> boutonCard id=scope._id._str scope=scope.scopeVar isConnect=scope.isMembers classOff="button-block connectscope-link" classOn="button-block disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOn=(__ "No longer be a member of the organization") titleOff=(__ "Become a member of the organization")}} -->
              <boutonCard id=scope._id._str scope=scope.scopeVar isConnect=scope.isMembers classOff="button-block connectscope-link" classOn="button-block disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" v-bind:titleOn="$t('message.NoLongerMemberOrga')" v-bind:titleOff="$t('message.BecomeMemberOrga')" />
            </div>
      </div>
    </div>
</template>
<script>
import { Meteor } from "meteor/meteor";
import { Mongo } from 'meteor/mongo';
import { moment } from 'meteor/momentjs:moment';
import { ReactiveVar } from 'meteor/reactive-var';

// collection 
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';

import { searchAction } from '../../api/client/reactive.js';
import {
  compareValues, searchQuerySort, searchQuerySortActived, applyDiacritics,
} from '../../api/helpers.js';
import { Citoyens } from '../../api/collection/citoyens.js';
import { Actions } from '../../api/collection/actions';
import projectsView from './components/Views/projectsView.vue'
import scrollPrez from '../global/scrollPrez.vue'
import boutonCard from '../components/news/button-card.vue'

export default {
  name: "HomeView",
  components: {
    projectsView,
    scrollPrez,
    boutonCard,
  },
  data() {
    return {
      title:'',
      prez:'',
      icon:'',
    };
  },

  created() {
    if (Session.get('urlRedirect')) {
    this.$router.push(Session.get('urlRedirect'));
    Session.set('urlRedirect', null);
  }

  },

  meteor: {
    scope() {
    return Organizations.findOne({
      _id: new Mongo.ObjectID(Session.get('orgaCibleId')),
    });
    
  },

  RaffineriePoles() {
    if (Session.get('settingOceco').pole === true) {
      const id = new Mongo.ObjectID(Session.get('orgaCibleId'));
      const raffinerieCursor = Organizations.findOne({ _id: id });
      if (raffinerieCursor) {
        const raffinerieArray = raffinerieCursor.listProjectsCreator();
        const raffinerieTags = raffinerieArray ? raffinerieArray.map((tag) => tag.tags && tag.tags[0]).filter((tag) => typeof tag !== 'undefined') : null;
        const uniqueRaffinerieTags = raffinerieTags ? Array.from(new Set(raffinerieTags)) : null;
        return uniqueRaffinerieTags || [];
      }
    } else {
      const id = new Mongo.ObjectID(Session.get('orgaCibleId'));
      const raffinerieCursor = Organizations.findOne({ _id: id });
      return raffinerieCursor.listProjectsCreator() || [];
    }
  },
  search() {
    return searchAction.get('search');
  },
  methods: {
    
  },
},
}

</script>