<template name="ionToast">
    <div class="toast">
        <div class="toast-section">
            {{#if showClose}}
            <span class="toast-close">
                <i class="icon ion-android-close toast-close-icon"></i>
            </span>
            {{/if}}
            {{# if title}}
            <span class="toast-title">{{{title}}}</span>
            {{/if}}
            {{#if template}}
                {{{template}}}
            {{/if}}
        </div>
    </div>
</template>
