<template name='wallet'>
    {{#contentFor "headerTitle"}}
        <h1 class="title"> {{currentUser.profile.pixelhumain.username}}:{{userCredit}}
            {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
            {{else}}
                R
            {{/if}}
        </h1>
    {{/contentFor}}
    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
            data-ion-menu-toggle="right">
            {{#transition in="bounceInDown" out="bounceOutUp"}}
                {{#if notificationsCount}}
                    <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
                {{/if}}
            {{/transition}}
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="scroll-bg"}}
            <div class="list">
                {{#if settingOceco.account}}
                    {{#if settingOceco.wallet}}
                        {{> scrollPrez title=settingOceco.wallet.textTitre prez=settingOceco.wallet.textInfo icon="ion-clock"}}
                    {{else}}
                        {{> scrollPrez title=(__ "Time space") prez=(__ "Time_space_description") icon="ion-clock"}}
                    {{/if}}
                {{else}}
                    {{> scrollPrez title=(__ "Time space") prez=(__ "Time_space_description") icon="ion-clock"}}
                {{/if}}

                {{#if dataReady}}
                    <div class="item tabs">
                        <div class="tabs tabs-striped">

                            {{#if settingOceco.wallet}}
                                {{#if settingOceco.wallet.coupDeMain}}
                                    <a class="tab-item {{#if equals selectview 'aFaire'}}tab-item-active{{/if}} change-selectview-js"
                                        id="aFaire">{{settingOceco.wallet.coupDeMain.textBouton}}</a>
                                {{else}}
                                    <a class="tab-item {{#if equals selectview 'aFaire'}}tab-item-active{{/if}} change-selectview-js"
                                        id="aFaire">{{ __"Helping hand"}}</a>
                                {{/if}}

                                {{#if settingOceco.wallet.enAttente}}
                                    <a class="tab-item {{#if equals selectview 'enAttente'}}tab-item-active{{/if}} change-selectview-js"
                                        id="enAttente">{{settingOceco.wallet.enAttente.textBouton}}</a>
                                {{else}}
                                    <a class="tab-item {{#if equals selectview 'enAttente'}}tab-item-active{{/if}} change-selectview-js"
                                        id="enAttente">{{ __"Awaiting"}}</a>
                                {{/if}}

                            {{else}}
                                <a class="tab-item {{#if equals selectview 'aFaire'}}tab-item-active{{/if}} change-selectview-js"
                                    id="aFaire">{{ __"Helping hand"}}</a>
                                <a class="tab-item {{#if equals selectview 'enAttente'}}tab-item-active{{/if}} change-selectview-js"
                                    id="enAttente">{{ __"Awaiting"}}</a>
                            {{/if}}

                        </div>
                    </div>

                    {{#if equals selectview 'aFaire'}}
                        {{>searchActions}}
                        {{#if settingOceco.wallet}}
                            {{#if settingOceco.wallet.coupDeMain}}
                                <div class="item item-divider">{{settingOceco.wallet.coupDeMain.textTitre}}</div>
                                <div class="item item-text-wrap">{{settingOceco.wallet.coupDeMain.textInfo}}</div>
                            {{else}}
                                <div class="item item-divider">{{__"Helping hand"}}</div>
                                <div class="item item-text-wrap">{{__ "Helping_hand_description"}}</div>
                            {{/if}}

                        {{else}}
                            <div class="item item-divider">{{ __"Helping hand"}}</div>
                            <div class="item item-text-wrap">{{__ "Helping_hand_description"}}</div>
                        {{/if}}

                        {{#each action in (scope.actionsInWaiting search searchSort)}}
                            {{> whalletInputAction action=action}}
                        {{/each}}

                    {{else if equals selectview 'enAttente'}}

                        {{#if settingOceco.wallet}}
                            {{#if settingOceco.wallet.enAttente}}
                                <div class="item item-divider">{{settingOceco.wallet.enAttente.textTitre}}</div>
                                <div class="item item-text-wrap">{{settingOceco.wallet.enAttente.textInfo}}</div>
                            {{else}}
                                <div class="item item-divider">{{__ "Awaiting validations"}}</div>
                                <div class="item item-text-wrap">{{__ "Awaiting_validations_description"}}</div>
                            {{/if}}

                        {{else}}
                            <div class="item item-divider">{{__ "Awaiting validations"}}</div>
                            <div class="item item-text-wrap">{{__ "Awaiting_validations_description"}}</div>
                        {{/if}}

                        {{#each action in scope.actionsToValidate}}
                            {{> whalletInputInWaitingAction action=action badgeColor="energized"}}
                        {{/each}}

                    {{else if equals selectview 'valides'}}

                        {{#if settingOceco.wallet}}
                            {{#if settingOceco.wallet.valides}}
                                <div class="item item-divider">{{settingOceco.wallet.valides.textTitre}}</div>
                                <div class="item item-text-wrap">{{settingOceco.wallet.valides.textInfo}}</div>
                            {{else}}
                                <div class="item item-divider">{{__ "Validated"}}</div>
                                <div class="item item-text-wrap">{{__ "Validate_description"}}</div>
                            {{/if}}

                        {{else}}
                            <div class="item item-divider">{{__ "Validated"}}</div>
                            <div class="item item-text-wrap">{{__ "Validate_description"}}</div>
                        {{/if}}

                        {{#each action in scope.actionsValidateSpend}}
                            {{> whalletInputInWaitingAction action=action badgeColor="balanced" badgeColorDepense="dark"}}
                        {{/each}}

                    {{else if equals selectview 'depenses'}}
                        <div class="item item-divider">{{__ "Spent"}}</div>
                        <div class="item item-text-wrap">{{__ "Spent_description"}}
                        </div>

                        {{#each action in scope.actionsSpend}}
                            {{> whalletInputInWaitingAction action=action badgeColor="dark"}}
                        {{/each}}

                    {{/if}}

                {{/if}}
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>

<template name='whalletInputAction'>
    <div class="item">
        <div class="row padding-bottom">
            <div class="col-50">{{> actionDate action=action}}</div>
            <div class="col-50 text-right">
                <div class="row row-no-padding">{{> actionDuration action=action }}</div>
            </div>
        </div>
        <div class="row row-center padding-bottom">
            <div class="col-90 col-center">
                <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}}"
                    class="subdued dark item-content item-text-wrap">{{{htmlToText action.name}}}</a>
                {{#if action.parentScope}}
                    <a href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType}}"
                        class="subdued positive item-content item-text-wrap">{{htmlToText action.parentScope.name}}</a>
                {{/if}}
            </div>
            <div class="col-10">
                {{#if displayDesc}}
                    <div class="button button-small button-dark display-desc-js"> <i class="icon ion-ios-arrow-up"></i>
                    </div>
                {{else}}
                    <div class="button button-small display-desc-js"> <i class="icon ion-ios-arrow-down"></i> </div>
                {{/if}}
            </div>
        </div>

        {{#if displayDesc}}
            <div div class="col ">
                <div class="item item-text-wrap">{{action.description}}
                    <div class="row">
                        <div class="col-10"><i class="ion-android-calendar"></i></div>
                        {{__ "Start_on_day" day=action.projectDay}}
                    </div>
                    <div class="row">
                        <div class="col-10"><i class="ion-clock"></i></div>
                        {{__ "Duration_in_hours" hours=action.projectDuration}}
                    </div>
                    <div class="row">
                        <div class="col-10"><i class="ion-man"></i></div>
                        {{__ "number_of_participant" count=action.actionParticipantsNbr}}
                    </div>
                    <div class="row">
                        <div class="col-10"><i class="icon ion-ios-arrow-down"></i></div>
                        {{__ "minimum_participant" count=action.min}}
                    </div>
                    <div class="row">
                        <div class="col-10"><i class="icon ion-ios-arrow-up"></i></div>
                        {{__ "maximum_participant" count=action.max}}
                    </div>
                    {{#if action.parentScope}}
                        <div class="row">
                            <div class="col-10"></div>
                            <a href="{{pathFor 'actionsList' _id=action.parentId scope=action.parentType}}"
                                class="subdued dark item-content item-text-wrap">{{action.parentScope.name}}</a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            {{> buttonActionFinish action=action}}
        </div>
    </div>
</template>

<template name='whalletInputInWaitingAction'>
    <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}}"
        class="item item-badge-right">{{{htmlToText action.name}}}
        <div class="badge badge-{{badgeColorTest}}">{{action.credits}}
            {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
        </div>
    </a>
</template>

<template name='buttonActionFinish'>

    <div class="button-bar bar-positive">
        {{#if action.endDate}}
            {{#if action.isNotStartDate}}
                <button class="button button-small button-positive button-block sortir-action-js"><i
                        class="fa fa-times-circle-o"></i>
                    {{__ "No longer participate"}}</button>
            {{else}}
                {{#if action.isEndDate}}
                    <button class="button button-small button-balanced button-block finish-action-js"><i
                            class="fa fa-check"></i> {{__ "Action Finished"}}</button>
                {{else}}
                    <div class="item col col-center text-center">
                        <span class="balanced"><i class="fa fa-check"></i> {{__"In progress"}}</span>
                    </div>
                {{/if}}
            {{/if}}
        {{else}}
            <button class="button button-small button-positive button-block sortir-action-js"><i
                    class="fa fa-times-circle-o"></i>
                {{__ "No longer participate"}}</button>
            <button class="button button-small button-balanced button-block finish-action-js"><i
                    class="fa fa-check"></i> {{__ "Action Finished"}}</button>
        {{/if}}

    </div>

</template>