<template name="itemInputActionTags">
<div>
  <div v-if="tags">
    <div class="padding-top">
      <div :v-for="tags">
        <span class="badge-simple badge-positive searchtag-js" @click="handleClickSearchTag"><i class="icon-simple fa fa-tag"></i>{{this}}</span>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name:'itemInputActionTags',
  data() {
    return {}
  },
  props: [
   'this'
  ],
  methods: {
    handleClickSearchTag(event) {
      event.preventDefault();
    if (this) {
      searchAction.set('search', `#${this}`);
    } else {
      searchAction.set('search', null);
    }
  },
  }
}
</script>