<template name="itemInputActionDetail">
<div>
  <div class="item">

    <div div class="col ">
      <div v-if="equals(action.parentType, 'citoyens')">
        <div v-if="action.startDate">
          <div class="row">
            <div class="col-10"> <i class="ion-android-calendar"></i></div>
            <div class="col">
              {{ $t("message.Start_on_day") }}{{day=action.projectDay}}
            </div>
          </div>
        </div>
        <div v-if="action.actionStartFromEnd">
          <div class="row">
            <div class="col-10"><i class="ion-clock"></i></div>
            <div class="col">
              {{$t("message.duration")}}{{action.actionStartFromEnd}}
            </div>
          </div>
        </div>
      <div v-else>
        <div v-if="action.creditPositive">
          <div v-if="action.credits">
            <div class="row">
              <div class="col-10"><i class="icon ion-card"> </i></div>
              <div class="col">
                {{ $t("message.You_will_earn_count_credit") }}{{count=action.credits}}
              </div>
            </div>
          </div>
          <div v-else>
          <div class="row">
            <div class="col-10"><i class="icon ion-card"> </i></div>
            <div class="col">
              {{ $t("message.You_will_be_deducted_from_count_credit") }}{{count=action.creditNegative}}
            </div>
          </div>
        </div>
        <div v-if="action.startDate">
          <div class="row">
            <div class="col-10"> <i class="ion-android-calendar"></i></div>
            <div class="col">
              {{ $t("message.Start_on_day") }}{{day=action.projectDay}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10"><i class="ion-clock"></i></div>
          <div class="col">
            {{ $t("message.duration") }}{{action.actionStartFromEnd}}
          </div>
        </div>
        <div class="row">
          <div class="col-10"><i class="ion-man"></i></div>
          <div class="col">
            {{ $t("message.number_of_participant") }}{{count=action.actionParticipantsNbr}}
          </div>
        </div>
        <div v-if="action.min">
          <div class="row row-wrap">
            <div class="col-10"> <i class="icon ion-ios-arrow-down"></i></div>
            <div class="col item-text-wrap ">
              {{ $t("message.minimum_participant") }}{{count=action.min}}
            </div>
          </div>
        </div>
        <div v-if="action.max">
          <div class="row">
            <div class="col-10"><i class="icon ion-ios-arrow-up"></i></div>
            <div class="col">
              {{ $t("message.maximum_participant") }}{{count=action.max}}
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
  <!-- {{>buttonSubscribeAction action }} -->
  <buttonSubscribeAction action />
</div>
</template>
<script>
import buttonSubscribeAction from '../Actions/buttonSubscribeAction.vue'

export default {
  name:'itemInputActionDetail',
  props: [
    'count', 'day', 'action'
  ],
  components:{
   buttonSubscribeAction
  },
  data() {
    return{}
  },
  meteor: {
    displayDesc() {
    return Template.instance().displayDesc.get();
  },
  }
}
</script>