<template name="itemInputActionTasks">
<div>
  <div v-if="totalTask">
    <p class="padding-top">
      <span class="badge-simple badge-positive"><i
          class="icon-simple fa fa-tasks"></i>{{totalChecked}}/{{totalTask}}</span>
    </p>
  </div>
</div>
</template>
<script>
export default {
  name:'itemInputActionTasks',
  props: [
    'totalChecked', 'totalTask'
  ],
  data() {
    return {}
  },
}
</script>