<template name="itemInputActionMilestone">
<div>
  <div v-if='milestone'>
    <p class="padding-top">
      <span class="badge-simple badge-calm searchmilestone-js" @click="handleClickSearchMilestone"><i
          class="icon-simple fa fa-flag"></i>{{milestone.name}}</span>
    </p>
  </div>
</div>
</template>
<script>
export default {
  name:'itemInputActionMilestone',
  props: [
      'milestone.name'
  ],
  data() {
     return {}
  },
  methods: {
    handleClickSearchMilestone (event) {
      event.preventDefault();
    if (this && this.milestone && this.milestone.name) {
      searchAction.set('search', `~${this.milestone.name}`);
    } else {
      searchAction.set('search', null);
    }
  },
  }
}
</script>
