<template name="itemInputAction">
  <div>
    <!-- <div
      class="item item-text-wrap {{#if action.contributorsPlusOne}}item-icon-left{{else}}{{#if action.avatarOneUserAction}}item-avatar{{else if action.contributorsOne}}item-icon-left{{/if}}{{/if}}  item-button-right"
    > -->
     <div v-bind:class="action.contributosPlusOne ? 'item item-text-wrap item-icon-left item-button-right' : action.avatarOneUserAction ? 'item item-text-wrap item-avatar item-button-right' : action.contributorsOne ? 'item item-text-wrap item-icon-left item-button-right' : ' item item-text-wrap item-button-right'">
      <div v-if="action.contributorPlusOne" >
        <i class="icon fa fa-group positive"></i>
      </div>
      <div v-else>
        <div v-if="action.avatarOneUserAction">
          <imgDoc profilThumbImageUrl="action.avatarOneUserAction" />
        </div>
        <div v-else-if="action.contributorsOne">
          <i class="icon fa fa-user positive"></i>
        </div>
      </div>

      <h2>
        <div v-if="action.commentCount">
          <i class="fa fa-comment balanced"></i>
        </div>
        <!-- <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}}"
        class="dark">{{{htmlToText action.name}}}</a> -->
        <router-link
          :to="{
            name: 'actionsDetailOrga',
            params:
              '{orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}',
          }"
          class="dark"
        >
          {{ htmlToText(action.name) }}
        </router-link>

        <!-- {{#if equals action.status 'disabled'}} -->
        <div v-if="equals(action.status, 'disabled')">
          <span class="badge badge-assertive">{{
            $t("message.Canceled")
          }}</span>
        </div>
        <div v-else-if="equals(action.status, 'done')">
          <span class="badge badge-balanced">{{ $t("message.Finished") }}</span>
        </div>
      </h2>
      <div v-if="action.startDate">
        <div>
          <actionDate action="action" />
          <div v-if="equals(action.parentType, 'events')">
            <div v-if="action.min">
              <!-- | <span
              class="{{#if action.isNotMin}}positive{{else}}balanced{{/if}} bold">{{action.countContributorsArray}}/{{#if action.max}}{{action.max}}{{else}}{{action.min}}{{/if}}</span> -->
              <span
                v-bind:class="
                  action.isNotMin ? 'positive bold' : 'balanced bold'
                "
                >{{ action.countContributorsArray }}/
                <div v-if="action.max">{{ action.max }}</div>
                <div v-else>{{ action.min }}</div></span
              >
            </div>
          </div>
        </div>
        <div v-if="viewParent">
          <p>
            <span class="positive bold">{{
              htmlToText(action.parentScope.name)
            }}</span>
          </p>
        </div>
      </div>

      <!-- {{>itemInputActionTags tags=action.tags}} -->
      <itemInputActionTags tags="action.tags" />
      <!-- {{> itemInputActionMilestone milestone=action.milestone}} -->
      <itemInputActionMilestone milestone="action.milestone" />
      <!-- {{> itemInputActionTasks totalTask=action.totalTask totalChecked=action.totalChecked}} -->
      <itemInputActionTasks
        totalTask="action.totalTask"
        totalChecked="action.totalChecked"
      />

      <!-- {{#unless boutonsAction}} -->
      <div v-if="boutonsAction">
        <div v-if="displayDesc">
          <div class="button display-desc-js">
            <i class="icon ion-ios-arrow-up"></i>
          </div>
        </div>
        <div v-else>
          <div class="button display-desc-js">
            <i class="icon ion-ios-arrow-down"></i>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="button {{boutonsAction.event}}">
          <i class="icon {{boutonsAction.icon}}"></i>
        </div>
      </div>
    </div>
    <div v-if="displayDesc">
      <div class="item">
        <div div class="col">
          <div v-if="action.creditPositive">
            <!-- {{#if equals action.parentType 'citoyens'}} -->
            <div v-if="equals(action.parenType, 'citoyens')">=</div>
            <div v-else>
              <div v-if="action.credits">
                <div class="row">
                  <div class="col-10"><i class="icon ion-card"> </i></div>
                  <div class="col">
                    {{ $t("message.You_will_earn_count_credit")
                    }}{{ (count = action.credits) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div v-if="equals(action.parentType, 'citoyens')">
              <!-- {{#if equals action.parentType 'citoyens'}} -->
            </div>
            <div v-else>
              <div class="row">
                <div class="col-10"><i class="icon ion-card"> </i></div>
                <div class="col">
                  {{ $t("message.You_will_be_deducted_from_count_credit")
                  }}{{ (count = action.creditNegative) }}
                </div>
              </div>
            </div>
          </div>
          <div v-if="action.startDate">
            <div class="row">
              <div class="col-10"><i class="ion-android-calendar"></i></div>
              <div class="col">
                {{ $t("message.Start_on_day") }}{{ (day = action.projectDay) }}
              </div>
            </div>
          </div>
          <div v-if="action.endDate">
            <div class="row">
              <div class="col-10"><i class="ion-clock"></i></div>
              <div class="col">
                {{ $t("message.Duration_in_hours")
                }}{{ (hours = action.actionStartFromEnd) }}
              </div>
            </div>
          </div>
          <!-- {{#if equals action.parentType 'citoyens'}} -->
          <div v-if="equals(action.parentType, 'citoyens')"></div>
          <div v-else>
            <div class="row">
              <div class="col-10"><i class="ion-man"></i></div>
              <div class="col">
                {{ $t("message.number_of_participant") }}
                {{ (count = action.actionParticipantsNbr) }}
              </div>
            </div>
          </div>

          <div v-if="action.min">
            <!-- {{#if equals action.parentType 'citoyens'}} -->
            <div v-if="equals(action.parentType, 'citoyens')"></div>
            <div v-else>
              <div class="row row-wrap">
                <div class="col-10">
                  <i class="icon ion-ios-arrow-down"></i>
                </div>
                <div class="col item-text-wrap">
                  {{ $t("message.minimum_participant") }}{{ (count = action.min) }}
                </div>
              </div>
            </div>
          </div>
          <div v-if="action.max">
            <!-- {{#if equals action.parentType 'citoyens'}} -->
            <div v-if="equals(action.parenType, 'citoyens')"></div>
            <div v-else>
              <div class="row">
                <div class="col-10"><i class="icon ion-ios-arrow-up"></i></div>
                <div class="col">
                  {{ $t("message.maximum_participant") }}{{ (count = action.max) }}
                </div>
              </div>
            </div>
          </div>
          <div v-if="action.commentCount">
            <div class="row">
              <div class="col-10 balanced">
                <i class="icon fa fa-comment"></i>
              </div>
              <div class="col">
                <router-link
                  :to="{
                    name: 'actionsDetailCommentsOrga',
                    params:
                      '{orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}',
                  }"
                  class="dark action-modal-comment-js"
                >
                  {{ $t("message.count_commentaire") }}
                  {{ (count = action.commentCount) }}
                </router-link>
              </div>
            </div>
          </div>
          <div v-else>
            <div class="row">
              <div class="col-10 balanced">
                <i class="icon fa fa-comment"></i>
              </div>
              <div class="col">
                <router-link
                  :to="{
                    name: 'actionsDetailCommentsOrga',
                    params:
                      '{orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id._str}',
                  }"
                  @click="handleClickActionModal"
                  class="dark action-modal-comment-js"
                >
                  {{ $t("message.count_commentaire") }} {{ (count = 0) }}
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <buttonSubscribeAction action />
    </div>
  </div>
</template>
<script>
import { Template } from 'meteor/templating';
import { ReactiveVar } from 'meteor/reactive-var';

// collection
import { Events } from '../../api/collection/events.js';
import { Organizations } from '../../api/collection/organizations.js';
import { Projects } from '../../api/collection/projects.js';
import { Citoyens } from '../../api/collection/citoyens.js';

window.Events = Events;
window.Organizations = Organizations;
window.Projects = Projects;
window.Citoyens = Citoyens;

import itemInputActionDetail from './itemInputActionDetail.vue'
import itemInputActionMilestone from './itemInputActionMilestone.vue'
import itemInputActionTags from './itemInputActionTags.vue'
import itemInputActionTasks from './itemInputActionTasks.vue'
import buttonSubscribeAction from '../Actions/buttonSubscribeAction.vue'
import imgDoc from '../../images/imgDoc.vue'

export default {
  name: 'itemInputAction',
  components: {
    itemInputActionDetail, itemInputActionMilestone, itemInputActionTags, itemInputActionTasks, buttonSubscribeAction, imgDoc,
  },
  data() {
    return{}
  },
  created() {
    this.displayDesc = new ReactiveVar(false);
  },
  methods: {
       handleClickActionModal(event) {
    event.preventDefault();
    const parentDataContext = {
      _id: this.action.parentId, scope: this.action.parentType, roomId: this.action.idParentRoom, actionId: this.action._id._str,
    };
    IonModal.open('actionsDetailCommentsModal', parentDataContext); // A remplacer
      },
       handleClickSeeDesc (event) {
          event.preventDefault();
    if (!Template.instance().displayDesc.get()) {
      Template.instance().displayDesc.set(true);
    } else {
      Template.instance().displayDesc.set(false);
    }
        }
  //   'click .action-redirect-js'(event) {
  //   event.preventDefault();
  //   Router.go('actionsDetailOrga', {
  //     orgaCibleId: Session.get('orgaCibleId'), _id: this.action.parentId, scope: this.action.parentType, roomId: this.action.idParentRoom, actionId: this.action._id._str,
  //   });
  // },
  // 'click .assign-jalon-action-js'(event) {
  //   event.preventDefault();
  //   Meteor.call('milestoneAssignAction', { scopeId: this.action.parentId, actionId: this.action._id._str, milestoneId: this.milestoneIdCible }, (error) => {
  //     if (error) {
  //       IonToast.show({
  //         title: i18n.__('Error'), position: 'top', type: 'error', showClose: true, template: `<i class="icon fa fa-exclamation-circle"></i> ${error.reason.replace(': ', '')}`,
  //       });
  //     } else {
  //       IonToast.show({
  //         template: i18n.__('Milestone assignment'), position: 'bottom', type: 'success', showClose: false, title: `<i class="icon ion-checkmark"></i> ${i18n.__('this milestone has been assigned to this action')}`,
  //       });
  //     }
  //   });
  // },
  },
  meteor: {
        displayDesc() {
    return Template.instance().displayDesc.get();
  },
  },
  }
</script>
