<template name="itemAction">
<div>
  <itemInputAction action=action />
</div>
</template>
<script>
import itemInputAction from './itemInputAction.vue'

export default {
  name:'itemAction',
  components: { 
    itemInputAction,
  },
  data() {
    return{}
  },
}
</script>