<template name="listEvents">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>

  {{/contentFor}}

  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content scroll-content has-header has-tabs">
        <div id="calendar"></div>
      </div>
    </div>
  {{/ionView}}

</template>

<template name="ical">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">ical</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{__ "Ical link"}}
        </div>

        <label type="placeholder" for="" placeholderonly="true" class="item item-input">
          <i class="icon fa fa-calendar-alt positive dark placeholder-icon"></i>
          <input type="text" placeholder="" name="icalurl"
            value="{{absoluteUrl}}ical/organizations/{{orgaCibleId}}/events" icon="fa fa-greater-than-equal positive">
        </label>
        <div class="item">
          <button id="copyical" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
            {{__ "Copy"}}</button>
        </div>
        <div class="item item-divider">
          {{__ "Download ics"}}
        </div>
        <div class="item">
          <a href="{{absoluteUrl}}ical/organizations/{{orgaCibleId}}/events" class="button button-block button-positive"
            target="_blank"><i class="fa fa-file-download"></i> {{__ "Download ics"}}</a>
        </div>
        {{#if isAdminOrga}}
          <div class="item">
            <a href="" class="button button-block button-positive ical-admin-js"><i class="fa fa-file-download"></i>
              {{__ "Download 12 month archive ics"}}</a>
          </div>
        {{/if}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="eventsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Create a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addEvent" schema=SchemasEventsRest type="method" meteormethod="insertEvent" template="ionic" class="padding"}}
            {{> eventsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editEvent" schema=SchemasEventsRest type="method-update" meteormethod="updateEvent" doc=event template="ionic" class="padding"}}
            {{> eventsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsBlockEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event autosave=true template="ionic" class="padding"}}
              {{> eventsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event template="ionic" class="padding"}}
              {{> eventsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='url'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
  {{/if}}

  {{#if equals block 'when'}}
    {{> afQuickField name='startDate' type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate' type="datetimepicker" opts=optsDatetimepicker}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "All users have the possibility to participate modify information"}}
      </div>
    </div>
    {{> afQuickField name='preferences.isOpenData'}}
    {{> afQuickField name='preferences.isOpenEdition'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name'}}

    {{#if update}}
      {{> afQuickField name='shortDescription' rows=8}}
      {{> afQuickField name='description' rows=8}}
    {{else}}
      {{> afQuickField name='description' rows=8}}
    {{/if}}

    {{#if dataReadyOrganizer}}
      {{#if organizerType}}
        {{#if optionsOrganizerId organizerType}}
          {{> afQuickField name='organizerId' type='select' options=(optionsOrganizerId organizerType) value=organizerId}}

        {{/if}}
      {{/if}}
    {{/if}}

    {{> afQuickField name='type'}}
    {{> afQuickField name='startDate' type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate' type="datetimepicker" opts=optsDatetimepicker}}

    {{#if settingOceco.costum.events.form.geo}}
      {{> afQuickField name='country' autocomplete="off" value=country }}
      {{#if currentFieldValue "country" country}}
        {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
        {{#if currentFieldValue "postalCode" postalCode}}
          {{#if optionsInsee}}
            {{> afQuickField name='city' options=optionsInsee value=city}}
            {{> afQuickField name='cityName' type="hidden" value=cityName}}
          {{else}}
            <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
              {{__ "Error not postal code match"}}
            </div>
          {{/if}}
        {{/if}}
        {{> afQuickField name='streetAddress' autocomplete="off"}}
        {{#if latlng}}
          {{> map}}
        {{/if}}
        {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
        {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
        {{> afQuickField name='regionName' type="hidden" value=regionName}}
        {{> afQuickField name='depName' type="hidden" value=depName}}
        {{> afQuickField name='localityId' type="hidden" value=localityId}}
      {{/if}}

      {{#if update}}
        {{> afQuickField name='preferences'}}
      {{/if}}
    {{/if}}
  {{/unless}}
</template>